---
import Layout from "../../layouts/Layout.astro";
import "../../../public/css/service-pages/smm-style.css";
import "../../../public/whatsapp-business-api/css/google-ads.css";

const metaTitle = "Google Ads Services | Get Instant Leads with Emovur";
const metaDescription =
  "Launch high-performing Google Ads campaigns with Emovur. We help you generate instant leads, boost conversions, and maximize ROI with precision-targeted strategies.";
const canonicalUrl = "https://emovur.com/services/google-ads";
const keywords = "advertising agency, google adwords, Search engine marketing.";
---

<Layout
  title={metaTitle}
  headerType="main"
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- 
			=============================================
				Theme Main Banner One
			============================================== 
			-->
  <div
    class="rogan-hero-section rogan-hero-one custom pb-50 md-pt-150 md-pb-130 pos-r pb-lg-5"
  >
    <div class="container vw-container">
      <div class="main-wrapper pos-r">
        <div class="row align-items-center">
          <div class="col-lg-7 col-12 text-left">
            <a
              href="https://cloud.google.com/find-a-partner/partner/emovur-bangalore"
              target="_blank"
            >
              <img
                src="/images/services/google-partner.svg"
                alt="Google Adwords"
                width="300"
              /></a
            >
            <h2
              class="banner-main-title pt-15 md-pt-10 wow fadeInUp animated"
              data-wow-delay="0.4s"
            >
              <span>Google Ads <span style="color: #0c9ffa">Expert,</span></span
              >
            </h2>
            <p
              class="google-ads-count pb-25 md-pb-30 wow fadeInUp animated pt-5"
              data-wow-delay="0.5s"
            >
              you can count on!
            </p>
            <p
              class="banner-sub-title pb-25 md-pb-30 wow fadeInUp animated pt-15"
              data-wow-delay="0.9s"
            >
              Official Google Ads Product Experts from India.<br />
              Let’s talk before you hire the Google Ads specialist.
            </p>
            <a
              href="#consult-form-holder"
              class="btn-class-ads theme-btn button-orange solid-button-one wow fadeInLeft animated"
              data-wow-delay="1.5s">Free Quote</a
            >
          </div>
          <div class="col-lg-5 d-none d-lg-block">
            <img
              src="/images/services/google-ads.png"
              alt="Google Adwords / Advertising agency"
            />
          </div>
        </div>
      </div>
      <!-- /.main-wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.rogan-hero-section -->

  <div class="Sticky-Whatsapp-business-api">
    <a href="#consult-form-holder">
      <button
        class="schedule-btn theme-btn"
        style="margin-top: 10px !important;"
        id="stky-lp-btn-b1d"
      >
        Free Quote
      </button>
    </a>
  </div>

  <!-- partner section -->
  <div
    class="rogan-hero-one partner-section pt-150 md-pt-10 md-mt-10 mb-100 pos-r"
  >
    <div class="container">
      <div
        class="google-ads-cards-mainheading d-flex flex-lg-row flex-md-column flex-column align-items-center"
      >
        <div
          class="google-ads-cards d-flex align-items-center flex-column justify-content-start"
        >
          <img
            src="/images/services/KPIs.svg"
            class="img-fluid"
            alt=""
            width="60"
          />
          <h6 class="main-title underline text-center pt-3">
            <span
              >No Vanity Metrics,<br />
              Improve KPIs</span
            >
          </h6>
          <p class="my-3 text-center">
            The game is not simply about any metric what matters the most is
            your business goal.
          </p>
        </div>
        <div
          class="google-ads-cards d-flex align-items-center flex-column justify-content-start"
        >
          <img
            src="/images/services/complete.svg"
            class="img-fluid"
            alt=""
            width="60"
          />
          <h6 class="main-title underline text-center pt-3">
            <span
              >Complete<br />
              Transparency,</span
            >
          </h6>

          <p class="my-3 text-center">
            You are the super admin always. Have complete access to all your
            accounts always.
          </p>
        </div>
        <div
          class="google-ads-cards d-flex align-items-center flex-column justify-content-start"
        >
          <img
            src="/images/services/Strategies.svg"
            class="img-fluid"
            alt=""
            width="60"
          />
          <h6 class="main-title underline text-center pt-3">
            <span
              >Data-Driven<br />
              Strategies</span
            >
          </h6>
          <p class="my-3 text-center">
            Marketing shouldn't be based on gut-feeling. Rely on an approach
            driven by meaningful data.
          </p>
        </div>
        <div
          class="google-ads-cards d-flex align-items-center flex-column justify-content-start"
        >
          <img
            src="/images/services/KPIs.svg"
            class="img-fluid"
            alt=""
            width="60"
          />
          <h6 class="main-title underline text-center pt-3">
            <span
              >Always Around,<br />
              Only A Click Away</span
            >
          </h6>
          <p class="my-3 text-center">
            Getting support should be straight forward. Why raise a ticket and
            wait. We're only a call away.
          </p>
        </div>
      </div>
      <div class="theme-title-one mb-3 pt-70">
        <h3 class="main-title-google-ads pl-3 pl-lg-0 text-left text-lg-center">
          <span>Problem Statement</span>
        </h3>

        <p
          class="banner-sub-title-googl-ads md-pb-30 wow fadeInUp animated pt-20 text-center"
          data-wow-delay="0.9s"
        >
          Capture essence you can't do everything. doing it right and can be
          overwhelming layout, That animation if required. Things you should
          know. + Hire your very own Digital Marketing Strategist, with over a
          decade of expertise.
        </p>
      </div>
    </div>
  </div>

  <!-- partner section ends -->

  <!-- cards section -->
  <div
    class="rogan-hero-one partner-section pt-vh-10 md-pb-100 md-pt-10 md-mt-10 md-mb-10 mb-100 pos-r"
  >
    <div class="cards-section">
      <div class="theme-title-one mb-3">
        <h3
          class="pl-3 pl-lg-0 text-left text-lg-center text-md-center text-center"
        >
          <span class="main-title-google-ads-subhead">Here's How</span><span
            class="main-title-google-ads"
          >
            We Can Help!</span
          >
        </h3>
        <p
          class="banner-sub-title-googl-ads md-pb-30 wow fadeInUp animated pt-20 text-center"
          data-wow-delay="0.9s"
        >
          Data-driven, Performance-focussed digital advertising campaigns across
          multiple platforms.
        </p>
      </div>

      <div
        class="ads-campaign-main d-flex flex-lg-row flex-md-row flex-column align-items-center justify-content-center"
      >
        <img
          src="/images/services/campains.png"
          class="img-fluid"
          alt=""
          width="450"
        />
        <div class="ads-campaign-text-part">
          <h4 class="main-title-google-ads">
            Ads Campaign<h4>
              <h6 class="main-title-google-ads-setup">Setup & Management</h6>
              <div>
                <p
                  class="banner-sub-title-googl-ads-setup md-pb-30 wow fadeInUp animated pt-20"
                >
                  Done For You! The perfect choice when you are looking <br />to
                  outsource your performance marketing to an efficient team.
                </p>
                <!-- <p class="pt-20">
            
                                            <li class="banner-sub-title-googl-ads-list">Access Essential
                                                Digital advertising and performance marketing campaigns across paid search, display,
                                                video, and social networks.</li>
                                            <li class="banner-sub-title-googl-ads-list">Full-funnel digital marketing strategies
                                                equipped with the latest innovations in the industry. From planning to execution to
                                                performance analytics.</li>
                                            <li class="banner-sub-title-googl-ads-list">App Store Optimization (ASO) and Mobile App
                                                Marketing across Google, Meta, Apple, DSPs, and Affiliate Networks.</li>
            
                                        </p> -->
                <div class="dot-main pt-10 banner-sub-title-googl-ads-list">
                  <p class="dot"></p>
                  <p class="dot-para-head">
                    Access Essential Digital advertising and performance
                    marketing campaigns across paid search, display, video, and
                    social networks.
                  </p>
                </div>
                <div class="dot-main banner-sub-title-googl-ads-list">
                  <p class="dot"></p>
                  <p class="dot-para-head">
                    Full-funnel digital marketing strategies equipped with the
                    latest innovations in the industry. From planning to
                    execution to performance analytics.
                  </p>
                </div>
                <div class="dot-main banner-sub-title-googl-ads-list">
                  <p class="dot"></p>
                  <p class="dot-para-head">
                    App Store Optimization (ASO) and Mobile App Marketing across
                    Google, Meta, Apple, DSPs, and Affiliate Networks.
                  </p>
                </div>
              </div>
            </h4>
          </h4>
        </div>
      </div>
      <!-- cards section ends -->

      <!-- cards section -->
      <div
        class="rogan-hero-one partner-section pt-vh-10 md-pb-100 md-pt-10 md-mt-10 md-mb-10 mb-100 pos-r"
      >
        <div class="cards-section">
          <div class="theme-title-one mb-3">
            <h3
              class="pl-3 pl-lg-0 text-left text-lg-center text-md-center text-center"
            >
              <span class="main-title-google-ads"> Define KPIs,</span><span
                class="main-title-google-ads-subhead"
              >
                Not the Vanity Metrics
              </span>
            </h3>
            <p
              class="banner-sub-title-googl-ads md-pb-30 wow fadeInUp animated pt-20 text-center"
              data-wow-delay="0.9s"
            >
              Data-driven, Performance-focussed digital advertising campaigns
              across multiple platforms.
            </p>
          </div>
          <div class="kpis-main">
            <div
              class="kpis-main-card d-flex flex-lg-row flex-md-row flex-column align-items-start justify-content-center"
            >
              <div class="kpis-cards">
                <div class="kpis-text-part">
                  <p class="kpis-para text-center">
                    Clicks, Impressions, CTR, etc., are important but not your
                    ultimate business goals.
                  </p>
                </div>

                <div class="kpis-text-part">
                  <p class="kpis-para text-center">
                    A successful advertising campaign is not the one that gets
                    the highest number of clicks with great CTRs. It’s the one
                    that reaches its defined audience efficiently and achieves
                    the set goals.
                  </p>
                </div>
                <div class="kpis-text-part">
                  <p class="kpis-para text-center">
                    Hence, it’s important to identify the right set of metrics –
                    Key Performance Indicators (KPIs) – even before the
                    campaigns are planned.
                  </p>
                </div>
              </div>
              <div class="kpis-cards">
                <div class="kpis-text-part">
                  <p class="kpis-para text-center">
                    Next, you need a strategy in place. Can you risk building
                    your dream house without a floor plan?
                  </p>
                </div>

                <div class="kpis-text-part">
                  <p class="kpis-para text-center">And, we can help</p>
                </div>
                <div class="kpis-text-part">
                  <p class="kpis-para text-center">
                    We can help not only with the right strategy to meet your
                    advertising goals, but also with the execution via the right
                    set of tactics.
                  </p>
                </div>
                <div class="kpis-text-part">
                  <p class="kpis-para text-center">
                    Book a free consultation with your Google Ads expert today..
                  </p>
                </div>
              </div>
              <div class="kpis-cards-img d-md-none d-sm-none d-lg-block">
                <img
                  src="/images/services/arrow.png"
                  class="img-fluid"
                  alt=""
                  width="400"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- cards section ends -->

      <!-- cards section -->
      <div
        class="rogan-hero-one partner-section pt-vh-5 pb-70 md-pb-70 md-pt-10 md-mt-10 md-mb-10 mb-70 pos-r"
      >
        <div class="cards-section-conrainer">
          <div
            class="main-part d-flex flex-lg-row flex-md-row flex-column align-items-center justify-content-center"
          >
            <div class="dot-part">
              <div class="theme-title-one mb-3 pb-20">
                <h3 class="pl-3 pl-lg-0">
                  <span class="main-title-google-ads-subhead">
                    How to
                  </span><span class="main-title-google-ads">
                    get started?</span
                  >
                </h3>
              </div>
              <div class="dot-main">
                <p class="dot"></p>
                <p class="dot-para-head">
                  Tell us your advertising goals, current challenges, and the
                  future scale up plans.
                </p>
              </div>
              <div class="dot-main">
                <p class="dot"></p>
                <p class="dot-para-head">
                  Let us analyze everything and come up with a
                  proposal/audit-report for you.
                </p>
              </div>
              <div class="dot-main">
                <p class="dot"></p>
                <p class="dot-para-head">
                  Let’s talk once you have gone through the proposal. Ask any
                  question you have.
                </p>
              </div>
              <div class="dot-main">
                <p class="dot"></p>
                <p class="dot-para-head">
                  Ready to start now? Arrange for the account accesses required.
                </p>
              </div>
              <div class="dot-main">
                <p class="dot"></p>
                <p class="dot-para-head">
                  Watch the performance improve. Get the reports on performance
                  and call us as and when required.
                </p>
              </div>
              <a
                href="#consult-form-holder"
                class="theme-btn button-orange solid-button-one wow fadeInLeft animated mt-30"
                data-wow-delay="1.5s">Let's Get Started</a
              >
            </div>
            <div>
              <img
                src="/images/services/rocket.png"
                class="img-fluid"
                alt=""
                width="400"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- cards section ends -->

      <!-- cards section -->
      <div
        class="rogan-hero-one partner-section pt-vh-5 pb-150 md-pb-70 md-pt-10 md-mt-10 md-mb-10 mb-70 pos-r"
      >
        <div class="cards-section-conrainer">
          <div class="main-part d-flex justify-content-center">
            <div class="dot-part-tread">
              <div class="theme-title-one mb-3">
                <h3 class="pl-3 pl-lg-0 text-center pb-30">
                  <span class="main-title-google-ads-subhead">
                    What is
                  </span><span class="main-title-google-ads">
                    holding you back?</span
                  >
                </h3>
                <p
                  class="pt-10 text-center pb-20 text-center"
                  style="font-size:17px;"
                >
                  Not sure what’s that something which is keeping your business’
                  growth stuck? Be sure, it’s not competition, because it simply
                  means more opportunities. Yes, you should be ready to tap
                  them. Let’s Talk.
                </p>

                <div
                  class="ads-campaign-tread d-flex align-item-center justify-content-center"
                >
                  <a href="tel:+917373735479" target="_blank" class="pt-20">
                    <button class="book-a-demo-btn theme-btn" id="lp-demo-btn">
                      Ask Questions
                    </button>
                  </a>
                  <a href="tel:+917373735479" target="_blank" class="pt-20">
                    <button class="book-a-demo-btn theme-btn" id="lp-demo-btn">
                      +91-73-73-73-5479
                    </button>
                  </a>
                </div>
              </div>
            </div>
            <div class="dot-part-tread-img d-md-none d-sm-none d-lg-block">
              <img
                src="/images/services/tread.png"
                class="img-fluid"
                alt=""
                width="350"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- cards section ends -->

      <!-- partner section -->
      <div
        class="rogan-hero-one partner-section pt-vh-5 md-pb-100 md-pt-10 md-mt-10 md-mb-10 mb-100 pos-r"
      >
        <div class="cards-section">
          <div class="theme-title-one mb-3">
            <h3
              class="pl-3 pl-lg-0 text-left text-lg-center text-md-center text-center"
            >
              <span class="main-title-google-ads-subhead">
                Digital Marketing
              </span><span class="main-title-google-ads"> Consultancy </span>
            </h3>
            <p
              class="banner-sub-title-googl-ads md-pb-30 wow fadeInUp animated pt-20 text-center"
              data-wow-delay="0.9s"
            >
              You Do, We Guide. Get the digital marketing consultant to help you
              manage your marketing.<br /> It's great choice when
            </p>
          </div>
          <div class="cards-section-conrainer">
            <div
              class="main-part d-flex flex-md-row flex-column flex-lg-row align-items-center justify-content-center pt-50 ml-50 mr-50"
            >
              <div class="dcm-part">
                <img
                  src="/images/services/dmc.png"
                  class="img-fluid"
                  alt=""
                  width="350"
                />
              </div>
              <div class="dot-part-dcm">
                <div class="dot-main">
                  <p class="dot"></p>
                  <p class="dot-para-head">
                    You work with an agency or freelancer, but want to add an
                    expert perspective to your digital marketing strategies.
                  </p>
                </div>
                <div class="dot-main">
                  <p class="dot"></p>
                  <p class="dot-para-head">
                    You have an in-house team for digital marketing, but you
                    feel stuck, and not able to scale to the next level.
                  </p>
                </div>
                <div class="dot-main">
                  <p class="dot"></p>
                  <p class="dot-para-head">
                    You need an expert digital marketing consultant to work
                    closely with your team, do an audit, help fix things, be a
                    guiding force on a regular basis or just one time.
                  </p>
                </div>
                <div class="dot-main">
                  <p class="dot"></p>
                  <p class="dot-para-head">
                    You are a digital marketer yourself, or an individual owned
                    small business and want to improve your digital marketing
                    skills or simply want to brainstorm different aspects of a
                    strategy.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- partner section ends -->

      <!-- partner section -->
      <div
        class="rogan-hero-one partner-section pt-vh-10 md-pb-60 md-pt-10 md-mt-10 md-mb-10 mb-60 pos-r"
      >
        <div class="container">
          <div class="cards-section">
            <div class="theme-title-one mb-3">
              <h3
                class="pl-3 pl-lg-0 text-left text-lg-center text-md-center text-center"
              >
                <span class="main-title-google-ads"> 7 reasons </span><span
                  class="main-title-google-ads-subhead"
                >
                  why you need <br /> to hire a Google Ads Expert!
                </span>
              </h3>
              <p
                class="banner-sub-title-googl-ads md-pb-30 wow fadeInUp animated pt-20 text-center"
                data-wow-delay="0.9s"
              >
                You Do, We Guide. Get the digital marketing consultant to help
                you manage<br /> your marketing. It's great choice when
              </p>
            </div>

            <div
              class="reasons d-flex flex-md-row flex-column flex-lg-row align-items-center justify-content-center"
            >
              <div>
                <div class="row align-items-center justify-content-center">
                  <img
                    src="/images/services/search.svg"
                    class="img-fluid"
                    alt=""
                    width="80"
                  />
                </div>
                <div class="reasons-text-part mt-20">
                  <p class="reasons-para text-center">
                    Keyword research is a <br /> strategic and crucial process
                    <br /> to your success
                  </p>
                </div>
              </div>
              <div>
                <div class="row align-items-center justify-content-center">
                  <img
                    src="/images/services/ads.svg"
                    class="img-fluid"
                    alt=""
                    width="80"
                  />
                </div>
                <div class="reasons-text-part mt-20">
                  <p class="reasons-para text-center">
                    Writing better ad copies <br /> comes from expertise and <br
                    />
                    experience
                  </p>
                </div>
              </div>
              <div>
                <div class="row align-items-center justify-content-center">
                  <img
                    src="/images/services/shack.svg"
                    class="img-fluid"
                    alt=""
                    width="80"
                  />
                </div>
                <div class="reasons-text-part mt-20">
                  <p class="reasons-para text-center">
                    Efficient tracking setup <br />requires technical<br />
                    expertise
                  </p>
                </div>
              </div>
              <div>
                <div class="row align-items-center justify-content-center">
                  <img
                    src="/images/services/star.svg"
                    class="img-fluid"
                    alt=""
                    width="80"
                  />
                </div>
                <div class="reasons-text-part mt-20">
                  <p class="reasons-para text-center">
                    Winning campaigns need <br />thorough analysis by
                    <br />an expert
                  </p>
                </div>
              </div>
            </div>
            <div
              class="reasons d-flex flex-md-row flex-column flex-lg-row align-items-center justify-content-center"
            >
              <div>
                <div class="row align-items-center justify-content-center">
                  <img
                    src="/images/services/setting.svg"
                    class="img-fluid"
                    alt=""
                    width="80"
                  />
                </div>
                <div class="reasons-text-part mt-20">
                  <p class="reasons-para text-center">
                    Landing page optimization <br />relates a lot to your
                    <br />customers’ psychology
                  </p>
                </div>
              </div>
              <div>
                <div class="row align-items-center justify-content-center">
                  <img
                    src="/images/services/round.svg"
                    class="img-fluid"
                    alt=""
                    width="80"
                  />
                </div>
                <div class="reasons-text-part mt-20">
                  <p class="reasons-para text-center">
                    Keeping up with the latest <br />change and updates require<br
                    />
                    time and efforts
                  </p>
                </div>
              </div>
              <div>
                <div class="row align-items-center justify-content-center">
                  <img
                    src="/images/services/cal.svg"
                    class="img-fluid"
                    alt=""
                    width="80"
                  />
                </div>
                <div class="reasons-text-part mt-20">
                  <p class="reasons-para text-center">
                    Performance monitoring,<br /> active tweaks, and filtering<br
                    />
                    requires minute attention
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- partner section ends -->

      <!-- partner section -->
      <div
        class="rogan-hero-one partner-section pt-vh-5 md-pb-20 md-pt-10 md-mt-10 md-mb-10 mb-20 pos-r"
      >
        <div class="container">
          <div class="theme-title-one mb-3 pt-60">
            <h3
              class="pl-3 pl-lg-0 text-left text-lg-center text-md-center text-center"
            >
              <span class="main-title-google-ads-subhead">Why </span><span
                class="main-title-google-ads"
              >
                Emovur?
              </span>
            </h3>

            <p
              class="banner-sub-title-googl-ads md-pb-30 wow fadeInUp animated pt-20 text-center"
              data-wow-delay="0.9s"
            >
              Google Ads Specialist with an experience of over a decade<br />
              Recognised by leading industry outlets including Google itself as the
              Expert<br />
              Most importantly, we will listen to you and will be available whenever
              you need me.
            </p>
          </div>
        </div>
      </div>
      <!-- partner section ends -->

      <!-- partner section -->
      <div
        class="rogan-hero-one partner-section pt-vh-2 md-pb-20 md-pt-10 md-mt-10 md-mb-10 mb-20 pos-r"
      >
        <div class="container">
          <div class="theme-title-one mb-3">
            <div class="challenges">
              <h3
                class="pl-3 pl-lg-0 text-left text-lg-center text-md-center text-center"
              >
                <span class="main-title-google-ads-subhead"
                  >Tell us your challenges,
                </span><span class="main-title-google-ads"> we will help </span>
              </h3>

              <p
                class="banner-sub-title-googl-ads md-pb-30 wow fadeInUp animated pt-20 text-center"
                data-wow-delay="0.9s"
              >
                till need reasons to select your perfect Google Ads Expert? We
                will be happy to connect and take your questions. Tell us the
                challenges you are facing and you will have the solutions
                suggested.
              </p>
              <div
                class="ads-campaign-tread d-flex align-item-center justify-content-center"
              >
                <a href="tel:+917373735479" target="_blank" class="pt-20">
                  <button class="book-a-demo-btn theme-btn" id="lp-demo-btn">
                    Ask Questions
                  </button>
                </a>
                <a href="tel:+917373735479" target="_blank" class="pt-20">
                  <button class="book-a-demo-btn theme-btn" id="lp-demo-btn">
                    +91-73-73-73-5479
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- partner section ends -->

      <!-- 
                        =============================================
                            Faq Page
                        ============================================== 
                        -->
      <div class="rogan-hero-one pos-r">
        <div class="faq-page faq-tab-wrapper pt-150 pb-100 md-pt-120">
          <div class="container">
            <div class="theme-title-one mb-80">
              <h3
                class="pl-3 pl-lg-0 text-left text-lg-center text-md-center text-center"
              >
                <span class="main-title-google-ads-subhead"
                  >Frequently
                </span><span class="main-title-google-ads">
                  Asked Questions
                </span>
              </h3>
              <p
                class="banner-sub-title-googl-ads md-pb-30 wow fadeInUp animated pt-20 text-center"
                data-wow-delay="0.9s"
              >
                Some of the common questions which we often get asked.
              </p>
            </div>
            <!-- /.theme-title-one -->
            <div class="row">
              <div class="col-lg-6">
                <!-- ================== FAQ Panel ================ -->
                <div class="faq-panel">
                  <div class="panel-group theme-accordion" id="accordion">
                    <div class="panel">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapse1"
                          >
                            Are you an individual freelance Google Ads Expert or
                            a team?</a
                          >
                        </h6>
                      </div>
                      <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>
                            Google Ads works by showing your promotion when
                            individuals search online for business and
                            services/products you give.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /panel 1 -->
                    <div class="panel">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapse3"
                          >
                            Who will work on the campaigns?</a
                          >
                        </h6>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>
                            To decide the amount Google Ads costs, you increase
                            your expense per click by the number of impressions
                            it requires each day to arrive at your objective
                            lead volume.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /panel 3 -->
                    <div class="panel">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapse4"
                          >
                            Is there any additional fee if we want to advertise
                            on any platform other than Google Ads?</a
                          >
                        </h6>
                      </div>
                      <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>
                            You can track the success of your campaigns as every
                            month, you'll receive a complete report with cost
                            and top recommendations based on the performance.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /panel 4 -->
                    <div class="panel">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapse1"
                          >
                            Who owns the advertising accounts?</a
                          >
                        </h6>
                      </div>
                      <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>
                            Google Ads works by showing your promotion when
                            individuals search online for business and
                            services/products you give.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /panel 1 -->
                    <div class="panel">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapse4"
                          >
                            How about the performance reporting?</a
                          >
                        </h6>
                      </div>
                      <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>
                            You can track the success of your campaigns as every
                            month, you'll receive a complete report with cost
                            and top recommendations based on the performance.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /panel 4 -->
                  </div>
                  <!-- end #accordion -->
                </div>
                <!-- End of .faq-panel -->
              </div>
              <!-- /.col- -->
              <div class="col-lg-6">
                <!-- ================== FAQ Panel ================ -->
                <div class="faq-panel">
                  <div class="panel-group theme-accordion" id="accordion2">
                    <div class="panel">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion2"
                            href="#collapse11"
                          >
                            How long does it take for the campaigns to go live?</a
                          >
                        </h6>
                      </div>
                      <div id="collapse11" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>
                            It's basically characterized as "the sum spent to
                            get an Ad clicked."
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /panel 1 -->
                    <div class="panel">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion2"
                            href="#collapse33"
                          >
                            Who will be the point of contact for us?</a
                          >
                        </h6>
                      </div>
                      <div id="collapse33" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>
                            Google Search Network,Google Display Network, Google
                            Partner Network as Per the business goal.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /panel 3 -->
                    <div class="panel">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion2"
                            href="#collapse44"
                          >
                            Who pays to the Advertising Platforms?</a
                          >
                        </h6>
                      </div>
                      <div id="collapse44" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>
                            Your promotions will be noticeable when you start
                            the campaign for the appropriate keyword and unique
                            Ad copies.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /panel 4 -->
                    <div class="panel">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion2"
                            href="#collapse44"
                          >
                            Is there any fee for initial audit of our existing
                            campaigns?</a
                          >
                        </h6>
                      </div>
                      <div id="collapse44" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>
                            Your promotions will be noticeable when you start
                            the campaign for the appropriate keyword and unique
                            Ad copies.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /panel 4 -->
                    <div class="panel">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a
                            data-toggle="collapse"
                            data-parent="#accordion2"
                            href="#collapse44"
                          >
                            How long does it take for the results to be visible?</a
                          >
                        </h6>
                      </div>
                      <div id="collapse44" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>
                            Your promotions will be noticeable when you start
                            the campaign for the appropriate keyword and unique
                            Ad copies.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /panel 4 -->
                  </div>
                  <!-- end #accordion2 -->
                </div>
                <!-- End of .faq-panel -->
              </div>
              <!-- /.col- -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.faq-page -->
      </div>

      <!--
                        =====================================================
                            Free Consultation
                        =====================================================
                        -->
      <div id="consult-form-holder" class="pos-r pt-60 pb-10 mb-vh-10">
        <div class="shape-wrapper">
          <span
            class="big-round-one wow fadeInLeft animated"
            data-wow-duration="3s"></span>
          <span
            class="big-round-two wow fadeInLeft animated"
            data-wow-duration="3s"></span>
          <span
            class="big-round-three wow fadeInLeft animated"
            data-wow-duration="3s"></span>
        </div>
        <!-- /.shape-wrapper -->
        <div class="container pt-vh-5 pb-vh-10">
          <div class="theme-title-one mb-40">
            <h3
              class="pl-3 pl-lg-0 text-left text-lg-center text-md-center text-center"
            >
              <span class="main-title-google-ads-subhead">Request A </span><span
                class="main-title-google-ads"
                >Free Quote!
              </span>
            </h3>
            <p
              class="banner-sub-title-googl-ads md-pb-30 wow fadeInUp animated pt-20 text-center"
              data-wow-delay="0.9s"
            >
              Fill in the form below and tell us your requirements. We will get
              in touch with<br /> you with the requested details at the earliest.
              Thank you!
            </p>
          </div>
          <!-- /.theme-title-one -->
          <div id="consult-form-container">
            <form id="consult-form">
              <div
                class="row justify-content-center align-items-center p-20 ml-30 mr-30"
              >
                <div class="col-lg-6 mb-3 mb-lg-0">
                  <label for="name" class="form-label">Name</label>
                  <input
                    class="smm-form-input"
                    type="text"
                    placeholder="Abc"
                    name="name"
                    id="name"
                    required
                  />
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0">
                  <label for="phonenumber" class="form-label"
                    >Phone Number</label
                  >
                  <input
                    class="smm-form-input"
                    type="text"
                    placeholder="98-86-756672"
                    name="mobile_no"
                    id="mobile_no"
                    required
                  />
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0">
                  <label for="email" class="form-label">Email</label>
                  <input
                    class="smm-form-input"
                    type="text"
                    placeholder="abc@gmail.com"
                    name="email"
                    id="email"
                    required
                  />
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0">
                  <label for="email" class="form-label">Your website</label>
                  <input
                    class="smm-form-input"
                    type="text"
                    placeholder="xyz.com"
                    name="website"
                    id="website"
                    required
                  />
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0">
                  <label for="email" class="form-label"
                    >Anything else that you would like to share</label
                  >
                  <input
                    class="smm-form-input"
                    type="text"
                    placeholder="......"
                    name="anything"
                    id="anything"
                  />
                </div>
                <div
                  class="col-lg-6 mb-3 mb-lg-0 d-flex justify-content-center align-items-center"
                >
                  <button type="submit" id="consult-form-button-ads"
                    >Send Request</button
                  >
                </div>
                <!-- <a href="#consult-form-holder" type="submit"
                                    class="theme-btn button-orange solid-button-one wow fadeInLeft animated mt-30"
                                    data-wow-delay="1.5s">Free Quote</a> -->
              </div>
            </form>
          </div>
          <div id="consult-form-message-success" class="d-none">
            <img
              src="/images/icon/checked.png"
              alt=""
              width="80"
              class="mx-auto"
            />
            <h4 class="text-center text-white my-3">Thank You!</h4>
            <h6 class="text-center text-white">We'll get back to you soon!</h6>
          </div>
          <div id="consult-form-message-fail" class="d-none mt-3">
            <div class="alert alert-danger text-center" role="alert">
              Oops! Something went wrong. Please try again later.
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.why-choose-us -->
      <!-- /.consultation-section -->

      <!-- mobile testimonial starts -->
      <div
        class="memorable-experience-heading-container-testimonials mobile-testimonials-heading"
        style="margin-top:0 ! important"
      >
        <div class="heading-container">
          <h3>Testimonials</h3>
        </div>
      </div>
      <!-- mobile testimonial ends -->

      <div id="carouselExampleIndicators">
        <div
          id="wa-testimonial-carousel-indicators"
          class="carousel slide w-100 d-flex justify-content-center align-items-center"
          style="height:50vh;"
          data-ride="carousel"
          data-pause="false"
          data-interval="5000"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#wa-testimonial-carousel-indicators"
              data-slide-to="0"
              class="active"
            >
            </li>
            <li
              data-target="#wa-testimonial-carousel-indicators"
              data-slide-to="1"
            >
            </li>
            <li
              data-target="#wa-testimonial-carousel-indicators"
              data-slide-to="2"
            >
            </li>
            <li
              data-target="#wa-testimonial-carousel-indicators"
              data-slide-to="3"
            >
            </li>
            <li
              data-target="#wa-testimonial-carousel-indicators"
              data-slide-to="4"
            >
            </li>
            <li
              data-target="#wa-testimonial-carousel-indicators"
              data-slide-to="5"
            >
            </li>
            <li
              data-target="#wa-testimonial-carousel-indicators"
              data-slide-to="6"
            >
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container vw-container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3 col-12">
                    <div class="landing-img-container pos-r">
                      <div class="landing-img-potrait">
                        <img
                          src="/images/services/Bimal.webp"
                          alt="Linus Torvalds - linux"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-12">
                    <!-- <h1 class="banner-main-title title-1 underline pt-15 pb-45 md-pt-10 md-pb-30 wow fadeInUp animated"
                                            data-wow-delay="0.4s">Embrace <br>technology<br> with <span
                                                class="landing-txt">emovur</span></h1> -->
                    <div class="review">
                      <div
                        class="testimonial-svg-box"
                        style="width: 35px;margin-bottom: 30px"
                      >
                        <svg
                          class="imgbox-svg"
                          id="Layer_2"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 32.57 30.16"
                        >
                          <g id="Layer_1-2" data-name="Layer_1">
                            <g>
                              <polygon
                                class="cls-1"
                                points="8.52 15.08 13.01 15.08 13.01 29.66 .5 29.66 .5 16.47 7.11 .5 13.01 .5 8.52 15.08"
                              ></polygon>
                              <polygon
                                class="cls-1"
                                points="27.4 15.08 31.89 15.08 31.89 29.66 19.38 29.66 19.38 16.47 25.99 .5 31.89 .5 27.4 15.08"
                              ></polygon>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <p
                        class="testimonial-mobile"
                        style="font-size: 20px;font-weight: 400"
                      >
                        While doing research for a WhatsApp Business API, I felt
                        there wasn't much differentiation in the product untill
                        I found Emovur.
                      </p>
                      <div class="detbox">
                        <p
                          class="name"
                          style="color: #FF8A8A;font-size: 25px;margin-bottom: -5px;"
                        >
                          Naveen Sarawgi
                        </p>
                        <p class="designation">
                          CEO, <span style="font-weight: 600;font-size: 15px"
                            >Bimal</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container -->
            </div>
            <div class="carousel-item">
              <div class="container vw-container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3 col-12">
                    <div class="landing-img-container pos-r">
                      <div class="landing-img-potrait">
                        <img
                          src="/images/services/Anmol@2x.webp"
                          alt="Linus Torvalds - linux"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-12">
                    <!-- <h1 class="banner-main-title title-1 underline pt-15 pb-45 md-pt-10 md-pb-30 wow fadeInUp animated"
                                            data-wow-delay="0.4s">Embrace <br>technology<br> with <span
                                                class="landing-txt">emovur</span></h1> -->
                    <div class="review">
                      <div
                        class="testimonial-svg-box"
                        style="width: 35px;margin-bottom: 30px"
                      >
                        <svg
                          class="imgbox-svg-2"
                          id="Layer_2"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 32.57 30.16"
                        >
                          <g id="Layer_1-2" data-name="Layer_1">
                            <g>
                              <polygon
                                class="cls-1"
                                points="8.52 15.08 13.01 15.08 13.01 29.66 .5 29.66 .5 16.47 7.11 .5 13.01 .5 8.52 15.08"
                              ></polygon>
                              <polygon
                                class="cls-1"
                                points="27.4 15.08 31.89 15.08 31.89 29.66 19.38 29.66 19.38 16.47 25.99 .5 31.89 .5 27.4 15.08"
                              ></polygon>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <p
                        class="testimonial-mobile"
                        style="font-size: 20px;font-weight: 400"
                      >
                        The best part was the time saved, we hardly spent a few
                        hours on Emovur and it's done.
                      </p>
                      <div class="detbox">
                        <p
                          class="name"
                          style="color: #0c9ffa;font-size: 25px;margin-bottom: -5px;"
                        >
                          Anmol Shetty
                        </p>
                        <p class="designation">
                          Director & CEO, <span style="font-weight: 600"
                            >RNS Motors</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container -->
            </div>
            <div class="carousel-item">
              <div class="container vw-container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3 col-12">
                    <div class="landing-img-container pos-r">
                      <div
                        class="landing-img-potrait"
                        style="margin-bottom: 20px"
                      >
                        <img
                          src="/images/services/Yoganand@2x.webp"
                          alt="Linus Torvalds - linux"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-12">
                    <!-- <h1 class="banner-main-title title-1 underline pt-15 pb-45 md-pt-10 md-pb-30 wow fadeInUp animated"
                                            data-wow-delay="0.4s">Embrace <br>technology<br> with <span
                                                class="landing-txt">emovur</span></h1> -->
                    <div class="review">
                      <div
                        class="testimonial-svg-box"
                        style="width: 35px;margin-bottom: 30px"
                      >
                        <svg
                          class="imgbox-svg-3"
                          id="Layer_2"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 32.57 30.16"
                        >
                          <g id="Layer_1-2" data-name="Layer_1">
                            <g>
                              <polygon
                                class="cls-1"
                                points="8.52 15.08 13.01 15.08 13.01 29.66 .5 29.66 .5 16.47 7.11 .5 13.01 .5 8.52 15.08"
                              ></polygon>
                              <polygon
                                class="cls-1"
                                points="27.4 15.08 31.89 15.08 31.89 29.66 19.38 29.66 19.38 16.47 25.99 .5 31.89 .5 27.4 15.08"
                              ></polygon>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <p
                        class="testimonial-mobile"
                        style="font-size: 20px;font-weight: 400"
                      >
                        The relationship manager was always accessible over a
                        call. Having a human to talk to is always a plus.
                      </p>
                      <div class="detbox">
                        <p
                          class="name"
                          style="color:#5E69FF;font-size: 25px;margin-bottom: -5px;"
                        >
                          Yoganand
                        </p>
                        <p class="designation">
                          Deputy General Manager, <span style="font-weight: 600"
                            >Bobcat</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container -->
            </div>
            <div class="carousel-item">
              <div class="container vw-container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3 col-12">
                    <div class="landing-img-container pos-r">
                      <div
                        class="landing-img-potrait"
                        style="margin-bottom: 20px"
                      >
                        <img
                          src="/images/services/Sudhakar@2x.webp"
                          alt="Linus Torvalds - linux"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-12">
                    <!-- <h1 class="banner-main-title title-1 underline pt-15 pb-45 md-pt-10 md-pb-30 wow fadeInUp animated"
                                            data-wow-delay="0.4s">Embrace <br>technology<br> with <span
                                                class="landing-txt">emovur</span></h1> -->
                    <div class="review">
                      <div
                        class="testimonial-svg-box"
                        style="width: 35px;margin-bottom: 30px"
                      >
                        <svg
                          class="imgbox-svg-7"
                          id="Layer_2"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 32.57 30.16"
                        >
                          <g id="Layer_1-2" data-name="Layer_1">
                            <g>
                              <polygon
                                class="cls-1"
                                points="8.52 15.08 13.01 15.08 13.01 29.66 .5 29.66 .5 16.47 7.11 .5 13.01 .5 8.52 15.08"
                              ></polygon>
                              <polygon
                                class="cls-1"
                                points="27.4 15.08 31.89 15.08 31.89 29.66 19.38 29.66 19.38 16.47 25.99 .5 31.89 .5 27.4 15.08"
                              ></polygon>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <p
                        class="testimonial-mobile"
                        style="font-size: 20px;font-weight: 400"
                      >
                        At Emovur, integrating WhatsApp Business API has boosted
                        customer support with instant communication, chatbots.
                      </p>
                      <div class="detbox">
                        <p
                          class="name"
                          style="color: #F6E96B;font-size: 25px;margin-bottom: -5px;margin-top: 10px"
                        >
                          Sudhakar
                        </p>
                        <p class="designation">
                          Director & Co-founder, <span style="font-weight: 600"
                            >Surakshaa</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container -->
            </div>

            <div class="carousel-item">
              <div class="container vw-container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3 col-12">
                    <div class="landing-img-container pos-r">
                      <div
                        class="landing-img-potrait"
                        style="margin-bottom: 20px"
                      >
                        <img
                          src="/images/services/Prashant@2x.webp"
                          alt="Linus Torvalds - linux"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-12">
                    <!-- <h1 class="banner-main-title title-1 underline pt-15 pb-45 md-pt-10 md-pb-30 wow fadeInUp animated"
                                            data-wow-delay="0.4s">Embrace <br>technology<br> with <span
                                                class="landing-txt">emovur</span></h1> -->
                    <div class="review">
                      <div
                        class="testimonial-svg-box"
                        style="width: 35px;margin-bottom: 30px"
                      >
                        <svg
                          class="imgbox-svg-5"
                          id="Layer_2"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 32.57 30.16"
                        >
                          <g id="Layer_1-2" data-name="Layer_1">
                            <g>
                              <polygon
                                class="cls-1"
                                points="8.52 15.08 13.01 15.08 13.01 29.66 .5 29.66 .5 16.47 7.11 .5 13.01 .5 8.52 15.08"
                              ></polygon>
                              <polygon
                                class="cls-1"
                                points="27.4 15.08 31.89 15.08 31.89 29.66 19.38 29.66 19.38 16.47 25.99 .5 31.89 .5 27.4 15.08"
                              ></polygon>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <p
                        class="testimonial-mobile"
                        style="font-size: 20px;font-weight: 400"
                      >
                        A feature-rich product, dedicated relationship manager,
                        and seamless integration to meet my unique needs.
                        Couldn’t ask for better.
                      </p>
                      <div class="detbox">
                        <p
                          class="name"
                          style="color: #F6B17A;font-size: 25px;margin-bottom: -5px;"
                        >
                          Prashanth G J
                        </p>
                        <p class="designation">
                          CEO & Co-Founder, <span style="font-weight: 600"
                            >TechnoBind</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container -->
            </div>

            <div class="carousel-item">
              <div class="container vw-container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3 col-12">
                    <div class="landing-img-container pos-r">
                      <div
                        class="landing-img-potrait"
                        style="margin-bottom: 20px"
                      >
                        <img
                          src="/images/services/Mohan@2x.webp"
                          alt="Linus Torvalds - linux"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-12">
                    <!-- <h1 class="banner-main-title title-1 underline pt-15 pb-45 md-pt-10 md-pb-30 wow fadeInUp animated"
                                            data-wow-delay="0.4s">Embrace <br>technology<br> with <span
                                                class="landing-txt">emovur</span></h1> -->
                    <div class="review">
                      <div
                        class="testimonial-svg-box"
                        style="width: 35px;margin-bottom: 30px"
                      >
                        <svg
                          class="imgbox-svg-6"
                          id="Layer_2"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 32.57 30.16"
                        >
                          <g id="Layer_1-2" data-name="Layer_1">
                            <g>
                              <polygon
                                class="cls-1"
                                points="8.52 15.08 13.01 15.08 13.01 29.66 .5 29.66 .5 16.47 7.11 .5 13.01 .5 8.52 15.08"
                              ></polygon>
                              <polygon
                                class="cls-1"
                                points="27.4 15.08 31.89 15.08 31.89 29.66 19.38 29.66 19.38 16.47 25.99 .5 31.89 .5 27.4 15.08"
                              ></polygon>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <p
                        class="testimonial-mobile"
                        style="font-size: 20px;font-weight: 400"
                      >
                        Emovur's digital marketing expertise helped them
                        seamlessly integrate WhatsApp into my existing marketing
                        stack, exceeding expectations.
                      </p>
                      <div class="detbox">
                        <p
                          class="name"
                          style="color: #F6E96B;font-size: 25px;margin-bottom: -5px;margin-top: 10px"
                        >
                          Mohan
                        </p>
                        <p class="designation">
                          Managing Director, <span style="font-weight: 600"
                            >Shruti Motors</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container -->
            </div>

            <div class="carousel-item">
              <div class="container vw-container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3 col-12">
                    <div class="landing-img-container pos-r">
                      <div
                        class="landing-img-potrait"
                        style="margin-bottom: 20px"
                      >
                        <img
                          src="/images/services/Pankaj@2x.webp"
                          alt="Linus Torvalds - linux"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-12">
                    <!-- <h1 class="banner-main-title title-1 underline pt-15 pb-45 md-pt-10 md-pb-30 wow fadeInUp animated"
                                            data-wow-delay="0.4s">Embrace <br>technology<br> with <span
                                                class="landing-txt">emovur</span></h1> -->
                    <div class="review">
                      <div
                        class="testimonial-svg-box"
                        style="width: 35px;margin-bottom: 30px"
                      >
                        <svg
                          class="imgbox-svg-4"
                          id="Layer_2"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 32.57 30.16"
                        >
                          <g id="Layer_1-2" data-name="Layer_1">
                            <g>
                              <polygon
                                class="cls-1"
                                points="8.52 15.08 13.01 15.08 13.01 29.66 .5 29.66 .5 16.47 7.11 .5 13.01 .5 8.52 15.08"
                              ></polygon>
                              <polygon
                                class="cls-1"
                                points="27.4 15.08 31.89 15.08 31.89 29.66 19.38 29.66 19.38 16.47 25.99 .5 31.89 .5 27.4 15.08"
                              ></polygon>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <p
                        class="testimonial-mobile"
                        style="font-size: 20px;font-weight: 400"
                      >
                        I was stunned to see the proactive follow up by Emovur
                        to achieve all our business communications over WhatsApp
                        API.
                      </p>
                      <div class="detbox">
                        <p
                          class="name"
                          style="color: #F6B17A;font-size: 25px;margin-bottom: -5px"
                        >
                          Pankaj
                        </p>
                        <p class="designation">
                          CEO, <span style="font-weight: 600"
                            >Looking Good Furniture</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container -->
            </div>
          </div>
        </div>
      </div>

      <!-- desktop testimonial ends -->
    </div>
  </div>
</Layout>

<style>
  .hero-img-holder {
    left: 50%;
    position: absolute;
    top: -10vh;
    width: 30vw;
    transform: translateX(-50%);
  }

  .hero-img-holder::after {
    content: " ";
    width: 100%;
    height: 50px;
    position: absolute;
    background: linear-gradient(
      to top,
      rgb(250, 255, 255) 1%,
      transparent 100%
    );
    bottom: 0;
  }

  .card-content {
    font-size: 15px;
  }

  .card-img {
    box-shadow: 0px 5px 20px 5px rgb(185 184 184 / 20%);
  }

  @media (min-width: 992px) {
    .mt-neg-100 {
      margin-top: -100px !important;
    }
  }

  .section-card {
    margin-top: 18px;
  }

  .google-partner-section {
    background: aliceblue;
  }
</style>
