---
import Layout from "../../layouts/Layout.astro";

const metaTitle = "Our Services | Hyperlocal Digital Marketing by Emovur";
const metaDescription =
  "Explore Emovur’s full suite of digital marketing services—SEO, social media, Google Ads, website development, and hyperlocal marketing tailored for local impact.";
const canonicalUrl = "https://emovur.com/services";
const keywords =
  "hyperlocal marketing, local seo, location based marketing, geo-targeting, nearby customer reach";
---

<style>
  .theme-title-one .main-title i {
    font-style: normal;
    font-family: "gilroy-ultralight";
  }
</style>

<Layout
  title={metaTitle}
  headerType="main"
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- 
			=============================================
				Text Inner Banner One
			============================================== 
			-->
  <div class="text-inner-banner-one pos-r">
    <div class="shape-wrapper">
      <svg class="img-shape shape-one">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 223, 204)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-two">
        <path
          fill-rule="evenodd"
          fill="rgb(182, 255, 234)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-three">
        <path
          fill-rule="evenodd"
          fill="rgb(181, 198, 255)"
          d="M12.000,24.000 C18.627,24.000 24.000,18.627 24.000,12.000 C24.000,5.372 18.627,-0.000 12.000,-0.000 C5.372,-0.000 -0.000,5.372 -0.000,12.000 C-0.000,18.627 5.372,24.000 12.000,24.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-four">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 156, 161)"
          d="M7.500,15.000 C11.642,15.000 15.000,11.642 15.000,7.500 C15.000,3.358 11.642,-0.000 7.500,-0.000 C3.358,-0.000 -0.000,3.358 -0.000,7.500 C-0.000,11.642 3.358,15.000 7.500,15.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-five">
        <path
          fill-rule="evenodd"
          fill="rgb(178, 236, 255)"
          d="M12.500,25.000 C19.403,25.000 25.000,19.403 25.000,12.500 C25.000,5.596 19.403,-0.000 12.500,-0.000 C5.596,-0.000 -0.000,5.596 -0.000,12.500 C-0.000,19.403 5.596,25.000 12.500,25.000 Z"
        ></path>
      </svg>
    </div>
    <!-- /.shape-wrapper -->
    <div class="container">
      <nav aria-label="breadcrumb">
        <p>
          <span class="breadcrumb-item"><a href="/">Home</a></span>
          <span class="breadcrumb-item active" aria-current="page"
            >Services</span
          >
        </p>
      </nav>
      <h1 class="pt-30 pb-15">Serving 360 Degree - Digital solutions</h1>
    </div>
  </div>
  <!-- /.text-inner-banner-one -->

  <!-- 
			=============================================
				Our Service
			============================================== 
			-->
  <div class="our-service md-pb-20">
    <a href="/services/social-media-marketing" class="d-block">
      <div
        class="service-modern-block pt-100 pb-110"
        style="background-color: #f4e7fb;"
      >
        <div class="container">
          <div class="wrapper">
            <div class="row align-items-center">
              <div class="col-md-7 order-lg-last">
                <div class="num">01</div>
                <h2 class="title" style="font-size: 50px;">
                  Social Media Marketing
                </h2>
              </div>
              <div class="col-md-5 order-lg-first">
                <div class="icon sm-mt-50">
                  <img
                    src="images/emovur-icons/digital-marketing.png"
                    alt="digital-marketing-icon"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- /.wrapper -->
        </div>
        <!-- /.container -->
      </div>
    </a>
    <!-- /.service-modern-block -->

    <a href="/services/search-engine-optimization" class="d-block">
      <div
        class="service-modern-block pt-100 pb-110"
        style="background-color: #defcee;"
      >
        <div class="container">
          <div class="wrapper">
            <div class="row align-items-center">
              <div class="col-md-8">
                <div class="num">02</div>
                <h2 class="title" style="font-size: 50px;">
                  Search Engine Optimization
                </h2>
              </div>
              <div class="col-md-4">
                <div class="icon sm-mt-50">
                  <img
                    src="images/emovur-icons/code.png"
                    alt="web-development-icon"
                    style="float: right;"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- /.wrapper -->
        </div>
        <!-- /.container -->
      </div>
    </a>
    <!-- /.service-modern-block -->

    <a href="/services/google-adwords" class="d-block">
      <div
        class="service-modern-block pt-100 pb-110"
        style="background-color: #f4e7fb;"
      >
        <div class="container">
          <div class="wrapper">
            <div class="row align-items-center">
              <div class="col-md-7 order-lg-last">
                <div class="num">03</div>
                <h2 class="title" style="font-size: 50px;">Google Adwords</h2>
              </div>
              <div class="col-md-5 order-lg-first">
                <div class="icon sm-mt-50">
                  <img
                    src="images/emovur-icons/digital-marketing.png"
                    alt="digital-marketing-icon"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- /.wrapper -->
        </div>
        <!-- /.container -->
      </div>
    </a>
    <!-- /.service-modern-block -->

    <a href="/services/website-development" class="d-block">
      <div
        class="service-modern-block pt-100 pb-110"
        style="background-color: #defcee;"
      >
        <div class="container">
          <div class="wrapper">
            <div class="row align-items-center">
              <div class="col-md-7">
                <div class="num">04</div>
                <h2 class="title" style="font-size: 50px;">Web Development</h2>
              </div>
              <div class="col-md-5">
                <div class="icon sm-mt-50">
                  <img
                    src="images/emovur-icons/code.png"
                    alt="web-development-icon"
                    style="float: right"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- /.wrapper -->
        </div>
        <!-- /.container -->
      </div>
    </a>
    <!-- /.service-modern-block -->

    <a href="#" class="d-block">
      <div
        class="service-modern-block pt-100 pb-110"
        style="background-color: #fef8e2;"
      >
        <div class="container">
          <div class="wrapper">
            <div class="row align-items-center">
              <div class="col-md-5">
                <div class="icon sm-mt-50">
                  <img src="images/emovur-icons/cms.png" alt="cms-icon" />
                </div>
              </div>
              <div class="col-md-7">
                <div class="num">05</div>
                <h2 class="title" style="font-size: 50px;">Custom Software</h2>
              </div>
            </div>
          </div>
          <!-- /.wrapper -->
        </div>
        <!-- /.container -->
      </div>
    </a><!-- /.service-modern-block -->
  </div>
  <!-- /.our-service -->

  <div class="our-service-three pt-225 pos-r md-pt-110">
    <div class="shape-wrapper">
      <img
        src="images/home/shape1.png"
        alt="shape1-icon"
        class="img-shape shape-one"
      />
      <svg class="img-shape shape-two">
        <path
          fill-rule="evenodd"
          fill="rgb(168, 255, 243)"
          d="M7.500,14.999 C11.642,14.999 15.000,11.642 15.000,7.500 C15.000,3.357 11.642,-0.001 7.500,-0.001 C3.358,-0.001 -0.000,3.357 -0.000,7.500 C-0.000,11.642 3.358,14.999 7.500,14.999 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-three">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 164, 164)"
          d="M15.000,30.000 C23.284,30.000 30.000,23.284 30.000,15.000 C30.000,6.715 23.284,-0.000 15.000,-0.000 C6.716,-0.000 -0.000,6.715 -0.000,15.000 C-0.000,23.284 6.716,30.000 15.000,30.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-four">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 216, 142)"
          d="M5.000,10.000 C7.761,10.000 10.000,7.761 10.000,5.000 C10.000,2.238 7.761,-0.000 5.000,-0.000 C2.238,-0.000 -0.000,2.238 -0.000,5.000 C-0.000,7.761 2.238,10.000 5.000,10.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-five">
        <path
          fill-rule="evenodd"
          fill="rgb(142, 244, 229)"
          d="M7.500,15.000 C11.642,15.000 15.000,11.642 15.000,7.499 C15.000,3.357 11.642,-0.000 7.500,-0.000 C3.358,-0.000 -0.000,3.357 -0.000,7.499 C-0.000,11.642 3.358,15.000 7.500,15.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-six">
        <path
          fill-rule="evenodd"
          opacity="0.541"
          fill="rgb(255, 252, 231)"
          d="M171.500,343.000 C266.217,343.000 343.000,266.216 343.000,171.500 C343.000,76.783 266.217,-0.001 171.500,-0.001 C76.783,-0.001 -0.000,76.783 -0.000,171.500 C-0.000,266.216 76.783,343.000 171.500,343.000 Z"
        ></path>
      </svg>
    </div>
    <!-- /.shape-wrapper -->
    <div class="container">
      <div class="theme-title-one text-center pb-40 md-pb-20">
        <h2 class="main-title" style="line-height: 12vh;">
          Embrace Technology <br /><i>And</i>
        </h2>
      </div>
      <!-- /.theme-title-one -->

      <div class="row">
        <div class="col-lg-6">
          <div class="feature-block-three mt-50">
            <div class="d-flex align-items-start">
              <div class="icon-box icon-two" style="background: #39f1a7;">
                <img
                  src="images/emovur-icons/rating.svg"
                  alt="rating-icon"
                  width="40"
                />
              </div>
              <div class="text">
                <h5>Enhance customer experience</h5>
                <p class="pt-20 pb-10">
                  Pleasant customer experience makes them your promoters. It is
                  often little details that customers build a relationship with.
                </p>
              </div>
              <!-- /.text -->
            </div>
          </div>
          <!-- /.feature-block-three -->
        </div>
        <div class="col-lg-6">
          <div class="feature-block-three mt-50">
            <div class="d-flex align-items-start">
              <div class="icon-box icon-three" style="background: #ffc14e;">
                <img
                  src="images/emovur-icons/time-management.svg"
                  alt="time-management-icon"
                  width="45"
                />
              </div>
              <div class="text">
                <h5>Optimize business operations</h5>
                <p class="pt-20 pb-10">
                  Eliminate mundane tasks and implement effective ways of doing
                  things. Do you know? RPA can bring your manpower down by 50%.
                </p>
              </div>
              <!-- /.text -->
            </div>
          </div>
          <!-- /.feature-block-three -->
        </div>
        <div class="col-lg-6">
          <div class="feature-block-three mt-50">
            <div class="d-flex align-items-start">
              <div class="icon-box icon-four" style="background: #ff467d;">
                <img
                  src="images/emovur-icons/statistics.svg"
                  alt="statistics-icon"
                  width="40"
                />
              </div>
              <div class="text">
                <h5>Get more insights into the business</h5>
                <p class="pt-20 pb-10">
                  Reliable insights enable you to make the right decisions and
                  explore hidden opportunities.
                </p>
              </div>
              <!-- /.text -->
            </div>
          </div>
          <!-- /.feature-block-three -->
        </div>
        <div class="col-lg-6">
          <div class="feature-block-three mt-50">
            <div class="d-flex align-items-start">
              <div class="icon-box icon-one" style="background: #b471ff;">
                <img
                  src="images/emovur-icons/collaboration.svg"
                  alt="collaborate-with-us-icon"
                  width="38"
                />
              </div>
              <div class="text">
                <h5>Increases communication and co-ordination</h5>
                <p class="pt-20 pb-10">
                  For a team to function effectively, there must be effective
                  open channels of communication.
                </p>
              </div>
              <!-- /.text -->
            </div>
          </div>
          <!-- /.feature-block-three -->
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.our-service -->

  <div class="action-banner-one bg-white">
    <h3>We love sharing our experience.</h3><br />
    <a
      href="/contact"
      class="theme-btn line-button-one contact-button button-orange"
      >Free Consultation</a
    >
  </div>
  <!-- /.action-banner-one -->

  <!--
			=====================================================
				Testimonial
			=====================================================
			-->
  <div class="apps-testimonial rogan-hero-section pos-r pt-vh-20 pb-vh-20">
    <div class="shape-wrapper">
      <svg class="img-shape shape-two">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 223, 204)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.313 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.313 2.686,12.000 6.000,12.000 Z"
        >
        </path>
      </svg>
      <svg class="img-shape shape-four">
        <path
          fill-rule="evenodd"
          opacity="0.451"
          fill="rgb(255, 126, 190)"
          d="M10.000,20.000 C15.523,20.000 20.000,15.522 20.000,10.000 C20.000,4.477 15.523,-0.000 10.000,-0.000 C4.477,-0.000 -0.000,4.477 -0.000,10.000 C-0.000,15.522 4.477,20.000 10.000,20.000 Z"
        >
        </path>
      </svg>
      <svg class="img-shape shape-five">
        <path
          fill-rule="evenodd"
          fill="rgb(181, 198, 255)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.313 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.313 2.686,12.000 6.000,12.000 Z"
        >
        </path>
      </svg>
      <svg class="img-shape shape-six">
        <path
          fill-rule="evenodd"
          fill="rgb(171, 247, 242)"
          d="M12.500,25.000 C19.404,25.000 25.000,19.403 25.000,12.500 C25.000,5.596 19.404,-0.000 12.500,-0.000 C5.596,-0.000 -0.000,5.596 -0.000,12.500 C-0.000,19.403 5.596,25.000 12.500,25.000 Z"
        >
        </path>
      </svg>
    </div>
    <div class="d-shape" data-aos="fade-right" data-aos-duration="2000">D</div>
    <div class="u-shape" data-aos="fade-left" data-aos-duration="2000">U</div>
    <div class="container">
      <div class="theme-title-one">
        <div class="upper-title mb-5 color-orange">TESTIMONIALS</div>
        <h2 class="main-title">Our Customers</h2><i>Feedback.</i>
      </div>
    </div>
    <!-- /.theme-title-one -->

    <div class="customer-slider">
      <div class="item">
        <div class="customer-block">
          <p>
            Nowadays I just draft my requirements and I believe it’s done. So
            far, these guys have always crossed my expectations.
          </p>
          <div class="clearfix">
            <img
              class="testimonial-logo"
              src="images/logo/digitalbruno.jpeg"
              alt="emovur"
            />
            <img src="images/home/bruno.jpeg" alt="" class="customer-img" />
            <div class="customer-info">
              <h5 class="name">Bruno</h5>
              <span>- BrunoDigital</span>
            </div>
            <!-- /.customer-info -->
          </div>
        </div>
        <!-- /.customer-block -->
      </div>
      <!-- /.item -->
      <div class="item">
        <div class="customer-block">
          <p>
            My requirements were well-drafted by Emovur than I myself could do,
            this is what made me chose them and I am happy with them.
          </p>
          <div class="clearfix">
            <img
              class="testimonial-logo"
              src="images/logo/copywriters.jpeg"
              alt="emovur"
            />
            <img src="images/home/wyn.jpeg" alt="" class="customer-img" />
            <div class="customer-info">
              <h5 class="name">Wyn John Wright</h5>
              <span>- e-copywritersplus</span>
            </div>
            <!-- /.customer-info -->
          </div>
        </div>
        <!-- /.customer-block -->
      </div>
      <!-- /.item -->
      <div class="item">
        <div class="customer-block">
          <p>
            The solutions they offer are simple, effective and serves the
            purpose. Their pricing is competitive and they deserve it.
          </p>
          <div class="clearfix">
            <img
              class="testimonial-logo"
              src="images/logo/surakshaa.jpeg"
              alt="emovur"
            />
            <img src="images/home/sudhakar.jpeg" alt="" class="customer-img" />
            <div class="customer-info">
              <h5 class="name">Sudhakar</h5>
              <span>- Marutisurakshaa</span>
            </div>
            <!-- /.customer-info -->
          </div>
        </div>
        <!-- /.customer-block -->
      </div>
      <!-- /.item -->
      <div class="item">
        <div class="customer-block">
          <p>
            The reason I chose Emovur is that they don’t exaggerate what they
            can bring onto the table. They deliver what they promise.
          </p>
          <div class="clearfix">
            <img
              class="testimonial-logo"
              src="images/logo/nhct.jpeg"
              alt="emovur"
              style="width: 50px;"
            />
            <img src="images/home/manish.jpeg" alt="" class="customer-img" />
            <div class="customer-info">
              <h5 class="name">Manish Ranjan</h5>
              <span>- NHCT</span>
            </div>
            <!-- /.customer-info -->
          </div>
        </div>
        <!-- /.customer-block -->
      </div>
      <!-- /.item -->
    </div>
  </div>
  <!-- /.container -->
</Layout>
<!-- /.apps-testimonial -->
