---
import Layout from "../../layouts/Layout.astro";
import "../../../public/css/service-pages/smm-style.css";

const metaTitle = "Social Media Marketing Company | Emovur";
const metaDescription =
  "Our professionals Provide the best social media solutions possible to engage audiences, and promote your business socially";
const canonicalUrl = "https://emovur.com/services/social-media-marketing";
const keywords = "social media marketing, social marketer, social media.";
---

<Layout
  title={metaTitle}
  headerType="main"
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <div
    class="rogan-hero-section rogan-hero-one custom pt-vh-25 pb-vh-20 md-pt-150 md-pb-130 pos-r pb-lg-5"
  >
    <div class="shape-wrapper">
      <img
        src="/images/shape/2.svg"
        alt=""
        class="line-shape-one img-shape wow fadeInRight animated"
        data-wow-duration="3s"
      />
      <img
        src="/images/shape/3.svg"
        alt=""
        class="line-shape-two img-shape wow fadeInLeft animated"
        data-wow-duration="3s"
      />
      <img
        src="/images/shape/15.svg"
        alt=""
        class="light-lamp img-shape wow fadeInDown animated"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      />
      <img
        src="/images/shape/facebook.svg"
        alt=""
        width="30"
        class="shape-two img-shape"
      />
      <img
        src="/images/shape/instagram.svg"
        alt=""
        width="30"
        class="shape-three img-shape"
      />
      <img
        src="/images/shape/linkedin.svg"
        alt=""
        width="30"
        class="shape-seven img-shape"
      />
      <img
        src="/images/shape/instagram.svg"
        alt=""
        width="30"
        class="shape-eight img-shape"
      />
      <img
        src="/images/shape/facebook.svg"
        alt=""
        width="30"
        class="shape-nine img-shape"
      />
      <img
        src="/images/shape/twitter.svg"
        alt=""
        width="30"
        class="shape-twelve img-shape"
      />
    </div>
    <div class="container vw-container">
      <div class="main-wrapper pos-r">
        <div class="row">
          <div class="col-lg-6 col-12 text-left">
            <div aria-label="breadcrumb">
              <div class="page-tag-container">
                <span class="page-tag"
                  ><a href="/">Home</a> / <a href="/services">Services</a></span
                >
              </div>
              <div class="banner-upper-heading wow fadeInDown animated">
                <h1 style="font-size: 3.5vh;">
                  Emovur - Social Media Marketing
                </h1>
              </div>
            </div>
            <h2
              class="banner-main-title underline pt-15 pb-45 md-pt-10 md-pb-30 wow fadeInUp animated"
              data-wow-delay="0.4s"
            >
              <span>For the millions</span>
              <br />
              <span>watching you</span>
            </h2>
            <p
              class="banner-sub-title pb-45 md-pb-30 wow fadeInUp animated"
              data-wow-delay="0.9s"
            >
              Stay on top of the competition with emovur social media management
              services
            </p>
            <a
              href="#consult-form-holder"
              class="theme-btn button-orange solid-button-one wow fadeInLeft animated"
              data-wow-delay="1.5s">Consult Us</a
            >
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <div class="pos-r">
              <div class="hero-img-holder">
                <img
                  src="/images/services/SMM-landing-img.webp"
                  alt="social media marketing / social media"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.main-wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.rogan-hero-section -->

  <!-- 
                =============================================
                    Our Service One
                ============================================== 
                -->
  <div class="our-service-one custom pt-200 pb-100 pos-r md-pt-50 md-pb-20 m0">
    <div class="shape-wrapper">
      <img src="/images/shape/26.svg" alt="" class="shape-one img-shape" />
      <img
        src="/images/shape/instagram.svg"
        width="30"
        alt=""
        class="shape-two img-shape"
      />
      <img
        src="/images/shape/facebook.svg"
        width="30"
        alt=""
        class="shape-three img-shape"
      />
      <img
        src="/images/shape/twitter.svg"
        width="30"
        alt=""
        class="shape-four img-shape"
      />
      <img
        src="/images/shape/linkedin.svg"
        width="30"
        alt=""
        class="shape-five img-shape"
      />
      <img
        src="/images/shape/facebook-1.svg"
        width="30"
        alt=""
        class="shape-six img-shape"
      />
      <img src="/images/shape/27.svg" alt="" class="shape-seven img-shape" />
      <img src="/images/shape/31.svg" alt="" class="shape-eight img-shape" />
      <img src="/images/shape/32.svg" alt="" class="shape-nine img-shape" />
    </div>
    <!-- /.shape-wrapper -->
    <div class="container">
      <div class="inner-wrapper pos-r">
        <div class="theme-title-one">
          <h2 class="main-title underline">
            <span>Let’s check</span><br />
            <span>our services.</span>
          </h2>
        </div>
        <!-- /.theme-title-one -->
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="feature-block-one mt-300 md-mt-50">
              <div class="d-flex align-items-center">
                <img
                  src="/images/icon/creative-content-icon.png"
                  width="80"
                  alt=""
                  class="img-icon"
                />
                <h5 class="ml-3 ml-md-5 pt-30 pb-25 tran3s title">
                  Create creatives
                </h5>
              </div>
              <p class="tran3s">
                We design and create exceptional creatives including posters,
                infographics, motion graphics and videos.
              </p>
              <!-- <a href="#" class="read-more tran3s"><i class="flaticon-next-1"></i></a> -->
            </div>
            <!-- /.feature-block-one -->
          </div>

          <div class="col-lg-4 col-12">
            <div class="feature-block-one mb-45 mt-85 md-mt-40">
              <div class="d-flex align-items-center">
                <img
                  src="/images/icon/adverts.png"
                  width="80"
                  alt=""
                  class="img-icon"
                />
                <h5 class="ml-3 ml-md-5 pt-30 pb-25 tran3s title">
                  Regular posting
                </h5>
              </div>
              <p class="tran3s">
                We leverage our experience to get the timing right. We post
                quality content and we do it consistently.
              </p>
              <!-- <a href="#" class="read-more tran3s"><i class="flaticon-next-1"></i></a> -->
            </div>
            <!-- /.feature-block-one -->
            <div class="feature-block-one">
              <div class="d-flex align-items-center">
                <img
                  src="/images/icon/target.png"
                  width="80"
                  alt=""
                  class="img-icon"
                />
                <h5 class="ml-3 ml-md-5 pt-30 pb-25 tran3s title">
                  Drive engagement
                </h5>
              </div>
              <p class="tran3s">
                Our time tested strategies drive steady engagement and bring
                more and consistent visibility for your brand.
              </p>
              <!-- <a href="#" class="read-more tran3s"><i class="flaticon-next-1"></i></a> -->
            </div>
            <!-- /.feature-block-one -->
          </div>
          <div class="col-lg-4 col-12">
            <div class="feature-block-one mb-45 md-mt-40">
              <div class="d-flex align-items-center">
                <img
                  src="/images/icon/social.png"
                  width="80"
                  alt=""
                  class="img-icon"
                />
                <h5 class="ml-3 ml-md-5 pt-30 pb-25 tran3s title">
                  Run Ad campaigns
                </h5>
              </div>
              <p class="tran3s">
                We set up, monitor and optimize paid campaigns. We derive
                maximum benefit for every dollar you spend.
              </p>
              <!-- <a href="#" class="read-more tran3s"><i class="flaticon-next-1"></i></a> -->
            </div>
            <!-- /.feature-block-one -->
            <div class="feature-block-one">
              <div class="d-flex align-items-center">
                <img
                  src="/images/icon/analytics.png"
                  width="80"
                  alt=""
                  class="img-icon"
                />
                <h5 class="ml-3 ml-md-5 pt-30 pb-25 tran3s title">
                  Competitor analysis
                </h5>
              </div>
              <p class="tran3s">
                We keep tabs on competition, how often they post, how many
                followers they have, what they post and so on.
              </p>
              <!-- <a href="#" class="read-more tran3s"><i class="flaticon-next-1"></i></a> -->
            </div>
            <!-- /.feature-block-one -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.our-service-one -->

  <!-- Logo marquee section -->
  <div class="logo-section pt-vh-15 pb-vh-10">
    <div class="theme-title-one pt-30">
      <h2
        class="main-title underline pl-3 pl-lg-0 text-left text-lg-center mb-3"
      >
        <span>Platforms</span>
      </h2>
      <h5 class="line-height-md pl-3 pl-lg-0 text-left text-lg-center">
        <span>The platforms we have mastered</span>
      </h5>
    </div>
    <!-- /.theme-title-one -->
    <div class="mb-20 d-flex justify-content-center align-items-center">
      <div class="marquee">
        <ul class="marquee-content">
          <li>
            <div class="logo-box">
              <img src="/images/logo/facebook.svg" alt="" />
            </div>
          </li>
          <li>
            <div class="logo-box">
              <img src="/images/logo/instagram.png" alt="" />
            </div>
          </li>
          <li>
            <div class="logo-box">
              <img src="/images/logo/youtube.png" alt="" />
            </div>
          </li>
          <li>
            <div class="logo-box">
              <img src="/images/logo/linkedin.png" alt="" />
            </div>
          </li>
          <li>
            <div class="logo-box">
              <img src="/images/logo/twitter.png" alt="" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Logo marquee section ends -->

  <!-- gallery section -->
  <div class="gallery-section rogan-hero-one pos-r pt-100 pb-100">
    <div class="shape-wrapper">
      <img
        src="/images/shape/2.svg"
        alt=""
        class="line-shape-one img-shape wow fadeInRight animated"
        data-wow-duration="3s"
      />
      <img
        src="/images/shape/3.svg"
        alt=""
        class="line-shape-two img-shape wow fadeInLeft animated"
        data-wow-duration="3s"
      />
      <img
        src="/images/shape/15.svg"
        alt=""
        class="light-lamp img-shape wow fadeInDown animated"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      />
      <img
        src="/images/shape/instagram.svg"
        alt=""
        width="30"
        class="shape-three img-shape"
      />
      <img
        src="/images/shape/twitter.svg"
        alt=""
        width="30"
        class="shape-four img-shape"
      />
      <img
        src="/images/shape/linkedin.svg"
        alt=""
        width="30"
        class="shape-seven img-shape"
      />
      <img
        src="/images/shape/instagram.svg"
        alt=""
        width="30"
        class="shape-eight img-shape"
      />
      <img
        src="/images/shape/facebook.svg"
        alt=""
        width="30"
        class="shape-nine img-shape"
      />
      <img
        src="/images/shape/twitter.svg"
        alt=""
        width="30"
        class="shape-twelve img-shape"
      />
    </div>
    <div class="container vw-container">
      <div class="theme-title-one pt-30 mb-50">
        <h2 class="main-title underline text-left text-lg-center mb-3">
          <span>Our Works</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row justify-content-center pt-5">
        <div class="col-lg-4 col-md-5 gallery-col">
          <div class="img-container">
            <div class="item">
              <div class="gallery-polar-state">
                <div class="img-holder pos-r">
                  <img src="/images/services/Desktop-post-1.webp" alt="" />
                  <a
                    href="/images/services/Desktop-post-1.webp"
                    class="icon zoom fancybox"
                    data-fancybox="images"
                    data-caption="My caption">+</a
                  >
                </div>
                <!-- /.img-holder -->
              </div>
              <!-- /.gallery-polar-state -->
            </div>
          </div>
          <div class="img-container">
            <div class="item">
              <div class="gallery-polar-state">
                <div class="img-holder pos-r">
                  <img src="/images/services/Phone-post-1.webp" alt="" />
                  <a
                    href="/images/services/Phone-post-1.webp"
                    class="icon zoom fancybox"
                    data-fancybox="images"
                    data-caption="My caption">+</a
                  >
                </div>
                <!-- /.img-holder -->
              </div>
              <!-- /.gallery-polar-state -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 gallery-col">
          <div class="img-container">
            <div class="item">
              <div class="gallery-polar-state">
                <div class="img-holder pos-r">
                  <img src="/images/services/Phone-post-2.webp" alt="" />
                  <a
                    href="/images/services/Phone-post-2.webp"
                    class="icon zoom fancybox"
                    data-fancybox="images"
                    data-caption="My caption">+</a
                  >
                </div>
                <!-- /.img-holder -->
              </div>
              <!-- /.gallery-polar-state -->
            </div>
          </div>
          <div class="img-container">
            <div class="item">
              <div class="gallery-polar-state">
                <div class="img-holder pos-r">
                  <img src="/images/services/Desktop-post-2.webp" alt="" />
                  <a
                    href="/images/services/Desktop-post-2.webp"
                    class="icon zoom fancybox"
                    data-fancybox="images"
                    data-caption="My caption">+</a
                  >
                </div>
                <!-- /.img-holder -->
              </div>
              <!-- /.gallery-polar-state -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- gallery section ends -->

  <!-- partner section -->
  <div class="rogan-hero-one partner-section mt-100 md-mt-10 mb-100 pos-r">
    <div class="shape-wrapper">
      <img
        src="/images/shape/2.svg"
        alt=""
        class="line-shape-one img-shape wow fadeInRight animated"
        data-wow-duration="3s"
      />
      <img
        src="/images/shape/3.svg"
        alt=""
        class="line-shape-two img-shape wow fadeInLeft animated"
        data-wow-duration="3s"
      />
      <img
        src="/images/shape/15.svg"
        alt=""
        class="light-lamp img-shape wow fadeInDown animated"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      />
      <img
        src="/images/shape/instagram.svg"
        alt=""
        width="30"
        class="shape-three img-shape"
      />
      <img
        src="/images/shape/twitter.svg"
        alt=""
        width="30"
        class="shape-four img-shape"
      />
      <img
        src="/images/shape/linkedin.svg"
        alt=""
        width="30"
        class="shape-seven img-shape"
      />
      <img
        src="/images/shape/instagram.svg"
        alt=""
        width="30"
        class="shape-eight img-shape"
      />
      <img
        src="/images/shape/facebook.svg"
        alt=""
        width="30"
        class="shape-nine img-shape"
      />
      <img
        src="/images/shape/twitter.svg"
        alt=""
        width="30"
        class="shape-twelve img-shape"
      />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="theme-title-one">
            <h3 class="main-title underline">
              <span>What you get when you </span>
              <br />
              <span>partner with emovur</span>
            </h3>
          </div>
          <!-- /.theme-title-one -->
          <div class="d-none d-lg-block">
            <img
              src="/images/services/smm-partner.svg"
              class="img-fluid mx-auto"
              alt=""
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-12 mb-30">
              <div class="feature-block-one custom">
                <h5 class="mb-10">Business Partner</h5>
                <p>
                  We don’t just stick to deliverables, we want to hear your
                  ideas and what you think it will take to reach your goals and
                  grow your business faster.
                </p>
              </div>
              <!-- /.feature-block-one -->
            </div>
            <div class="col-12 mb-30">
              <div class="feature-block-one custom">
                <h5 class="mb-10">Up to date reporting</h5>
                <p>
                  Our proprietary reporting system ensures quality reporting
                  which gives you insights into performance of key performance
                  indicators.
                </p>
              </div>
            </div>
            <div class="col-12 mb-30">
              <div class="feature-block-one custom">
                <h5 class="mb-10">Dedicated Social Media Specialist</h5>
                <p>
                  Your dedicated Social Media Strategist will be with you
                  throughout the project with a maximum response time of 4hrs.
                </p>
              </div>
            </div>
            <div class="col-12 mb-30">
              <div class="feature-block-one custom">
                <h5 class="mb-10">Undivided attention</h5>
                <p>
                  From the beginning, you can expect open and honest
                  communication, quick turnaround times, and high-quality work.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partner section ends -->

  <!-- 
                =============================================
                    Faq Page
                ============================================== 
                -->
  <div class="rogan-hero-one pos-r">
    <div class="shape-wrapper">
      <img
        src="/images/shape/2.svg"
        alt=""
        class="line-shape-one img-shape wow fadeInRight animated"
        data-wow-duration="3s"
      />
      <img
        src="/images/shape/3.svg"
        alt=""
        class="line-shape-two img-shape wow fadeInLeft animated"
        data-wow-duration="3s"
      />
      <img
        src="/images/shape/15.svg"
        alt=""
        class="light-lamp img-shape wow fadeInDown animated"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      />
      <img
        src="/images/shape/facebook.svg"
        alt=""
        width="30"
        class="shape-two img-shape"
      />
      <img
        src="/images/shape/twitter.svg"
        alt=""
        width="30"
        class="shape-four img-shape"
      />
      <img
        src="/images/shape/linkedin.svg"
        alt=""
        width="30"
        class="shape-seven img-shape"
      />
      <img
        src="/images/shape/instagram.svg"
        alt=""
        width="30"
        class="shape-eight img-shape"
      />
      <img
        src="/images/shape/facebook.svg"
        alt=""
        width="30"
        class="shape-nine img-shape"
      />
      <img
        src="/images/shape/twitter.svg"
        alt=""
        width="30"
        class="shape-twelve img-shape"
      />
    </div>
    <div class="faq-page faq-tab-wrapper pt-150 pb-100 md-pt-120">
      <div class="container">
        <div class="theme-title-one mb-80">
          <h2
            class="main-title underline pl-3 pl-lg-0 text-left text-lg-center"
          >
            <span>Frequently Asked Questions</span>
          </h2>
        </div>
        <!-- /.theme-title-one -->
        <div class="row">
          <div class="col-lg-6">
            <!-- ================== FAQ Panel ================ -->
            <div class="faq-panel">
              <div class="panel-group theme-accordion" id="accordion">
                <div class="panel">
                  <div class="panel-heading">
                    <h6 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse1"
                      >
                        What do I post about?</a
                      >
                    </h6>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>
                        You should share valuable content with your future
                        customers that is both interesting and entertaining.
                        Does it seem to be difficult? It really isn't if you
                        know who your target audience is.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /panel 1 -->
                <div class="panel">
                  <div class="panel-heading">
                    <h6 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse3"
                      >
                        Which social media platform suits my Business?</a
                      >
                    </h6>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>
                        For some, Facebook may be the best business place, while
                        for others Instagram might be the best option. To figure
                        out which platform is best for your business, you must
                        first figure out who your target audience is and what
                        your social media goals are.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /panel 3 -->
                <div class="panel">
                  <div class="panel-heading">
                    <h6 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse4"
                      >
                        How many people are on social media?</a
                      >
                    </h6>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>
                        As of April 2020, 3.81 billion people use social media
                        worldwide, placing the global social media penetration
                        rate at 49 percent.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /panel 4 -->
              </div>
              <!-- end #accordion -->
            </div>
            <!-- End of .faq-panel -->
          </div>
          <!-- /.col- -->
          <div class="col-lg-6">
            <!-- ================== FAQ Panel ================ -->
            <div class="faq-panel">
              <div class="panel-group theme-accordion" id="accordion2">
                <div class="panel">
                  <div class="panel-heading">
                    <h6 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion2"
                        href="#collapse11"
                      >
                        How often do I post?</a
                      >
                    </h6>
                  </div>
                  <div id="collapse11" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>
                        Highly dependent on your target audience. While you
                        should publish at least one post per day, you should
                        consider whether posting more regularly will increase
                        your performance. Build a publishing calendar and stick
                        to it until you've found a posting frequency that works
                        for you.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /panel 1 -->
                <div class="panel">
                  <div class="panel-heading">
                    <h6 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion2"
                        href="#collapse33"
                      >
                        Why should I use social media marketing?</a
                      >
                    </h6>
                  </div>
                  <div id="collapse33" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>
                        It's important to be available on social media to your
                        customers – and potential customers – in order to create
                        connections and guide them through the sales funnel.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /panel 3 -->
                <div class="panel">
                  <div class="panel-heading">
                    <h6 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion2"
                        href="#collapse44"
                      >
                        Can you manage my social media accounts?</a
                      >
                    </h6>
                  </div>
                  <div id="collapse44" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>
                        When your mission begins, we will make, plan and enhance
                        the entirety of your account for improved reach and
                        conversions.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /panel 4 -->
              </div>
              <!-- end #accordion2 -->
            </div>
            <!-- End of .faq-panel -->
          </div>
          <!-- /.col- -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.faq-page -->
  </div>

  <!--
                =====================================================
                    Free Consultation
                =====================================================
                -->
  <div id="consult-form-holder" class="pos-r pt-60 pb-80 mb-vh-10">
    <div class="shape-wrapper">
      <span class="big-round-one wow fadeInLeft animated" data-wow-duration="3s"
      ></span>
      <span class="big-round-two wow fadeInLeft animated" data-wow-duration="3s"
      ></span>
      <span
        class="big-round-three wow fadeInLeft animated"
        data-wow-duration="3s"></span>
    </div>
    <!-- /.shape-wrapper -->
    <div class="container shadow pt-vh-5 pb-vh-10">
      <div class="theme-title-one mb-40">
        <h2 class="main-title underline text-center">
          <span>Consult Us</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div id="consult-form-container">
        <form
          action="../inc/consult-us-form.php"
          method="post"
          id="consult-form"
        >
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 mb-3 mb-lg-0">
              <input
                class="smm-form-input"
                type="text"
                placeholder="Your Name*"
                name="consult-form-name"
                required
              />
            </div>
            <div class="col-lg-3 mb-3 mb-lg-0">
              <input
                class="smm-form-input"
                type="text"
                placeholder="Phone Number*"
                name="consult-form-phone"
                required
              />
            </div>
            <div class="col-lg-3">
              <button type="submit">Send Request</button>
            </div>
          </div>
        </form>
      </div>
      <div id="consult-form-message-success" class="d-none">
        <img src="/images/icon/checked.png" alt="" width="80" class="mx-auto" />
        <h4 class="text-center text-white my-3">Thank You!</h4>
        <h6 class="text-center text-white">We'll get back to you soon!</h6>
      </div>
      <div id="consult-form-message-fail" class="d-none mt-3">
        <div class="alert alert-danger text-center" role="alert">
          Oops! Something went wrong. Please try again later.
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.why-choose-us -->
  <!-- /.consultation-section -->
</Layout>
