---
import WhatsappLayout from "../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../public/whatsapp-business-api/css/broadcast.css";
import "../../../public/whatsapp-business-api/css/broadcasttabs.css";
import LogoStrips from "../../components/LogoStrips.astro";
import PhoneApp from "../../components/PhoneApp.astro";

const metaTitle = "WhatsApp Bulk Messaging | Send Broadcasts with Emovur";
const metaDescription =
  "Send bulk WhatsApp messages and engage your audience instantly. Emovur enables powerful broadcasting with high delivery rates and compliance.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/broadcast-bulk-messages";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <a
        href="https://www.facebook.com/business/partner-directory/search?solution_type=messaging&ref=pd_home_hero_cta&id=7961305477248043&section=overview"
        target="_blank"
        class="meta-class-broadcast"
        ><span id="lp-mtp-btn">Broadcast Bulk Messages</span></a
      ><br />
      <h6 class="broadcast-heading-title">
        Reach Unlimited Users <br />Instantly with <span
          >WhatsApp Broadcasting</span
        >
      </h6>
      <p class="broad-casting-description-para">
        Enhance the impact of your WhatsApp Broadcasts with advanced
        segmentation, personalized messaging, and automation all delivered with
        a human touch.
      </p>
      <div class="tag-class">
        <div>
          <img
            src="/whatsapp-business-api/images/Green tick.svg"
            alt="Green Tick"
            style="width: 15px"
          /> Blue tick
        </div>
        <div>
          <img
            src="/whatsapp-business-api/images/No Markup.svg"
            alt="No Markup"
            style="width: 15px"
          /> No Markup
        </div>
      </div>
      <div class="btn-class">
        <a
          href="https://admin.emovur.com/auth/register"
          target="_blank"
          class="svg-link svg-link-white"
        >
          <button class="schedule-btn-one theme-btn" id="lp-sft-btn">
            Start Free Trial
          </button>
        </a>
        <a href="/whatsapp-business-api/book-demo" target="_blank">
          <button class="schedule-btn theme-btn" id="lp-demo-btn">
            Book 1-1 Demo
          </button>
        </a>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page"
        src="/whatsapp-business-api/images/broadcasttitle.webp"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>

  <!-- Landing form section ends -->

  <!-- features section starts -->

  <div class="features-section-color" style="margin-top: 30px">
    <div id="features-id" class="container features-container">
      <div class="memorable-experience-heading-container-cards-parts">
        <div class="heading-container" style="text-align: center">
          <h6
            class="memorable-experience-heading-what"
            style="color: #000000 !important,font-family: Roboto, sans-serif;font-weight: 600;font-size: 3rem"
          >
            What you can do
          </h6>
          <h6
            style="color: #000000 !important,font-family: Roboto, sans-serif;font-weight: 400;font-size: 3rem"
            class="memorable-experience-heading-what-para"
          >
            with Broadcast Bulk Messages?
          </h6>
          <span
            class="heading-underline experience-heading-underline d-none d-sm-inline"
          ></span>
        </div>
      </div>
      <div class="broadcast-col-container">
        <div class="broadcast-col-section">
          <div class="broadcast-card">
            <div class="broadcast-card-icon">
              <img
                class="broadcast-card-icon-image-part"
                src="/whatsapp-business-api/images/run.webp"
                alt="1"
                width="60px"
                height="60px"
              />
            </div>
            <div class="broadcast-card-content">
              <h6 class="broadcast-card-title">
                Run Promotional <br />Campaigns
              </h6>
              <p class="broadcast-card-description">
                Drive sales and engagement by broad- casting special offers,
                discounts, and limited-time deals.
              </p>
            </div>
          </div>
        </div>
        <div class="broadcast-col-section">
          <div class="broadcast-card">
            <div class="broadcast-card-icon">
              <img
                class="broadcast-card-icon-image-part"
                src="/whatsapp-business-api/images/nurture.webp"
                alt="1"
                width="60px"
                height="60px"
              />
            </div>
            <div class="broadcast-card-content">
              <h6 class="broadcast-card-title">Nurture<br /> Leads</h6>
              <p class="broadcast-card-description">
                Send tailored content to prospects to guide them through the
                sales funnel effectively.
              </p>
            </div>
          </div>
        </div>
        <div class="broadcast-col-section">
          <div class="broadcast-card">
            <div class="broadcast-card-icon">
              <img
                class="broadcast-card-icon-image-part"
                src="/whatsapp-business-api/images/sellupsell@4x.webp"
                alt="1"
                width="60px"
                height="60px"
              />
            </div>
            <div class="broadcast-card-content">
              <h6 class="broadcast-card-title">Upsell and <br />Cross-Sell</h6>
              <p class="broadcast-card-description">
                Introduce complementary products or services to your existing
                customers, in- creasing their lifetime value.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="broadcast-col-container">
        <div class="broadcast-col-section">
          <div class="broadcast-card">
            <div class="broadcast-card-icon">
              <img
                class="broadcast-card-icon-image-part"
                src="/whatsapp-business-api/images/sellsend.webp"
                alt="1"
                width="60px"
                height="60px"
              />
            </div>
            <div class="broadcast-card-content">
              <h6 class="broadcast-card-title">Send Important <br />Updates</h6>
              <p class="broadcast-card-description">
                Keep your customers informed with updates about order statuses,
                appoint- ments, or company news.
              </p>
            </div>
          </div>
        </div>
        <div class="broadcast-col-section">
          <div class="broadcast-card">
            <div class="broadcast-card-icon">
              <img
                class="broadcast-card-icon-image-part"
                src="/whatsapp-business-api/images/sellre engage@4x.webp"
                alt="1"
                width="60px"
                height="60px"
              />
            </div>
            <div class="broadcast-card-content">
              <h6 class="broadcast-card-title">
                Re-engage <br />Inactive Customers
              </h6>
              <p class="broadcast-card-description">
                Rekindle interest by sharing personal- ized reminders,
                follow-ups, or exclusive content with dormant users.
              </p>
            </div>
          </div>
        </div>
        <div class="broadcast-col-section">
          <div class="broadcast-card">
            <div class="broadcast-card-icon">
              <img
                class="broadcast-card-icon-image-part"
                src="/whatsapp-business-api/images/sellprompt@4x.webp"
                alt="1"
                width="60px"
                height="60px"
              />
            </div>
            <div class="broadcast-card-content">
              <h6 class="broadcast-card-title">Prompt<br /> Registrations</h6>
              <p class="broadcast-card-description">
                Share registration links directly with your audience to boost
                sign-ups for webinars, events, or memberships.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- features section ends -->

  <!-- price info section starts -->

  <div class="price-info-broadcast">
    <div id="features-id" class="container features-container">
      <div class="sections-col-container">
        <div class="memorable-experience-heading-container">
          <div class="heading-section-part1">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              Broadcast Campaign
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2">
              Create high-converting<br />
              WhatsApp Broadcasts
            </h6>
          </div>
          <div class="heading-section-part3">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
            >
              Craft impactful broadcasts effortlessly using an intuitive
              interface. Customize your messages to match your campaign goals
              and connect with your audience instantly.
            </p>
          </div>
          <div class="heading-section-part4 d-none d-xs-block">
            <div class="broadcast-info-cards-container-partner-cards">
              <div class="broadcast-info-cards-content"></div>
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  Design broadcasts with rich media, including images, videos,
                  and buttons.
                </p>
              </div>
            </div>
            <div class="broadcast-info-cards-container-partner-cards">
              <div class="broadcast-info-cards-content"></div>
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  Preview messages before sending to ensure perfection every
                  time.
                </p>
              </div>
            </div>
          </div>
          <div class="sections-col-container"></div>
        </div>
        <div class="image-container-img-broadcast">
          <img
            src="/whatsapp-business-api/images/broadcastcampaign.webp"
            alt="1"
          />
        </div>
      </div>

      <div class="sections-col-container">
        <div class="image-container-img-broadcast-part-2">
          <img
            src="/whatsapp-business-api/images/Auto flow_1@4x.webp"
            alt="1"
            width="100%"
            height="100%"
          />
        </div>
        <div
          class="memorable-experience-heading-container-part-right"
          style="align-items: flex-end;"
        >
          <div class="heading-section-part1" style="background-color: #6366f1">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              Automate flow
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2-right">
              Set automated flow after the customer's response
            </h6>
          </div>
          <div class="heading-section-part3">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem;text-align: left"
            >
              Set custom auto-replies, assign to concerned agents, add auto-
              mated workflows, send catalogs, and more when the customer replies
              to your template message
            </p>
          </div>
          <div class="heading-section-part4 d-none d-sm-block">
            <div class="broadcast-info-cards-container-partner-cards">
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  Automate customer responses to improve I efficiency and ensure
                  timely replies.
                </p>
              </div>
              <div
                class="broadcast-info-cards-content"
                style="background-color: #6366f1"
              >
              </div>
            </div>
            <div class="broadcast-info-cards-container-partner-cards">
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  Provide interactive options, such as catalogs or buttons, to
                  simplify the custom
                </p>
              </div>
              <div
                class="broadcast-info-cards-content"
                style="background-color: #6366f1"
              >
              </div>
            </div>
          </div>

          <!-- <div class="heading-section-part4 d-block d-sm-none">
                    <div class="broadcast-info-cards-container-partner-cards">
                        <div class="broadcast-info-cards-content" style="background-color: #6366f1">
                        </div>
                        <div>
                            <p
                                style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem;text-align: left">
                                Automate customer responses to improve I efficiency and ensure timely replies.</p>
                        </div>

                    </div>
                    <div class="broadcast-info-cards-container-partner-cards">
                        <div class="broadcast-info-cards-content" style="background-color: #6366f1">
                        </div>
                        <div>
                            <p
                                style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem;text-align: left">
                                Provide interactive options, such as catalogs or buttons, to simplify the custom</p>
                        </div>

                    </div>
                </div> -->

          <div class="sections-col-container"></div>
        </div>
        <div class="image-container-img-broadcast-part-2-mobile">
          <img
            src="/whatsapp-business-api/images/Auto flow_1@4x.webp"
            alt="1"
            width="100%"
            height="100%"
          />
        </div>
      </div>

      <div class="sections-col-container">
        <div class="memorable-experience-heading-container">
          <div class="heading-section-part1" style="background-color: #14b8a6">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              Audience Segregation
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2">
              Segment Your Audience for More Targeted Campaigns
            </h6>
          </div>
          <div class="heading-section-part3">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
            >
              Reach the right people with the right messages by grouping your
              audience based on tags, attributes, user behavior, and campaign
              engagement
            </p>
          </div>
          <div class="heading-section-part4 d-none d-xs-block">
            <div class="broadcast-info-cards-container-partner-cards">
              <div
                class="broadcast-info-cards-content"
                style="background-color: #14b8a6"
              >
              </div>
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  Filter contacts by tags, attributes, user behavior, and
                  campaigns to create highly targeted audience lists.
                </p>
              </div>
            </div>
            <div class="broadcast-info-cards-container-partner-cards">
              <div
                class="broadcast-info-cards-content"
                style="background-color: #14b8a6"
              >
              </div>
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  Increase engagement by sending messages tailored to the
                  specific needs and interests of each group.
                </p>
              </div>
            </div>
          </div>

          <div class="sections-col-container"></div>
        </div>
        <div class="image-container-img-broadcast">
          <img src="/whatsapp-business-api/images/audience.webp" alt="1" />
        </div>
      </div>

      <div class="sections-col-container">
        <div class="image-container-img-broadcast-part-2">
          <img
            src="/whatsapp-business-api/images/Analytics.webp"
            alt="1"
            width="100%"
            height="100%"
          />
        </div>
        <div
          class="memorable-experience-heading-container-part-right"
          style="align-items: flex-end;"
        >
          <div class="heading-section-part1" style="background-color: #f43f5e">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              Analytics
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2-right">
              Track and Optimize Your Broadcast Performance
            </h6>
          </div>
          <div class="heading-section-part3">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem;text-align: left"
            >
              Gain valuable insights into the effectiveness of your WhatsApp
              Broadcasts with detailed analytics
            </p>
          </div>
          <div class="heading-section-part4 d-none d-sm-block">
            <div class="broadcast-info-cards-container-partner-cards">
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  Monitor delivery rates, open rates, and engagement in real
                  time.
                </p>
              </div>
              <div
                class="broadcast-info-cards-content"
                style="background-color: #f43f5e"
              >
              </div>
            </div>
            <div class="broadcast-info-cards-container-partner-cards">
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  Use actionable insights to optimize campaigns and maximize
                  ROI.
                </p>
              </div>
              <div
                class="broadcast-info-cards-content"
                style="background-color: #f43f5e"
              >
              </div>
            </div>
          </div>

          <!-- <div class="heading-section-part4 d-block d-sm-none">
                    <div class="broadcast-info-cards-container-partner-cards">
                        <div class="broadcast-info-cards-content" style="background-color: #f43f5e">
                        </div>
                        <div>
                            <p
                                style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem;text-align: left">
                                Monitor delivery rates, open rates, and engagement in real time.</p>
                        </div>

                    </div>
                    <div class="broadcast-info-cards-container-partner-cards">
                        <div class="broadcast-info-cards-content" style="background-color: #f43f5e">
                        </div>
                        <div>
                            <p
                                style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem;text-align: left">
                                Use actionable insights to optimize campaigns and maximize ROI.</p>
                        </div>

                    </div>
                </div> -->

          <div class="sections-col-container"></div>
        </div>
        <div class="image-container-img-broadcast-part-2-mobile">
          <img
            src="/whatsapp-business-api/images/Analytics.webp"
            alt="1"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- price info section ends -->

  <!--- retargeting campaigns section starts -->

  <div
    id="features-id"
    class="container features-container"
    style="padding-top: 30px"
  >
    <div class="schedule-cards-container">
      <div class="col-sm-4 col-12">
        <div class="schedule-cards-content" style="margin-bottom: 1rem">
          <img
            src="/whatsapp-business-api/images/sched@4x.webp"
            alt="1"
            width="60px"
            height="60px"
          />
          <h5
            style="font-family: Roboto, sans-serif;font-weight: 600;font-size: 25px;line-height: 2rem;"
          >
            Schedule
          </h5>
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem"
          >
            Schedule WhatsApp Broadcasts in advance to reach your audience at
            optimal times.
          </p>
        </div>
        <div class="schedule-cards-content">
          <img
            src="/whatsapp-business-api/images/persoli@4x.webp"
            alt="1"
            width="60px"
            height="60px"
          />
          <h5
            style="font-family: Roboto, sans-serif;font-weight: 600;font-size: 25px;line-height: 2rem;"
          >
            Personalise
          </h5>
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18PX;line-height: 1.3rem"
          >
            Boost engagement by personalizing broadcasts with customer details
            like names, history, or preferences.
          </p>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="schedule-cards-content-centre" style="margin-bottom: 1rem;">
          <img
            src="/whatsapp-business-api/images/retarget@4x.webp"
            alt="1"
            width="60px"
            height="60px"
          />
          <h5
            style="font-family: Roboto, sans-serif;font-weight: 600;font-size: 25px;line-height: 2rem;"
          >
            Retargeting<br /> Campaigns
          </h5>
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem"
          >
            Retarget users based on their past interactions, such as reading
            messages, reply- ing, or clicking on CTA buttons.
          </p>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="schedule-cards-content" style="margin-bottom: 1rem">
          <img
            src="/whatsapp-business-api/images/langyuage@4x.webp"
            alt="1"
            width="60px"
            height="60px"
          />
          <h5
            style="font-family: Roboto, sans-serif;font-weight: 600;font-size: 25px;line-height: 2rem;"
          >
            Vernacular Languages
          </h5>
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem"
          >
            Support for hundreds of languages and dialects lets you connect with
            more customers.
          </p>
        </div>
        <div class="schedule-cards-content">
          <img
            src="/whatsapp-business-api/images/label brod@4x.webp"
            alt="1"
            width="60px"
            height="60px"
          />
          <h5
            style="font-family: Roboto, sans-serif;font-weight: 600;font-size: 25px;line-height: 2rem;"
          >
            Labels
          </h5>
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18PX;line-height: 1.3rem"
          >
            Labels provide clarity on budget allocation, revealing which types
            of broadcasts are being invested in more.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--- retargeting campaigns section ends -->

  <div
    id="features-id"
    class="container features-container d-none d-sm-block"
    style="margin-top: 100px"
  >
    <div class="broadcast-page-container">
      <!-- Sidebar Tabs -->
      <div class="broadcast-sidebar-menu">
        <button
          class="broadcast-sidebar-tab active-broadcast-tab"
          onclick="switchBroadcastTab('broadcast-tab-quick-reply')"
          >Quick Reply</button
        >
        <button
          class="broadcast-sidebar-tab"
          onclick="switchBroadcastTab('broadcast-tab-cta')">CTA</button
        >
        <button
          class="broadcast-sidebar-tab"
          onclick="switchBroadcastTab('broadcast-tab-carousel')"
          >Carousel</button
        >
        <button
          class="broadcast-sidebar-tab"
          onclick="switchBroadcastTab('broadcast-tab-whatsapp-flows')"
          >WhatsApp Flows</button
        >
        <button
          class="broadcast-sidebar-tab"
          onclick="switchBroadcastTab('broadcast-tab-collect-payments')"
          >Collect Payments</button
        >
        <button
          class="broadcast-sidebar-tab"
          onclick="switchBroadcastTab('broadcast-tab-catalog-product')"
          >Catalog & Product</button
        >
      </div>

      <!-- Content Section -->
      <div class="broadcast-tab-container">
        <div
          id="broadcast-tab-quick-reply"
          class="broadcast-tab-content active-broadcast-content"
        >
          <div class="tabs-contents-container-main-part">
            <div class="tabs-broadcast-contents">
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Quack reply
                </h6>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem; "
                >
                  Interactive messages with predefined reply options.
                </p>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Customer Support: <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Offer predefined replies for FAQS like "Track Order" or
                    "Contact Support."</span
                  >
                </h6>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Capture Preferences: <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Use buttons like "Book A Ser- vice," "Schedule Pick-up
                    Drop," or "Not Interested."</span
                  >
                </h6>
              </div>
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/6@4x.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
        <div id="broadcast-tab-cta" class="broadcast-tab-content">
          <div class="tabs-contents-container-main-part">
            <div class="tabs-broadcast-contents">
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Call to Action (CTA)
                </h6>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem; "
                >
                  Messages with buttons for actions like visiting a website or
                  calling.
                </p>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Promotions : <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Share a link to an exclusive sale or product launch.</span
                  >
                </h6>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Lead Generation : <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Encourage users to call for consultations or demos.</span
                  >
                </h6>
              </div>
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/5@4x.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
        <div id="broadcast-tab-carousel" class="broadcast-tab-content">
          <div class="tabs-contents-container-main-part">
            <div class="tabs-broadcast-contents">
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Carousel
                </h6>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem; "
                >
                  Scrollable cards with product/service details and action
                  buttons.
                </p>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  E-Commerce :<span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Showcase a catalog with different products and purchase
                    links.</span
                  >
                </h6>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Service Offers : <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Highlight multiple service packages, each leading to
                    detailed pages.</span
                  >
                </h6>
              </div>
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/1@4x.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
        <div id="broadcast-tab-whatsapp-flows" class="broadcast-tab-content">
          <div class="tabs-contents-container-main-part">
            <div class="tabs-broadcast-contents">
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  WhatsApp Flows
                </h6>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem; "
                >
                  Step-by-step guides that help users fill a form or complete
                  tasks.
                </p>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Lead Qualification : <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Ask users simple questions to collect their details.</span
                  >
                </h6>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Support Automation : <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Guide users through trou- bleshooting or setting up a
                    service.</span
                  >
                </h6>
              </div>
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/2.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
        <div id="broadcast-tab-collect-payments" class="broadcast-tab-content">
          <div class="tabs-contents-container-main-part">
            <div class="tabs-broadcast-contents">
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Collect Payments
                </h6>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem; "
                >
                  Messages with payment links for transactions.
                </p>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  E-Commerce Checkout : <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Send a payment request after cart confirmation.</span
                  >
                </h6>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Bill Reminders : <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Share pending invoice links for quick settlements.</span
                  >
                </h6>
              </div>
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/4@4x.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
        <div id="broadcast-tab-catalog-product" class="broadcast-tab-content">
          <div class="tabs-contents-container-main-part">
            <div class="tabs-broadcast-contents">
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Catalog & Product
                </h6>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem; "
                >
                  Messages featuring product details from the catalog.
                </p>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Product Discovery : <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Display product categories for easy navigation.</span
                  >
                </h6>
              </div>
              <div style="margin-bottom: 1rem">
                <h6
                  style="font-family: Roboto, sans-serif;font-weight: 500;font-size: 18px;line-height: 1.7rem"
                >
                  Upselling : <span
                    style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 18px;line-height: 1.3rem;color: #8a919c"
                  >
                    Suggest related products based on customer inquiries.</span
                  >
                </h6>
              </div>
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/3.webp"
                alt="1"
                style="width: 95%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container features-container d-block d-sm-none"
    id="features-key-carousel-disktop"
    style="display:flex;align-items:center;width: 100%;justify-content: center;height: 100%;"
  >
    <div
      id="carouselExampleIndicators"
      class="carousel slide feature-keys"
      data-ride="carousel"
      data-interval="5000"
      style="width: 100%;"
    >
      <ol class="carousel-indicators" style="display: none">
        <li
          data-target="#carouselExampleIndicators0"
          data-slide-to="0"
          class="active"
        >
        </li>
        <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators4" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators5" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">Quick Reply</h6>
              <p class="feature-key-p">
                Customer support is streamlined with quick replies like "Track
                Order" or "Contact Support," allowing instant assistance.
                Interactive reply buttons, such as "Book a Service" or "Schedule
                Pick-up & Drop," ensure a smooth and efficient user experience.
              </p>
              <!-- <ul class="bullet-points">
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Instant Conversations</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C;">Higher Conversions</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C;">Seamless Integration</p>
                            </li>
                        </ul> -->
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/6@4x.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">
                Call to Action (CTA)
              </h6>
              <p class="feature-key-p">
                Drive engagement with buttons for actions like visiting a
                website or making a call. Share exclusive promotions with links
                or encourage users to call for consultations and demos.
              </p>
              <!-- <ul class="bullet-points">
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Automated Drip Campaigns</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Customizable Intervals</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Personalized Campaigns</p>
                            </li>
                        </ul> -->
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/5@4x.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">Carousel</h6>
              <p class="feature-key-p">
                Scrollable cards display product or service details with action
                buttons. E-commerce stores can showcase catalogs with purchase
                links, while service providers can highlight packages leading to
                detailed pages.
              </p>
              <!-- <ul class="bullet-points">
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Product Catalogs</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Cart, Order Summary, and Checkout</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">WhatsApp Payments</p>
                            </li>
                        </ul> -->
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/1@4x.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">WhatsApp Flows</h6>
              <p class="feature-key-p">
                Step-by-step guides help users fill forms or complete tasks
                effortlessly. They can qualify leads by collecting user details
                or automate support by guiding users through troubleshooting and
                setup.
              </p>
              <!-- <ul class="bullet-points">
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Customizable Forms</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Effortless Data Collection</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Real-Time Responses</p>
                            </li>
                        </ul> -->
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/2.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">Collect Payments</h6>
              <p class="feature-key-p">
                Send messages with payment links for seamless transactions. Use
                them for e-commerce checkouts after cart confirmation or share
                invoice links for quick bill settlements.
              </p>
              <!-- <ul class="bullet-points">
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">AI-Generated Responses</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Conversation Summaries</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Tone Adjustment (Professional/Friendly)
                                </p>
                            </li>
                        </ul> -->
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/4@4x.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">Catalog & Product</h6>
              <p class="feature-key-p">
                Showcase product details from your catalog to enhance discovery
                and sales. Help users navigate categories easily and suggest
                related products for effective upselling.
              </p>
              <!-- <ul class="bullet-points">
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">AI-Generated Responses</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Conversation Summaries</p>
                            </li>
                            <li style="margin-bottom: 10px">
                                <p style="font-size: 14px; color: #8A919C">Tone Adjustment (Professional/Friendly)
                                </p>
                            </li>
                        </ul> -->
            </div>

            <div class="tabs-broadcast-contents-img-part">
              <img
                src="/whatsapp-business-api/images/3.webp"
                alt="1"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-control-feature-key">
        <a href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- <div style="width: 60%">
        <video width="100%" height="440" autoplay muted loop>
            <source src="./assets/ads.mp4" type="video/mp4">
        </video>
        <video width="100%" height="440" autoplay muted loop>
            <source src="./assets/AI.mp4" type="video/mp4">

        </video>
        <video width="100%" height="440" autoplay muted loop>
            <source src="./assets/Baordcast.mp4" type="video/mp4">

        </video>
        <video width="100%" height="440" autoplay muted loop>
            <source src="./assets/catalogDash.mp4" type="video/mp4">

        </video>
        <video width="100%" height="440" autoplay muted loop>
            <source src="./assets/whatsappflow.mp4" type="video/mp4">
        </video>
    </div> -->
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-80">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      How do I join the Emovur Partner Program?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      If you are interested in becoming a Emovur partner, please
                      sign up using the form and our team will get in touch with
                      you!
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Are there different partnership tiers offered by Emovur?</a
                    >
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Referral Partners - If youre willing to use your social
                      presence, community, and influence to deliver high-quality
                      leads, opt for this option. Reseller Partners - If youd
                      like to become the voice of Emovur in your local community
                      and territory and drive our revenue, this is for you!
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Do Emovur partnership programs require a membership fee?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      There is currently no cost to join our partnership
                      program. We would like to keep it free of cost unless
                      there is a genuine need that demands a partnership. We
                      believe in working hand-in-hand with our partners to grow
                      together
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Do you offer dedicated support for partners?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      We offer a dedicated partner manager to every partner we
                      onboard and you could reach out to support@emouvr.com to
                      reach our partner team.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      How much commission can I earn as a Emovur partner?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      While the exact commission would vary based on your type
                      of partnership, you can earn a minimum of 20% revenue
                      share for the lifetime of the customer on Emovur.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      What agreements should I sign to seal the partnership
                      deal?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Once you are happy with the benefits of our partner
                      program and decide to get on board, well sign a mutually
                      beneficial partnership agreement that helps us grow
                      together.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <PhoneApp />

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->
</WhatsappLayout>

<script src="../../../public/whatsapp-business-api/js/tabsscript.js" is:inline
></script>
