---
import WhatsappLayout from "../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../public/whatsapp-business-api/css/broadcast.css";
import "../../../public/whatsapp-business-api/css/broadcasttabs.css";
import "../../../public/whatsapp-business-api/css/sharedinbox.css";
import LogoStrips from "../../components/LogoStrips.astro";
import PhoneApp from "../../components/PhoneApp.astro";

const metaTitle = "Shared Team Inbox for WhatsApp | Collaborate Seamlessly";
const metaDescription =
  "Manage customer chats with a unified team inbox. Emovur’s shared inbox helps your support and sales teams stay aligned and respond faster.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/shared-team-inbox";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <a
        href="https://www.facebook.com/business/partner-directory/search?solution_type=messaging&ref=pd_home_hero_cta&id=7961305477248043&section=overview"
        target="_blank"
        class="meta-class-broadcast"
        ><span id="lp-mtp-btn">Shared Team Inbox</span></a
      ><br />
      <h3 class="broadcast-heading-title">One WhatsApp Number,</h3>
      <h6 class="broadcast-heading-title">Multi-Agent Login</h6>
      <p class="broad-casting-description-para">
        Multiple agents can take over customer conversations through one single
        WhatsApp number. Oversee all conversations and increase productivity
      </p>
      <div class="tag-class">
        <div>
          <img
            src="/whatsapp-business-api/images/Green tick.svg"
            alt="Green Tick"
            style="width: 15px"
          /> Blue tick
        </div>
        <div>
          <img
            src="/whatsapp-business-api/images/No Markup.svg"
            alt="No Markup"
            style="width: 15px"
          /> No Markup
        </div>
      </div>
      <div class="btn-class">
        <a
          href="https://admin.emovur.com/auth/register"
          target="_blank"
          class="svg-link svg-link-white"
        >
          <button class="schedule-btn-one theme-btn" id="lp-sft-btn">
            Start Free Trial
          </button>
        </a>
        <a href="/whatsapp-business-api/book-demo" target="_blank">
          <button class="schedule-btn theme-btn" id="lp-demo-btn">
            Book 1-1 Demo
          </button>
        </a>
      </div>
    </div>

    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page"
        src="/whatsapp-business-api/images/tiltle@4x.webp"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>

  <!-- Landing form section ends -->

  <!-- features section starts -->

  <div class="features-section-color" style="margin-top: 30px">
    <div id="features-id" class="container features-container">
      <div class="memorable-experience-heading-container-cards-parts">
        <div class="heading-container" style="text-align: center">
          <h6
            class="memorable-experience-heading-what"
            style="color: #000000 !important,font-family: Roboto, sans-serif;font-weight: 600;font-size: 3rem"
          >
            What you can do
          </h6>
          <h6
            style="color: #000000 !important,font-family: Roboto, sans-serif;font-weight: 400;font-size: 3rem"
            class="memorable-experience-heading-what-para"
          >
            with Shared Team Inbox?
          </h6>
          <span
            class="heading-underline experience-heading-underline d-none d-sm-inline"
          ></span>
        </div>
      </div>
      <div class="broadcast-col-container">
        <div class="shared-col-section">
          <div class="shared-card">
            <div class="shared-card-icon">
              <img
                src="/whatsapp-business-api/images/engage_1@4x.webp"
                alt="1"
                width="150px"
                height="150px"
              />
            </div>
            <div class="broadcast-card-content" style="margin-top: -30px">
              <h6 class="broadcast-card-title">
                <spam style="color:#0c9ffa"> Enagage</spam> Proactively,<br
                />Build Trust
              </h6>
              <p class="broadcast-card-description">
                Proactively connect with customers during bot interactions to
                handle complex queries, foster trust, and build lasting
                relationships.
              </p>
            </div>
          </div>
        </div>
        <div class="shared-col-section">
          <div class="shared-card">
            <div class="shared-card-icon">
              <img
                src="/whatsapp-business-api/images/support@4x.webp"
                alt="1"
                width="150px"
                height="150px"
              />
            </div>
            <div class="broadcast-card-content" style="margin-top: -30px">
              <h6 class="broadcast-card-title">
                <spam style="color:#0c9ffa"> Support</spam> Made<br />Effortless
              </h6>
              <p class="broadcast-card-description">
                Deliver personalized responses and resolve issues fast, ensuring
                your customers feel supported at every step.
              </p>
            </div>
          </div>
        </div>
        <div class="shared-col-section">
          <div class="shared-card">
            <div class="shared-card-icon">
              <img
                src="/whatsapp-business-api/images/Sell@4x.webp"
                alt="1"
                width="150px"
                height="150px"
              />
            </div>
            <div class="broadcast-card-content" style="margin-top: -30px">
              <h6 class="broadcast-card-title">
                <spam style="color:#0c9ffa"> sell</spam> Smarter,<br />Respond
                Faster
              </h6>
              <p class="broadcast-card-description">
                Engage leads instantly, share product insights, and close deals
                efficiently-all from one shared inbox.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- features section ends -->

  <div
    id="features-id"
    class="container features-container"
    style="margin-top: 30px"
  >
    <div class="memorable-experience-heading-container-cards-parts">
      <div class="heading-container" style="text-align: center">
        <h6
          class="heading-container-Theres"
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 3rem"
        >
          There's a lot to <span style="color:#0c9ffa">leverage</span>
        </h6>
        <span
          class="heading-underline experience-heading-underline d-none d-sm-inline"
        ></span>
      </div>
    </div>

    <img
      class="landing-img-whatsapp-landing-page animated-image"
      src="/whatsapp-business-api/images/leverage@4x.webp"
      alt="Whatsapp Landing Page"
    />
  </div>

  <!-- price info section starts -->
  <div
    id="features-id"
    class="container features-container"
    style="padding-top: 100px"
  >
    <div class="organisation-part-container">
      <div class="organisation-part">
        <img
          src="/whatsapp-business-api/images/levorganize@4x.webp"
          alt="Whatsapp Landing Page"
          width="40px"
          height="40px"
          style="margin-bottom: 10px"
        />
        <h6
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.5rem"
        >
          Organize users and teams
        </h6>
        <p
          style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem;line-height: 1.5"
        >
          assign chats to specific agents and create teams for seamless
          collaboration.
        </p>
      </div>
      <div class="organisation-part">
        <img
          src="/whatsapp-business-api/images/levomnic box@4x.webp"
          alt="Whatsapp Landing Page"
          width="40px"
          height="40px"
          style="margin-bottom: 10px"
        />
        <h6
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.5rem"
        >
          Omnichannel Inbox
        </h6>
        <p
          style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem; line-height: 1.5rem"
        >
          Unify interactions from Facebook, Instagram,Website chat, and email
          into one inbox for seamless communication.
        </p>
      </div>
    </div>
    <div class="organisation-part-container" style="margin-top: 20px">
      <div class="organisation-part" style="width: 50%">
        <img
          src="/whatsapp-business-api/images/levtranfer@4x.webp"
          alt="Whatsapp Landing Page"
          width="40px"
          height="40px"
          style="margin-bottom: 10px"
        />
        <h6
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.5rem"
        >
          Smooth Chatbot to Human Transfer
        </h6>
        <p
          style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem; line-height: 1.5rem"
        >
          Easily switch chats from both to agents, ensuring complex querises get
          a persinal touch.
        </p>
      </div>
    </div>
  </div>
  <!-- price info section ends -->

  <div style="margin-bottom: 50px">
    <div
      class="features-section-color shared-inbox-fixed-1"
      style="margin-top: 100px;padding:50px 0"
    >
      <div class="container features-container">
        <div class="shared-inbox-container">
          <div
            style="width: 40%;display: flex;align-items: center;justify-content: center"
          >
            <div class="heading-section-part1" style="padding:10px 40px">
              <h5
                style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
              >
                Manage
              </h5>
            </div>
          </div>
          <div
            class="main-part-scrolling-part-1 d-none d-sm-block"
            style="width: 20%"
          >
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/labels@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Labels
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Add labels to chats<br /> and keep it organized.
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/labels@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Contack Notes
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Add labels to contacts
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/labels@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Contack Segments
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Filter and group your <br />ontacts into segments
                </p>
              </div>
            </div>
          </div>
          <div
            class="main-part-scrolling-part-2 d-none d-sm-block"
            style="width: 20%;"
          >
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/labels@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Teams
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Create internal teams
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/labels@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Private Notes
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Privately discuss customer queries with your teammates
                </p>
              </div>
            </div>
          </div>
          <div
            class="d-flex align-items-ceter d-sm-none"
            style="max-width: 100%;"
          >
            <div class="main-part-scrolling-part-1" style="width: 50%">
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/labels@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Labels
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Add labels to chats<br /> and keep it organized.
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/labels@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Contack Notes
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Add labels to contacts
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/labels@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Contack Segments
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Filter and group your <br />ontacts into segments
                  </p>
                </div>
              </div>
            </div>
            <div class="main-part-scrolling-part-2" style="width: 50%;">
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/labels@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Teams
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Create internal teams
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/labels@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Private Notes
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Privately discuss customer queries with your teammates
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="features-section-color shared-inbox-fixed-2"
      style="padding:50px 0;background-color: #fef0f2"
    >
      <div class="container features-container">
        <div class="shared-inbox-container">
          <div
            style="width: 40%;display: flex;align-items: center;justify-content: center"
          >
            <div
              class="heading-section-part1"
              style="padding:10px 40px;background-color: #f43f5e"
            >
              <h5
                style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
              >
                Productivity
              </h5>
            </div>
          </div>
          <div
            class="main-part-scrolling-part-1 d-none d-sm-block"
            style="width: 20%"
          >
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/buss hours@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Business Hours
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Let customers know you're not available to answer their
                  questions
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/commend @4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Command Bar
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Use the command bar to perform actions
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/canned @4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Canned Responses
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Save frequently sent messages as templates
                </p>
              </div>
            </div>
          </div>

          <div
            class="main-part-scrolling-part-2 d-none d-sm-block"
            style="width: 20%;"
          >
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/keyboard@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Keyboard Shortcuts
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Master Chatwoot with keyboard shortcuts
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/bulk@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Bulk Actions
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Update multiple conversations at once
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/agent@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Agent Capacity
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Set limits to auto-assigning conversations to your agents.
                </p>
              </div>
            </div>
          </div>
          <div
            class="d-flex align-items-ceter d-sm-none"
            style="max-width: 100%;"
          >
            <div class="main-part-scrolling-part-1" style="width: 50%">
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/buss hours@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Business Hours
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Let customers know you're not available to answer their
                    questions
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/commend @4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Command Bar
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Use the command bar to perform actions
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/canned @4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Canned Responses
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Save frequently sent messages as templates
                  </p>
                </div>
              </div>
            </div>

            <div class="main-part-scrolling-part-2" style="width: 50%;">
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/keyboard@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Keyboard Shortcuts
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Master Chatwoot with keyboard shortcuts
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/bulk@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Bulk Actions
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Update multiple conversations at once
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/agent@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Agent Capacity
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Set limits to auto-assigning conversations to your agents.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="features-section-color shared-inbox-fixed-3"
      style="padding:50px 0;background-color: #edfaf8"
    >
      <div class="container features-container">
        <div class="shared-inbox-container">
          <div
            style="width: 40%;display: flex;align-items: center;justify-content: center"
          >
            <div
              class="heading-section-part1"
              style="padding:10px 40px;background-color: #14b8a6"
            >
              <h5
                style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
              >
                Automation
              </h5>
            </div>
          </div>
          <div
            class="main-part-scrolling-part-1 d-none d-sm-block"
            style="width: 20%"
          >
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/macros@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Macros
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Macros let you run a sequence of actions upon a click.
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/automation@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Autoamtion Rules
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Perform actions upon a pre-defined event.
                </p>
              </div>
            </div>
          </div>

          <div
            class="main-part-scrolling-part-2 d-none d-sm-block"
            style="width: 20%;"
          >
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/Ai@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Al replies
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Generate or change the tone of reply to friendly or formal.
                </p>
              </div>
            </div>
          </div>

          <div
            class="d-flex align-items-ceter d-sm-none"
            style="max-width: 100%;"
          >
            <div class="main-part-scrolling-part-1" style="width: 50%">
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/macros@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Macros
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Macros let you run a sequence of actions upon a click.
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/automation@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Autoamtion Rules
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Perform actions upon a pre-defined event.
                  </p>
                </div>
              </div>
            </div>

            <div class="main-part-scrolling-part-2" style="width: 50%;">
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/Ai@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Al replies
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Generate or change the tone of reply to friendly or formal.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="features-section-color shared-inbox-fixed-4"
      style="padding:50px 0;background-color: #f3f3fe"
    >
      <div class="container features-container">
        <div class="shared-inbox-container">
          <div
            style="width: 40%;display: flex;align-items: center;justify-content: center"
          >
            <div
              class="heading-section-part1"
              style="padding:10px 40px;background-color: #6366f1"
            >
              <h5
                style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
              >
                Analyse
              </h5>
            </div>
          </div>
          <div
            class="main-part-scrolling-part-1 d-none d-sm-block"
            style="width: 20%"
          >
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/agent report@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Agent Report
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Track your agents' performance, with auto-updating reports
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/Csat@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  CSAT
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  ReportsGet reports on how customers respond to your chat
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/team report@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Team Reports
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Analyse how each of your teams is performing
                </p>
              </div>
            </div>
          </div>

          <div
            class="main-part-scrolling-part-2 d-none d-sm-block"
            style="width: 20%;"
          >
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/label purpl@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Label
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  ReportsSee which labels get the most conversations, and how
                  long it takes to resolve them.
                </p>
              </div>
            </div>
            <div class="manage-labels">
              <img
                src="/whatsapp-business-api/images/label purpl@4x.webp"
                alt="Whatsapp Landing Page"
                width="20px"
                height="20px"
                style="margin-bottom: 10px"
              />
              <div>
                <h6
                  style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.3rem;margin-bottom: 10px"
                >
                  Live view
                </h6>
                <p
                  style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.1rem; line-height: 1.5rem"
                >
                  Get realtimes insights about your support operations
                </p>
              </div>
            </div>
          </div>
          <div
            class="d-flex align-items-ceter d-sm-none"
            style="max-width: 100%;"
          >
            <div class="main-part-scrolling-part-1" style="width: 50%">
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/agent report@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Agent Report
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Track your agents' performance, with auto-updating reports
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/Csat@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    CSAT
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    ReportsGet reports on how customers respond to your chat
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/team report@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Team Reports
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Analyse how each of your teams is performing
                  </p>
                </div>
              </div>
            </div>

            <div class="main-part-scrolling-part-2" style="width: 50%;">
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/label purpl@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Label
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    ReportsSee which labels get the most conversations, and how
                    long it takes to resolve them.
                  </p>
                </div>
              </div>
              <div class="manage-labels">
                <img
                  src="/whatsapp-business-api/images/label purpl@4x.webp"
                  alt="Whatsapp Landing Page"
                  width="20px"
                  height="20px"
                  style="margin-bottom: 10px"
                />
                <div>
                  <h6
                    style=" font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;margin-bottom: 10px"
                  >
                    Live view
                  </h6>
                  <p
                    style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 0.8rem; line-height: 1.5rem"
                  >
                    Get realtimes insights about your support operations
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-80">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Is mobile APP Available?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">Yes, its avaliable</p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I assign conversations to specific team members?
                    </a>
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, conversations can be easily assigned to specific team
                      members to ensure accountability and efficient resolution.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Which communication channels can be integrated into the
                      Shared Team Inbox?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      You can integrate channels like WhatsApp, email, Facebook
                      Messenger, Instagram, and more into the Shared Team Inbox.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Does the Shared Team Inbox support automation?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the inbox supports automated workflows, such as
                      assigning chats based on keywords, sending instant
                      replies, and setting up chatbot responses.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Can multiple team members work on the same conversation?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, multiple team members can collaborate on a
                      conversation in real-time, with notes and updates visible
                      to everyone.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Is the Shared Team Inbox suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the feature is designed to scale with your business,
                      making it ideal for teams of all sizes, from small
                      startups to large enterprises.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>
  <PhoneApp />

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->
</WhatsappLayout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const stickySection1 = document.querySelector(".shared-inbox-fixed-1");
    const stickySection2 = document.querySelector(".shared-inbox-fixed-2");
    const stickySection3 = document.querySelector(".shared-inbox-fixed-3");
    const stickySection4 = document.querySelector(".shared-inbox-fixed-4");
    const btnClassSection1 = document.querySelector(".faq-tab-wrapper");
    const btnClassSection2 = document.querySelector(
      ".brands-slider-container-partner"
    );

    // Create an Intersection Observer to track when .btn-class is visible or not
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            // If the .btn-class section is in view, hide the sticky section
            stickySection1.style.position = "relative";
            stickySection2.style.position = "relative";
            stickySection3.style.position = "relative";
            stickySection4.style.position = "relative";
          } else {
            // If the .btn-class section is out of view, show the sticky section
            stickySection1.style.position = "sticky";
            stickySection1.style.top = "90px";
            stickySection1.style.zIndex = "1";
            stickySection1.style.left = "0";
            stickySection2.style.position = "sticky";
            stickySection2.style.top = "90px";
            stickySection2.style.zIndex = "2";
            stickySection2.style.left = "0";
            stickySection3.style.position = "sticky";
            stickySection3.style.top = "90px";
            stickySection3.style.zIndex = "3";
            stickySection3.style.left = "0";
            stickySection4.style.position = "sticky";
            stickySection4.style.top = "0px";
            stickySection4.style.zIndex = "4";
            stickySection4.style.left = "0";
          }
        });
      },
      {
        threshold: 0, // Trigger when the element completely leaves the viewport
      }
    );

    // Observe the .btn-class section
    observer.observe(btnClassSection1, btnClassSection2);
  });
</script>

<script src="/whatsapp-business-api/js/tabsscript.js" is:inline></script>
