---
import WhatsappLayout from "../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../public/whatsapp-business-api/css/alternative.css";
import "../../../public/whatsapp-business-api/css/whatsapp-ecommorcetabs.css";
import LogoStrips from "../../components/LogoStrips.astro";
import PhoneApp from "../../components/PhoneApp.astro";

const metaTitle = "WATI Alternative | Emovur vs WATI for WhatsApp API";
const metaDescription =
  "Compare Emovur with WATI and discover why businesses prefer Emovur for a smoother WhatsApp Business API experience.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/wati-alternative";
const keywords =
  "WATI alternative,Better than WATI,Emovur vs WATI,Switch from WATI to Emovur,Whatsapp API.";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <h1
        class="broadcast-heading-title-ecommorce"
        style="font-size: 3rem;font-family: Roboto, sans-serif;font-weight: 600;color:#000000;line-height: 3.5rem;margin-bottom: 10px"
      >
        The Perfect Alternative <br /> to <span style="color: #42B763"
          >Wati</span
        >
      </h1>
      <!-- <h6 style="font-size: 2.9rem;font-family: Roboto, sans-serif;font-weight: 600;color:#000000">online store</h6> -->

      <p
        style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
      >
        Experience an enterprise-grade Whatsapp API solution that is
        feature-packed and cost-effective.
      </p>
      <div class="tag-class">
        <div>
          <img
            src="/whatsapp-business-api/images/Green tick.svg"
            alt="Green Tick"
            style="width: 15px"
          /> Blue tick
        </div>
        <div>
          <img
            src="/whatsapp-business-api/images/No Markup.svg"
            alt="No Markup"
            style="width: 15px"
          /> No Markup
        </div>
      </div>
      <div class="btn-class">
        <a
          href="https://admin.emovur.com/auth/register"
          target="_blank"
          class="svg-link svg-link-white"
        >
          <button class="schedule-btn-one theme-btn" id="lp-sft-btn">
            Start Free Trial
          </button>
        </a>
        <a href="/whatsapp-business-api/book-demo" target="_blank">
          <button class="schedule-btn theme-btn" id="lp-demo-btn">
            Book 1-1 Demo
          </button>
        </a>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page"
        src="/whatsapp-business-api/images/alternatives/wati-hero.png"
        style="width:90% !important"
        alt="Happy customers choosing Emovur over Wati for WhatsApp marketing tools"
      />
    </div>
  </div>

  <!-- Landing form section ends -->

  <div class="Sticky-Whatsapp-business-api">
    <a
      href="https://admin.emovur.com/auth/register"
      target="_blank"
      class="svg-link svg-link-white"
    >
      <button class="schedule-btn-one theme-btn" id="start-free-trail-mobile">
        Start Free Trial
      </button>
    </a>
    <a href="/whatsapp-business-api/book-demo" target="_blank">
      <button
        class="schedule-btn theme-btn"
        style="margin-top: 10px !important;"
        id="stky-lp-btn-b1d"
      >
        Book 1-1 Demo
      </button>
    </a>
  </div>

  <div
    id="features-id"
    class="container features-container"
    style="padding-top: 100px;padding-bottom: 70px"
  >
    <div class="sections-col-container" style="max-width: 100%">
      <div class="memorable-experience-heading-container-part-right">
        <div
          class="heading-container"
          style="text-align: start;margin-bottom: 20px"
        >
          <h2
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 2rem"
          >
            <span style="color:#0c9ffa;font-weight: 600;"
              >Personalized Consultancy
            </span>
            <br /> for Every Business
          </h2>
        </div>
        <div
          class="heading-section-part3"
          style="text-align: start;margin-bottom: 20px"
        >
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem;line-height: 1.5rem"
          >
            Unlike Wati, we don’t just offer a platform — we provide
            personalized guidance. Whether you’re a One-Person Company (OPC) or
            a growing enterprise, we take the time to understand your unique
            goals, challenges, and vision.
          </p>
        </div>
      </div>
      <div class="personalized-img" style="width: 50%;">
        <img
          class="landing-img-whatsapp-landing-page"
          src="/whatsapp-business-api/images/alternatives/differentiation.png"
          alt="Whatsapp Landing Page"
        />
      </div>
    </div>
  </div>

  <div id="features-id" class="container features-container d-none d-sm-block">
    <div>
      <div>
        <h2
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 2rem;text-align: center"
        >
          <span style="font-weight:600;color:#0c9ffa"
            >Support That’s Fast,<span style="font-weight:300;color:#000000">
              Personal, and Always Accessible</span
            >
          </span>
        </h2>
        <div>
          <div class="Dedicated-page-container" style="margin-top: 50px">
            <div style="width: 15%;"></div>
            <div class="didication-headings-part">
              <h6
                style="color: #0c9ffa !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1rem;text-align: left"
              >
                Dedicated
              </h6>
              <p style="font-size: 1.1rem;font-weight: 300;margin-top: 5px">
                Relationship Manager
              </p>
            </div>
            <div class="didication-headings-part">
              <h6
                style="color: #0c9ffa !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1rem;text-align: left"
              >
                Unmatched
              </h6>
              <p style="font-size: 1.1rem;font-weight: 300;margin-top: 5px">
                Response Time
              </p>
            </div>
            <div class="didication-headings-part">
              <h6
                style="color: #0c9ffa !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1rem;text-align: left"
              >
                Hand-Held
              </h6>
              <p style="font-size: 1.1rem;font-weight: 300;margin-top: 5px">
                Support
              </p>
            </div>
          </div>
          <div
            class="Dedicated-page-container"
            style="background-color: #EFF9FF;margin-top: 5px"
          >
            <div style="width: 15%;">
              <img
                src="/whatsapp-business-api/images/alternatives/emovurlogo.png"
                alt="Whatsapp Landing Page"
                width="50px"
                height="50px"
              />
            </div>
            <div class="didication-headings-part">
              <p>
                your go-to expert,<span style="font-weight:500;color:#000000"
                  >always available</span
                > via phone or WhatsApp for immediate assistance.
              </p>
            </div>
            <div class="didication-headings-part">
              <p>
                Get help within 30 minutes—<span
                  style="font-weight:500;color:#000000"
                  >no waiting, no hassle.</span
                >
              </p>
            </div>
            <div class="didication-headings-part">
              <p>
                <span style="font-weight:500;color:#000000">Step-by-step</span> hand-held<span
                  style="font-weight:500;color:#000000"
                >
                  guidance</span
                > to ensure you use the product effectively and achieve results.
              </p>
            </div>
          </div>
          <div
            class="Dedicated-page-container"
            style="background-color: #F1F1F1;margin-top: 20px"
          >
            <div style="width: 15%;">
              <img
                src="/whatsapp-business-api/images/alternatives/wati-rounded-logo.png"
                alt="Whatsapp Landing Page"
                width="50px"
                height="50px"
              />
            </div>
            <div class="didication-headings-part">
              <p style="font-weight:500;color:#000000">
                A service <span style="font-weight:400;color:#000000"
                  >reserved only for thier pro plan customers that
                </span> costs ₹13,499
              </p>
            </div>
            <div class="didication-headings-part">
              <p>
                <span style="font-weight:500;color:#000000"
                  >Only ticketing system</span
                > with first response time of 24hrs only.
              </p>
            </div>
            <div class="didication-headings-part">
              <p>
                <span style="font-weight:500;color:#000000"
                  >Custom Onboarding
                </span> and Setup is a add-on even their pro plan customers that
                <span style="font-weight:500;color:#000000">costs ₹13,499.</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="features-id" class="container features-container d-block d-sm-none">
    <div>
      <div>
        <h2
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.9rem;text-align: center"
        >
          <span style="font-weight:600;color:#0c9ffa"
            >Support That’s Fast,<span style="font-weight:300;color:#000000">
              Personal, and Always Accessible</span
            >
          </span>
        </h2>
        <div style="margin-top:20px">
          <div
            class="Dedicated-page-container"
            style="background-color: #EFF9FF;margin-top: 5px"
          >
            <div class="emovur-logo-img">
              <img
                src="/whatsapp-business-api/images/alternatives/emovur.png"
                alt="Whatsapp Landing Page"
                width="110px"
                height="30px"
              />
            </div>
            <div class="didication-headings-part">
              <h6
                style="color: #0c9ffa !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1rem;text-align: left"
              >
                Dedicated Relationship Manager
              </h6>
              <p>
                our go-to expert,<span style="font-weight:500;color:#000000"
                  >always available</span
                > via phone or WhatsApp for immediate assistance.
              </p>
            </div>
            <div class="didication-headings-part">
              <h6
                style="color: #0c9ffa !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1rem;text-align: left"
              >
                Unmatched Response Time
              </h6>
              <p>
                Get help within 30 minutes—<span
                  style="font-weight:500;color:#000000"
                  >no waiting, no hassle.</span
                >
              </p>
            </div>
            <div class="didication-headings-part">
              <h6
                style="color: #0c9ffa !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1rem;text-align: left"
              >
                Hand-Held Support
              </h6>
              <p>
                <span style="font-weight:500;color:#000000">Step-by-step</span> hand-held<span
                  style="font-weight:500;color:#000000"
                >
                  guidance</span
                > to ensure you use the product effectively and achieve results.
              </p>
            </div>
          </div>
          <div
            class="Dedicated-page-container"
            style="background-color: #F1F1F1;margin-top: 20px"
          >
            <div class="emovur-logo-img">
              <img
                src="/whatsapp-business-api/images/alternatives/wati.png"
                alt="Whatsapp Landing Page"
                width="100px"
                height="30px"
              />
            </div>
            <div class="didication-headings-part">
              <h6
                style="color: #0c9ffa !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1rem;text-align: left"
              >
                Dedicated Relationship Manager
              </h6>
              <p style="font-weight:500;color:#000000">
                A service <span style="font-weight:400;color:#000000"
                  >reserved only for thier pro plan customers that
                </span> costs ₹13,499
              </p>
            </div>
            <div class="didication-headings-part">
              <h6
                style="color: #0c9ffa !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1rem;text-align: left"
              >
                Unmatched Response Time
              </h6>
              <p>
                <span style="font-weight:500;color:#000000"
                  >Only ticketing system</span
                > with first response time of 24hrs only.
              </p>
            </div>
            <div class="didication-headings-part">
              <h6
                style="color: #0c9ffa !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1rem;text-align: left"
              >
                Hand-Held Support
              </h6>
              <p>
                <span style="font-weight:500;color:#000000"
                  >Custom Onboarding
                </span> and Setup is a add-on even their pro plan customers that
                <span style="font-weight:500;color:#000000">costs ₹13,499.</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="features-id" class="container features-container-Chatbot">
    <div>
      <h2
        class="Chatbot-header"
        style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 2rem;text-align: center"
      >
        <span style="font-weight:600;color:#0c9ffa"
          >Chatbot Builder -<span style="font-weight:300;color:#000000">
            Affordable and Effortless
          </span>
        </span>

        <p
          style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem;line-height: 1.5rem;text-align:center;margin-top:10px"
        >
          Affordable chatbot builder included in all plans, with custom flows
          created by our team to fit your needs.
        </p>
      </h2>

      <div
        class="sections-col-container"
        style="max-width: 100%;margin-top: 50px"
      >
        <div
          class="chatbot-img"
          style="width: 50%; display: flex;justify-content: center"
        >
          <img
            src="/whatsapp-business-api/images/alternatives/chatbot-builder.png"
            alt="Emovur vs WATI WhatsApp automation features"
            width="50%"
          />
        </div>

        <div class="memorable-experience-heading-container-part-right">
          <div style="text-align: start;margin-bottom: 20px">
            <h6
              class="chatbot-personalized"
              style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.4rem"
            >
              <span style="color:#0c9ffa;font-weight: 600;"
                >Unlimited Chatbot Sessions
              </span>
            </h6>
            <p
              class="chatbot-personalized-para"
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1rem;line-height: 1.5rem;margin-top: 10px"
            >
              Unlike Wati, which offers chatbots on a session-based tier, Emovur
              includes unlimited chatbot sessions in all its plans, ensuring
              automation is accessible to businesses of all sizes.
            </p>
          </div>
          <div style="text-align: start;margin-bottom: 20px">
            <h6
              class="chatbot-personalized"
              style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.4rem"
            >
              <span style="color:#0c9ffa;font-weight: 600;"
                >We Build It for You
              </span>
            </h6>
            <p
              class="chatbot-personalized-para"
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1rem;line-height: 1.5rem;margin-top: 10px"
            >
              No steep learning curve—our team creates your chatbot flow based
              on your exact requirements, so you can focus on growing your
              business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container-Bluetick"
    style="margin-top: 100px"
  >
    <div>
      <h2
        class="blue-tick-header"
        style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 2rem;text-align: center"
      >
        <span style="font-weight:600;color:#0c9ffa"
          >Blue Tick Application<span style="font-weight:300;color:#000000">
            Guaranteed and Hassle-Free
          </span>
        </span>

        <p
          style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem;line-height: 1.5rem;text-align:center;margin-top:10px"
        >
          Unlike Wati, which provides basic assistance, we offer a complete
          service with a Blue Tick guarantee. If you lack PR links, our team
          will build your brand presence by creating 5 PR articles and handling
          the entire approval process. With Emovur, your Blue Tick is assured.
        </p>
      </h2>
      <div class="mobile-class-blue-tick">
        <img
          src="/whatsapp-business-api/images/alternatives/blue-tick.png"
          alt="Emovur guarantees WhatsApp Business blue tick"
          width="50%"
        />
      </div>
    </div>
  </div>

  <div style="background-color: #F5FBFF;margin-top:50px">
    <div
      id=" features-id"
      class="container features-container"
      style="padding-top: 50px;padding-bottom: 50px;"
    >
      <h2
        style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 2rem;text-align: center"
      >
        <span style="font-weight:600;color:#0c9ffa"
          >Free Forever <span style="font-weight:300;color:#000000">
            Plan
          </span>
        </span>
      </h2>
      <div class="free-forever-plan">
        <div class="free-forever-plan-part-1">
          <img
            src="/whatsapp-business-api/images/alternatives/emovur-logo-2.png"
            alt="Whatsapp Landing Page"
            width="200px"
          />
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem;margin-top: 10px"
          >
            Truly unlimited and it's<br /> forever. Capped usage, valid only for
            3 months
          </p>
        </div>
        <div class="free-forever-plan-part-1">
          <img
            src="/whatsapp-business-api/images/alternatives/wati-box.png"
            alt="Whatsapp Landing Page"
            width="200px"
          />
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem;margin-top: 10px"
          >
            Wati's "Pay as You Go"<br /> option is available only for a limited period
            of 3 months.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container"
    style="margin-top: 100px"
  >
    <h2
      style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 2rem;text-align: center;margin-bottom: 40px"
    >
      <span style="font-weight:600;color:#0c9ffa"
        >Pricing <span style="font-weight:300;color:#000000">
          Comparision
        </span>
      </span>
    </h2>
    <div class="form-pricing-calculator" style="margin-top:50px">
      <div class="form-pricing-calculator-parts">
        <div class="form-pricing-calculator-part-1">
          <div class="form-pricing-calculator-lable">
            <label
              ><span style="color: #0c9ffa;"> Marketing</span><br /> Conversations/m</label
            >
            <label
              ><span style="color: #0c9ffa;">Utility</span><br /> Conversations/m</label
            >
            <label
              ><span style="color: #0c9ffa;">Chatbot</span><br /> WhatsApp Flows</label
            >
            <label
              ><span style="color: #0c9ffa;">Payments</span><br /> Received/m</label
            >
          </div>
          <div class="form-pricing-calculator-input">
            <input type="number" id="marketing" value="15000" />
            <input type="number" id="utility" value="1000" />
            <input type="number" id="chatbot" value="20" />
            <input type="number" id="payments" value="50" />
          </div>
        </div>
        <button class="form-pricing-calculator-button" onclick="updateChart()"
          >Calculate</button
        >
      </div>
      <div class="canvas-chats">
        <h6
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 2rem;text-align: center;margin-top: 10px;margin-bottom:10px"
        >
          Annual Savings
        </h6>
        <div class="annual-savings">
          <h6
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 2rem;text-align: center;margin-bottom:10px"
          >
            with
          </h6>
          <img
            src="/whatsapp-business-api/images/pricing-emovur-logo.svg"
            alt="pricing emovur logo"
            width="200px"
            height="50px"
            style=""
          />
        </div>
        <h6
          class="pricing-text"
          id="chartTitle"
          style="color: #fff !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 2rem;text-align: center;margin-bottom:15px;margin-top:15px"
        >
          ₹1,33,200
        </h6>
        <canvas id="stackedBarChart" class="form-pricing-calculator-part-2"
        ></canvas>
      </div>
    </div>
    <div class="calculator-cards d-none d-sm-block" style="margin-top:100px">
      <div class="pricing-calculators">
        <h6></h6>
        <div class="pricing-calculators-part-2">
          <img
            src="/whatsapp-business-api/images/alternatives/emovur.png"
            alt="Whatsapp Landing Page"
            width="150px"
          />
          <img
            src="/whatsapp-business-api/images/alternatives/wati.png"
            alt="Whatsapp Landing Page"
            width="150px"
          />
        </div>
      </div>
      <div class="pricing-calculators">
        <h6>Marketing</h6>
        <div class="pricing-calculators-part-1">
          <h6>
            <span style="color:#0c9ffa;font-weight: 500">₹0.785</span
            >/conversation
          </h6>
          <h6><span style="font-weight: 500">₹0.94</span>/conversation</h6>
        </div>
      </div>
      <div class="pricing-calculators">
        <h6>Utility</h6>
        <div class="pricing-calculators-part-1">
          <h6>
            <span style="color:#0c9ffa;font-weight: 500">₹0.115</span
            >/conversation
          </h6>
          <h6><span style="font-weight: 500">₹0.14</span>/conversation</h6>
        </div>
      </div>
      <div class="pricing-calculators">
        <h6>Chatbot Sessions</h6>
        <div class="pricing-calculators-part-1">
          <h6>Unlimited Sessions</h6>
          <h6>
            <span style="font-weight: 500">₹6,000 - 2,000</span> chatbot sessions
          </h6>
        </div>
      </div>
      <div class="pricing-calculators">
        <h6>Users</h6>
        <div class="pricing-calculators-part-1">
          <h6>Unlimited users in all plans</h6>
          <h6>
            <span style="font-weight: 500">₹1,299 or ₹3,999</span> /user/month beyond
            5 users
          </h6>
        </div>
      </div>
      <div class="pricing-calculators">
        <h6>Free forever/Pay as you go</h6>
        <div class="pricing-calculators-part-1">
          <h6>Lifetime</h6>
          <h6>Valid for 3 months</h6>
        </div>
      </div>
      <div class="pricing-calculators">
        <h6>Growth/Starter Plan</h6>
        <div class="pricing-calculators-part-1">
          <h6>
            <span style="color:#0c9ffa;font-weight: 500">₹999</span>/month
          </h6>
          <h6><span style="font-weight: 500">₹1,999</span> /month</h6>
        </div>
      </div>
      <div class="pricing-calculators">
        <h6>Pro</h6>
        <div class="pricing-calculators-part-1">
          <h6>-</h6>
          <h6>
            <span style="font-weight: 500">₹4,499</span>/month - lot more
            essential features are reserved for enterprise plan
          </h6>
        </div>
      </div>
      <div class="pricing-calculators">
        <h6>Business/Advanced Plan</h6>
        <div class="pricing-calculators-part-1">
          <h6>
            <span style="color:#0c9ffa;font-weight: 500">₹1,999</span>/month
          </h6>
          <h6><span style="font-weight: 500">₹13,499</span>/month</h6>
        </div>
      </div>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container"
    style="margin-top: 100px"
  >
    <div class="mobile-veiw-pricing d-block d-sm-none">
      <div class="mobile-view-main">
        <div class="mobile-view-pricing-part-1">
          <img
            src="/whatsapp-business-api/images/alternatives/logos-pricing-1.svg"
            alt="Whatsapp Landing Page"
            width="40px"
            height="50px"
            style="margin-left:15px"
          />
          <img
            src="/whatsapp-business-api/images/alternatives/wati-logo.png"
            alt="Whatsapp Landing Page"
            width="50px"
            height="45px"
            style="margin-left:10px"
          />
        </div>
        <div class="mobile-view-pricing-part-2">
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Marketing</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">₹0.785</span
                >/conversation
              </h6>
              <h6><span style="font-weight: 500">₹0.94</span>/conversation</h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Utility</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">₹0.115</span
                >/conversation
              </h6>
              <h6><span style="font-weight: 500">₹0.14</span>/conversation</h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Chatbot Sessions</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>Unlimited Sessions</h6>
              <h6>
                <span style="color:#0c9ffa;font-weight: 500"
                  >₹6,000 - 2,000</span
                > chatbot sessions
              </h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Users</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>Unlimited users in all plans</h6>
              <h6>
                <span style="color:#0c9ffa;font-weight: 500"
                  >₹1,299 or ₹3,999</span
                > /user/month beyond 5 users
              </h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Free forever/Pay as you go</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>Lifetime</h6>
              <h6>Valid for 3 months</h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Growth/Starter Plan</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">₹999</span>/month
              </h6>
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">₹1,999</span> /month
              </h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Pro</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>-</h6>
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">
                  ₹4,499</span
                >/month - lot more essential features are reserved for
                enterprise plan
              </h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Business/Advanced Plan</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">₹1,999</span>/month
              </h6>
              <h6 style="font-size:1.3rem">
                <span style="color:#0c9ffa;font-weight: 500">₹13,499</span
                >/month
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container"
    style="margin-top: 100px"
  >
    <div class="mobile-veiw-pricing d-block d-sm-none">
      <div class="mobile-view-main">
        <div class="mobile-view-pricing-part-1">
          <img
            src="/whatsapp-business-api/images/alternatives/logos-pricing-1.svg"
            alt="Whatsapp Landing Page"
            width="40px"
            height="50px"
            style="margin-left:15px"
          />
          <img
            src="/whatsapp-business-api/images/alternatives/wati-logo.png"
            alt="Whatsapp Landing Page"
            width="50px"
            height="45px"
            style="margin-left:10px"
          />
        </div>
        <div class="mobile-view-pricing-part-2">
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Marketing</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">₹0.785</span
                >/conversation
              </h6>
              <h6><span style="font-weight: 500">₹0.94</span>/conversation</h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Utility</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">₹0.115</span
                >/conversation
              </h6>
              <h6><span style="font-weight: 500">₹0.14</span>/conversation</h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Chatbot Sessions</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>Unlimited Sessions</h6>
              <h6>
                <span style="color:#0c9ffa;font-weight: 500"
                  >₹6,000 - 2,000</span
                > chatbot sessions
              </h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Users</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>Unlimited users in all plans</h6>
              <h6>
                <span style="color:#0c9ffa;font-weight: 500"
                  >₹1,299 or ₹3,999</span
                > /user/month beyond 5 users
              </h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Free forever/Pay as you go</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>Lifetime</h6>
              <h6>Valid for 3 months</h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Growth/Starter Plan</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">₹999</span>/month
              </h6>
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">₹1,999</span> /month
              </h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Pro</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>-</h6>
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">
                  ₹4,499</span
                >/month - lot more essential features are reserved for
                enterprise plan
              </h6>
            </div>
          </div>
          <div class="pricing-calculators-mobileview">
            <h6 class="heading-pricing">Business/Advanced Plan</h6>
            <div class="pricing-calculators-part-mobileview">
              <h6>
                <span style="color:#0c9ffa;font-weight: 500">₹1,999</span>/month
              </h6>
              <h6 style="font-size:1.3rem">
                <span style="color:#0c9ffa;font-weight: 500">₹13,499</span
                >/month
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container d-none d-sm-block"
    style="margin-top: 100px"
  >
    <div class="features-main">
      <div class="features-logos">
        <h6
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 2rem"
        >
          Features
        </h6>
      </div>
      <div class="features-logos">
        <img
          src="/whatsapp-business-api/images/alternatives/emovur.png"
          alt="Whatsapp Landing Page"
          width="150px"
        />
      </div>
      <div class="features-logos">
        <img
          src="/whatsapp-business-api/images/alternatives/wati.png"
          alt="Whatsapp Landing Page"
          width="150px"
        />
      </div>
    </div>
    <div class="flex-diplaying">
      <div class="features-parts">
        <div class="features-part-one">
          <h6>Consultancy</h6>
        </div>
        <div class="features-part-two">
          <p>
            Personalized 1-on-1 consultancy begins during the product demo and
            continues throughout your entire journey with us.
          </p>
        </div>
        <div class="features-part-three">
          <p>
            Consultancy is reserved for enterprise customers. Even demos are
            conducted in groups, available only once a day.
          </p>
        </div>
      </div>
      <div class="features-parts">
        <div class="features-part-one">
          <h6>Dedicated Relationship Manager</h6>
        </div>
        <div class="features-part-two">
          <p>Offered to all customers, even to single-person companies.</p>
        </div>
        <div class="features-part-three">
          <p>
            Available only to enterprise customers with a minimum of 5 lakh
            conversations.
          </p>
        </div>
      </div>

      <div class="features-parts">
        <div class="features-part-one">
          <h6>Support</h6>
        </div>
        <div class="features-part-two">
          <p>
            Instant support via WhatsApp or call with a quick 30-minute response
            time.
          </p>
        </div>
        <div class="features-part-three">
          <p>
            Support handled through documentation, hand held onboarding is
            offered as add on. Dedicated Relationship is provided only for
            customers in their ₹13,499/m plan.
          </p>
        </div>
      </div>

      <div class="features-parts">
        <div class="features-part-one">
          <h6>OmniChannel</h6>
        </div>
        <div class="features-part-two">
          <p>
            Supports WhatsApp API, Instagram, Web Live Chat, Telegram, Email,
            API, and more.
          </p>
        </div>
        <div class="features-part-three">
          <p>Limited to WhatsApp Business API & Instagram only.</p>
        </div>
      </div>

      <div class="features-parts hidden">
        <div class="features-part-one">
          <h6>Users/Agents</h6>
        </div>
        <div class="features-part-two">
          <p>Unlimited</p>
        </div>
        <div class="features-part-three">
          <p>₹1,299 or ₹3,999/user/month beyond 5 users</p>
        </div>
      </div>

      <div class="features-parts hidden">
        <div class="features-part-one">
          <h6>ChatBot Sessions</h6>
        </div>
        <div class="features-part-two">
          <p>Unlimited Sessions</p>
        </div>
        <div class="features-part-three">
          <p>₹6,000 for 2,000 chatbot sessions</p>
        </div>
      </div>

      <div class="features-parts hidden">
        <div class="features-part-one">
          <h6>Conversation Charges on paid plans</h6>
        </div>
        <div class="features-part-two">
          <p>
            No markup; charged at Meta's actual rates. Marketing conversations
            cost 78.5 paise.
          </p>
        </div>
        <div class="features-part-three">
          <p>
            Adds a 15.5 paise markup on marketing conversations, totaling 94
            paise per conversation.
          </p>
        </div>
      </div>

      <div class="features-parts hidden">
        <div class="features-part-one">
          <h6>Commercials of Premium most Plan</h6>
        </div>
        <div class="features-part-two">
          <p>
            Emovur's Advanced Plan costs ₹1,999/month and includes all features
            with no markup, conversation, or payment charges, and no hidden
            costs.
          </p>
        </div>
        <div class="features-part-three">
          <p>
            Wati's Pro Plan is priced at ₹13,499/month. Which also attracts
            markup, add-on cost for for additional users as high as ₹3,999.
          </p>
        </div>
      </div>

      <div class="features-parts hidden">
        <div class="features-part-one">
          <h6>Free forever/Pay as you go</h6>
        </div>
        <div class="features-part-two">
          <p>Lifetime</p>
        </div>
        <div class="features-part-three">
          <p>Valid for 3 months</p>
        </div>
      </div>

      <div class="features-parts hidden">
        <div class="features-part-one">
          <h6>Round-Robin Chat Assignment</h6>
        </div>
        <div class="features-part-two">
          <p>Available in our Free forever plan as well</p>
        </div>
        <div class="features-part-three">
          <p>Available only in their pro plan that costs ₹13,499/m</p>
        </div>
      </div>

      <div class="features-parts hidden">
        <div class="features-part-one">
          <h6>Schedule Reminders</h6>
        </div>
        <div class="features-part-two">
          <p>Available in our Free forever plan as well</p>
        </div>
        <div class="features-part-three">
          <p>Available only in their pro plan that costs ₹13,499/m</p>
        </div>
      </div>

      <div class="features-parts hidden">
        <div class="features-part-one">
          <h6>CTWA</h6>
        </div>
        <div class="features-part-two">
          <p>Available in our Free forever plan as well</p>
        </div>
        <div class="features-part-three">
          <p>Available only in their pro plan that costs ₹13,499/m</p>
        </div>
      </div>

      <button class="feature-read-more">View More</button>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container d-block d-sm-none"
    style="margin-top: 100px"
  >
    <div class="features-main">
      <div class="features-logos">
        <img
          src="/whatsapp-business-api/images/alternatives/emovur.png"
          alt="Whatsapp Landing Page"
          width="150px"
        />
      </div>
      <div class="features-logos">
        <img
          src="/whatsapp-business-api/images/alternatives/wati.png"
          alt="Whatsapp Landing Page"
          width="150px"
        />
      </div>
    </div>
    <div class="flex-diplaying">
      <h6
        style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
      >
        Consultancy
      </h6>
      <div class="features-parts">
        <div class="features-part-two-mobile">
          <p>
            Personalized 1-on-1 consultancy begins during the product demo and
            continues throughout your entire journey with us.
          </p>
        </div>
        <div class="features-part-three-mobile">
          <p>
            Consultancy is reserved for enterprise customers. Even demos are
            conducted in groups, available only once a day.
          </p>
        </div>
      </div>
      <h6
        style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
      >
        Dedicated Relationship Manager
      </h6>
      <div class="features-parts">
        <div class="features-part-two-mobile">
          <p>Offered to all customers, even to single-person companies.</p>
        </div>
        <div class="features-part-three-mobile">
          <p>
            Available only to enterprise customers with a minimum of 5 lakh
            conversations.
          </p>
        </div>
      </div>

      <h6
        style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
      >
        Support
      </h6>
      <div class="features-parts">
        <div class="features-part-two-mobile">
          <p>
            Instant support via WhatsApp or call with a quick 30-minute response
            time.
          </p>
        </div>
        <div class="features-part-three-mobile">
          <p>
            Support handled through a ticketing system with a 24-hour turnaround
            time.
          </p>
        </div>
      </div>
      <h6
        style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
      >
        Mobile App
      </h6>
      <div class="features-parts">
        <div class="features-part-two-mobile">
          <p>
            Available on both iOS and Android, enabling chat on the go with live
            notifications.
          </p>
        </div>
        <div class="features-part-three-mobile">
          <p>No mobile app is available.</p>
        </div>
      </div>
      <div class="hidden-mobile">
        <h6
          style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
        >
          Conversation Charges on paid plans
        </h6>
        <div class="features-parts">
          <div class="features-part-two-mobile">
            <p>
              No markup; charged at Meta's actual rates. Marketing conversations
              cost 78.5 paise.
            </p>
          </div>
          <div class="features-part-three-mobile">
            <p>Limited to WhatsApp Business API only.</p>
          </div>
        </div>
      </div>

      <div class="hidden-mobile">
        <h6
          style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
        >
          Commercials of Premium Plan
        </h6>
        <div class="features-parts">
          <div class="features-part-two-mobile">
            <p>
              Emovur's Advanced Plan: ₹1,999/month. All features included. No
              Hidden charges.
            </p>
          </div>
          <div class="features-part-three-mobile">
            <p>
              Wati's Advanced Plan: ₹2,159/month. Limited features. Hidden
              charges.
            </p>
          </div>
        </div>
      </div>
      <div class="hidden-mobile">
        <h6
          style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
        >
          ChatBot Builder
        </h6>
        <div class="features-parts">
          <div class="features-part-two-mobile">
            <p>Included at no additional cost.</p>
          </div>
          <div class="features-part-three-mobile">
            <p>
              Requires an add-on starting at ₹1,999/month for 5 workflows. Each
              objective needs its own workflow.
            </p>
          </div>
        </div>
      </div>

      <div class="hidden-mobile">
        <h6
          style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
        >
          Payment Charges
        </h6>
        <div class="features-parts">
          <div class="features-part-two-mobile">
            <p>No additional cost for WhatsApp payments.</p>
          </div>
          <div class="features-part-three-mobile">
            <p>
              Charges range from ₹7 to ₹50 per payment on top of gateway fees.
            </p>
          </div>
        </div>
      </div>

      <div class="hidden-mobile">
        <h6
          style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
        >
          Tags
        </h6>
        <div class="features-parts">
          <div class="features-part-two-mobile">
            <p>Unlimited tags available even in the basic plan.</p>
          </div>
          <div class="features-part-three-mobile">
            <p>Unlimited tags are restricted to enterprise plans.</p>
          </div>
        </div>
      </div>

      <div class="hidden-mobile">
        <h6
          style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
        >
          Attributes
        </h6>
        <div class="features-parts">
          <div class="features-part-two-mobile">
            <p>Unlimited attributes included even in the basic plan.</p>
          </div>
          <div class="features-part-three-mobile">
            <p>Unlimited attributes are exclusive to enterprise plans.</p>
          </div>
        </div>
      </div>

      <div class="hidden-mobile">
        <h6
          style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
        >
          Downloadable Reports
        </h6>
        <div class="features-parts">
          <div class="features-part-two-mobile">
            <p>All reports are downloadable, even in the basic plan.</p>
          </div>
          <div class="features-part-three-mobile">
            <p>Report downloads are reserved for enterprise customers only.</p>
          </div>
        </div>
      </div>

      <div class="hidden-mobile">
        <h6
          style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 1.5rem;text-align: center;margin-bottom:10px;margin-top:10px"
        >
          Webhooks
        </h6>
        <div class="features-parts">
          <div class="features-part-two-mobile">
            <p>Accessible in the Advanced plan.</p>
          </div>
          <div class="features-part-three-mobile">
            <p>Webhooks are exclusive to enterprise customers.</p>
          </div>
        </div>
      </div>
      <button class="feature-read-more-mobile">View More</button>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container"
    style="margin-top: 100px"
  >
    <div>
      <h6
        style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 2rem;text-align: center;margin-bottom: 40px"
      >
        Why
        <span style="font-weight:600;color:#0c9ffa">Switch to Emovur</span>
      </h6>
      <div class="switch-to-emovur">
        <div class="switch-to-emovur-partes">
          <img
            src="/whatsapp-business-api/images/alternatives/break-free.png"
            alt="break-free"
          />
          <p
            style="margin-top:15px; font-family: Roboto, sans-serif; font-weight: 600;"
          >
            Break Free
          </p>
          <p
            style="margin-top:-10px; font-family: Roboto, sans-serif; font-weight: 300;"
          >
            No limits, no hidden fees.
          </p>
        </div>
        <div class="switch-to-emovur-partes">
          <img
            src="/whatsapp-business-api/images/alternatives/stay.png"
            alt="break-free"
          />
          <p
            style="margin-top:15px; font-family: Roboto, sans-serif; font-weight: 600;"
          >
            Stay Ahead
          </p>
          <p
            style="margin-top:-10px; font-family: Roboto, sans-serif; font-weight: 300;"
          >
            Smart features, zero hassle.
          </p>
        </div>
        <div class="switch-to-emovur-partes">
          <img
            src="/whatsapp-business-api/images/alternatives/own.png"
            alt="break-free"
          />
          <p
            style="margin-top:15px; font-family: Roboto, sans-serif; font-weight: 600;"
          >
            Own the Game
          </p>
          <p
            style="margin-top:-10px; font-family: Roboto, sans-serif; font-weight: 300;"
          >
            Built for bold businesses.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container"
    style="margin-top: 100px"
  >
    <h2
      style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 2rem;text-align: center;margin-bottom: 40px"
    >
      Migrate in less than
      <span style="font-weight:600;color:#0c9ffa">5 mins</span>
    </h2>
    <div class="Migrate-5min">
      <div
        style="width:100%;display:flex;align-item:center;justify-content:center"
      >
        <img
          src="/whatsapp-business-api/images/alternatives/time.png"
          alt="time"
          width="55%"
        />
      </div>
      <div
        style="width:100%;display:flex;align-item:center;justify-content:center;flex-direction:column"
        class="migrate-5min-text"
      >
        <h6
          style="color: #696969 !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.4rem"
        >
          Switch to Emovur in <span style="color:#0c9ffa;font-weight:600"
            >Just 3-5 Minutes!</span
          >
        </h6>
        <p
          style="color: #696969 !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 1rem;line-height:1.5rem;margin-top:20px"
        >
          Migrating from Wati to Emovur is seamless and lightning-fast. Your
          number, approved templates, messaging limit and blue tick will
          transition effortlessly—no downtime, no complications.
        </p>
      </div>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container"
    style="margin-top: 100px"
  >
    <div class="howit-works-cards">
      <h2
        style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.4rem;text-align:center"
      >
        Here's <span style="color:#0c9ffa;font-weight:600">how it works</span>
      </h2>

      <div class="howit-works">
        <div class="howit-works-parts">
          <h6
            style="background-color:#0c9ffa;border-radius:50px;padding:10px 20px;color: #fff !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 2rem;text-align:center"
          >
            1
          </h6>
          <p>Create an Account: Sign up on Emovur in seconds.</p>
        </div>
        <div class="howit-works-parts">
          <h6
            style="background-color:#0c9ffa;border-radius:50px;padding:10px 20px;color: #fff !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 2rem;text-align:center"
          >
            2
          </h6>
          <p>Click "Migrate" and approve via the Facebook Auth screen.</p>
        </div>
        <div class="howit-works-parts">
          <h6
            style="background-color:#0c9ffa;border-radius:50px;padding:10px 20px;color: #fff !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 2rem;text-align:center"
          >
            3
          </h6>
          <p>Enter the OTP sent to your registered number.</p>
        </div>
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-80">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Can I personalize messages in a Drip Campaign?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can personalize messages with customer names,
                      purchase history, or other details to make the
                      communication more engaging and relevant.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I set triggers for starting a Drip Campaign?</a
                    >
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can set specific triggers, such as signing up for
                      a newsletter, abandoning a cart, or completing a purchase,
                      to initiate a drip campaign.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Can I pause or modify a Drip Campaign after it has
                      started?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can pause, edit, or adjust your campaign settings
                      at any time to improve performance or address changing
                      business needs.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      How many messages can I include in a Drip Campaign?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      The number of messages depends on your strategy, but most
                      platforms allow you to create campaigns with multiple
                      touchpoints over an extended period.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Are Drip Campaigns suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, they are ideal for businesses of all sizes, helping
                      small businesses automate customer engagement without
                      requiring extensive resources.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      What purposes can a Drip Campaign serve?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Drip campaigns can be used for a variety of purposes,
                      including lead nurturing, onboarding new customers,
                      re-engaging inactive users, promoting offers, recovering
                      abandoned carts, sending event invitations, educating
                      customers with tutorials, and collecting feedback or
                      reviews.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <a href="https://admin.emovur.com/auth/register" target="_blank">
            <div
              class="read-me"
              style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
            >
              <p>Try Emovur for Free</p>
              <img
                src="/whatsapp-business-api/images/Objects.png"
                alt="section-page-1"
                style="width: 7px;"
              />
            </div>
          </a>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <!-- sign-up modal starts -->
  <div
    class="modal fade"
    id="wati-sign-up-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="signUpModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content sign-up-modal-content">
        <div
          class="modal-header sign-up-modal-header"
          style="border-bottom: none;"
        >
          <img
            class="modal-title"
            id="signUpModalTitle"
            src="/images/WB-logo.svg"
            alt="signUpModalTitle"
          />
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-form-image-container">
            <div class="modal-chat-image">
              <!-- <img src="/images/Chat-1.svg" alt=""> -->
              <h3>We are just <br />a <span>call</span> away!</h3>
              <div class="modal-features-container">
                <img src="/whatsapp-business-api/images/Free.svg" alt="price" />
                <p>Free Forever Plan</p>
              </div>

              <div class="modal-features-container">
                <img
                  src="/whatsapp-business-api/images/price.svg"
                  alt="price"
                />
                <p>No Markup</p>
              </div>
              <div class="modal-features-container">
                <img src="/whatsapp-business-api/images/Zero.svg" alt="price" />
                <p>Zero Setup Fee</p>
              </div>
            </div>
            <div class="modal-form-container">
              <div id="modal-form-div">
                <form
                  action="https://marketing.emovur.com/api/save_lead/4963NhowaYVO2Sji78TK"
                  method="POST"
                  class="modal-form"
                  id="modal-form"
                >
                  <label for="name">Name</label><br />
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Enter your name"
                    required
                  /><br />
                  <label for="mobile_no">Phone Number</label><br />
                  <input
                    type="text"
                    id="mobile_no"
                    name="mobile_no"
                    placeholder="Your number goes here"
                    required
                  /><br />
                  <label for="lf_your_company_website">Company Website</label
                  ><br />
                  <input
                    type="text"
                    id="lf_your_company_website2"
                    name="lf_your_company_website"
                    placeholder="Your company website goes here"
                    required
                    pattern="((https?|ftp)://)?(www\.)?[a-zA-Z0-9-]+(\.[a-zA-Z]{2,})(\/\S*)?"
                  />
                  <span
                    id="website-validation-message-popup"
                    style="display: none; color: red;"
                    >Please enter a valid website.</span
                  >
                  <!-- <label for="email">E-Mail</label><br>  
                                <input type="text" id="email" name="email" placeholder="Your e-mail goes here"
                                    required><br> -->
                  <!-- <input type="submit" value="Sign Up"> -->
                  <button
                    type="submit"
                    class="pricing-cards-btn theme-btn signup-modal-button"
                    ><i class="fa fa-spinner fa-spin" id="wati_rcb_id"></i> Request
                    Call Back
                    <i class="fa fa-angle-right" aria-hidden="true"></i></button
                  >
                </form>
              </div>
              <div id="modal-form-success">
                <div id="modal-form-success-div">
                  <img
                    src="/whatsapp-business-api/images/Jan43_11zon.webp"
                    alt="Submitted Successfully"
                    style="width: 150px"
                  />
                  <p>
                    Submitted Successfully! <br />One of our expert will soon
                    get in touch with you.
                  </p>
                  <a
                    href="https://wd.emovur.com/WhatsappBussinessApi-Brochure.pdf"
                    target="_blank"
                  >
                    <button
                      ><i
                        class="fa fa-cloud-download"
                        aria-hidden="true"
                        id="main-pop-up-db"></i>
                      Download Brochure</button
                    >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- subscribe modal ends -->

  <PhoneApp />
</WhatsappLayout>

<script src="/public/whatsapp-business-api/js/alternativeWati.js" is:inline
></script>

<!-- script for opening sign up modal on page load -->
<script>
  $(window).on("load", function () {
    setTimeout(() => {
      $("#wati-sign-up-modal").modal("show");
    }, 5000);
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const stickySection = document.querySelector(
      ".Sticky-Whatsapp-business-api"
    );
    const btnClassSection = document.querySelector(".btn-class");

    // Create an Intersection Observer to track when .btn-class is visible or not
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            // If the .btn-class section is in view, hide the sticky section
            stickySection.style.display = "none";
          } else {
            // If the .btn-class section is out of view, show the sticky section
            stickySection.style.display = "flex";
            stickySection.style.flexDirection = "column";
          }
        });
      },
      {
        threshold: 0, // Trigger when the element completely leaves the viewport
      }
    );

    // Observe the .btn-class section
    observer.observe(btnClassSection);
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const viewMoreBtn = document.querySelector(".feature-read-more");
    const hiddenElements = document.querySelectorAll(".hidden"); // Select all hidden elements
    let isExpanded = false;

    viewMoreBtn.addEventListener("click", function () {
      if (!isExpanded) {
        hiddenElements.forEach((el) => {
          el.style.display = "flex"; // Show elements
          el.style.opacity = "0";
          el.style.visibility = "visible";
          setTimeout(() => {
            el.style.opacity = "1";
            el.style.transition = "opacity 0.5s ease-in-out";
          }, 10);
        });
        viewMoreBtn.textContent = "View Less";
      } else {
        hiddenElements.forEach((el) => {
          el.style.opacity = "0";
          el.style.transition = "opacity 0.5s ease-in-out";
          setTimeout(() => {
            el.style.display = "none"; // Hide after fade-out
            el.style.visibility = "hidden";
          }, 500);
        });
        viewMoreBtn.textContent = "View More";
      }
      isExpanded = !isExpanded;
    });
  });
</script>

<!-- script for popup form submission -->
<script>
  document
    .getElementById("modal-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      var form = event.target;
      var formData = new FormData(form);
      formData.append("lf_form_source", "Popup Form");
      formData.append("lf_current_page_url", window.location.href);
      var loader = document.getElementById("wati_rcb_id");
      var modalFormDiv = document.getElementById("modal-form-div");
      var successMessage = document.getElementById("modal-form-success");
      var websiteInput = document.getElementById("lf_your_company_website2");
      var websitePattern =
        /^((https?|ftp):\/\/)?(www\.)?[a-zA-Z0-9-]+(\.[a-zA-Z]{2,})(\/\S*)?$/;
      if (!websitePattern.test(websiteInput.value)) {
        event.preventDefault(); // Prevent form submission
        document.getElementById(
          "website-validation-message-popup"
        ).style.display = "block";
        return;
      }

      loader.style.display = "inline-block";

      fetch(form.action, {
        method: form.method,
        body: formData,
      })
        .then((response) => {
          loader.style.display = "none";
          modalFormDiv.style.display = "none";
          successMessage.style.display = "block";
          window.dataLayer = window.dataLayer || [];
          window.dataLayer.push({
            event: "formSubmission",
            formId: "modal-form",
            formData: {
              name: formData.get("name"),
              phoneNumber: formData.get("mobile_no"),
              companyName: formData.get("lf_your_company_website"),
            },
          });
          console.log("Data submitted successfully");
          form.reset();
          // setTimeout(function() {
          //     successMessage.style.display = "none";
          //     $('#signUpModal').modal('hide');
          // }, 3000);
        })
        .catch((error) => {
          console.error("Error submitting data:", error);
          loader.style.display = "none";
          modalFormDiv.style.display = "block";
          successMessage.style.display = "none";
          submitBtn.style.display = "block";
        });
      // crm.emovur.com WhatsApp Landing Page
      const myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      const raw = JSON.stringify({
        name: formData.get("name"),
        "phone-number": formData.get("mobile_no"),
        "company-website": formData.get("lf_your_company_website"),
        "form-name": "Wati Alternative- Lead Form Popup Form",
      });

      const requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      fetch(
        "https://crm-leads-service.pointofconnect.com/api/leads/webapi/18588738-e96f-4e03-8967-813a9550f342",
        requestOptions
      );
    });
</script>
