---
import WhatsappLayout from "../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../public/whatsapp-business-api/css/sharedinbox.css";
import "../../../public/whatsapp-business-api/css/whatsapp-ecommorce.css";
import "../../../public/whatsapp-business-api/css/whatsapp-ecommorcetabs.css";
import LogoStrips from "../../components/LogoStrips.astro";
import PhoneApp from "../../components/PhoneApp.astro";

const metaTitle = "WhatsApp for eCommerce | Drive Sales via Chat";
const metaDescription =
  "Sell more with Emovur’s WhatsApp eCommerce solutions. Enable catalog browsing, cart management, and order updates via WhatsApp.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/whatsapp-ecommerce";
const keywords =
  "whatsapp for ecommerce, ecommerce automation, whatsapp shopping, d2c marketing, online store leads.";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <a
        href="https://www.facebook.com/business/partner-directory/search?solution_type=messaging&ref=pd_home_hero_cta&id=7961305477248043&section=overview"
        target="_blank"
        class="meta-class-broadcast"
        ><span id="lp-mtp-btn">WhatsApp Ecommerce</span></a
      ><br />
      <h6
        class="broadcast-heading-title-ecommorce"
        style="font-size: 4.9rem;font-family: Roboto, sans-serif;font-weight: 600;color:#000000;line-height: 4.9rem"
      >
        Set up your<br />
        <spam style="color: #0c9ffa">online store</spam>
      </h6>
      <!-- <h6 style="font-size: 2.9rem;font-family: Roboto, sans-serif;font-weight: 600;color:#000000">online store</h6> -->
      <h6
        class="broadcast-heading-title-ecommorce-on-whatsapp"
        style="font-size: 3.9rem"
      >
        on WhatsApp
      </h6>
      <p
        style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
      >
        Enable customers to discover, browse, and purchase products/services on
        the go from WhatsApp
      </p>
      <div class="tag-class">
        <div>
          <img
            src="/whatsapp-business-api/images/Green tick.svg"
            alt="Green Tick"
            style="width: 15px"
          /> Blue tick
        </div>
        <div>
          <img
            src="/whatsapp-business-api/images/No Markup.svg"
            alt="No Markup"
            style="width: 15px"
          /> No Markup
        </div>
      </div>
      <div class="btn-class">
        <a
          href="https://admin.emovur.com/auth/register"
          target="_blank"
          class="svg-link svg-link-white"
        >
          <button class="schedule-btn-one theme-btn" id="lp-sft-btn">
            Start Free Trial
          </button>
        </a>
        <a href="/whatsapp-business-api/book-demo" target="_blank">
          <button class="schedule-btn theme-btn" id="lp-demo-btn">
            Book 1-1 Demo
          </button>
        </a>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page-ecommorce"
        src="/whatsapp-business-api/images/Etitle@4x.webp"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>

  <!-- Landing form section ends -->
  <div id="features-id" class="container features-container">
    <div class="memorable-experience-heading-container-cards-parts">
      <div class="heading-container" style="text-align: center">
        <h6
          class="memorable-experience-heading-what"
          style="color: #000000 !important,font-family: Roboto, sans-serif;font-weight: 600;font-size: 3rem"
        >
          End-to-End
        </h6>
        <h6
          style="color: #000000 !important,font-family: Roboto, sans-serif;font-weight: 400;font-size: 3rem"
          class="memorable-experience-heading-what-para"
        >
          Shopping Experience
        </h6>
        <span
          class="heading-underline experience-heading-underline d-none d-sm-inline"
        ></span>
      </div>
    </div>
    <div class="animated-image">
      <div class="animated-image-container" style="margin-right:54px">
        <h6 class="animated-image-heading" style="margin-left: 80px">Browse</h6>
        <img
          src="/whatsapp-business-api/images/Ebrows@4x.webp"
          alt="animated-image"
          class="animated-image-image"
        />
      </div>

      <div class="animated-image-container">
        <h6 class="animated-image-heading" style="margin-right: 20px">Cart</h6>
        <img
          src="/whatsapp-business-api/images/Ecart@4x.webp"
          alt="animated-image"
          class="animated-image-image"
        />
      </div>
      <div class="animated-image-container">
        <span class="animated-image-heading" style="margin-left: 20px">Pay</span
        >
        <img
          src="/whatsapp-business-api/images/Epay@4x.webp"
          alt="animated-image"
          class="animated-image-image"
        />
      </div>
    </div>
  </div>
  <!-- price info section starts -->
  <div
    id="features-id"
    class="container features-container-ecommerce"
    style="margin-top: 150px;margin-bottom:100px"
  >
    <div class="alternate-section">
      <div
        class="alternate-section-part-1-ecommerce d-none d-sm-block"
        style="width: 50%"
      >
        <img
          src="/whatsapp-business-api/images/Ealeternate@4x.webp"
          alt="animated-image"
          width="100%"
        />
      </div>
      <div class="alternate-section-part-1-ecommerce" style="width: 50%">
        <div class="alternate-section-part-2">
          <div class="color-sectiopn-animation-bar"></div>
          <div class="text-alternate-section">
            <h6
              style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1.5rem"
            >
              Organize Products
            </h6>
            <h6
              style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.5rem;margin-bottom:5px"
            >
              into Collections
            </h6>
            <p style="font-size:1rem;line-height:1.2rem">
              Group similar products into neatly organized collections, making
              it easier for customers to browse and find what they need.
            </p>
          </div>
        </div>
        <div class="alternate-section-part-2">
          <div class="color-sectiopn-animation-bar-1"></div>
          <div class="text-alternate-section">
            <h6
              style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1.5rem"
            >
              Automate Checkout
            </h6>
            <h6
              style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.5rem;margin-bottom:5px"
            >
              Workflows
            </h6>
            <p style="font-size:1rem;line-height:1.2rem">
              Streamline the buying process with automated checkout steps,
              saving time for both you and your customers..
            </p>
          </div>
        </div>

        <div class="alternate-section-part-2">
          <div class="color-sectiopn-animation-bar-2"></div>
          <div class="text-alternate-section">
            <h6
              style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1.5rem"
            >
              Enable Native
            </h6>
            <h6
              style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.5rem;margin-bottom:5px"
            >
              WhatsApp Payments
            </h6>
            <p style="font-size:1rem;line-height:1.2rem">
              Allow customers to make payments directly within WhatsApp for a
              hassle-free transaction experience.
            </p>
          </div>
        </div>
        <div class="alternate-section-part-2">
          <div class="color-sectiopn-animation-bar-3"></div>
          <div class="text-alternate-section">
            <h6
              style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1.5rem"
            >
              Monitor Sales
            </h6>
            <h6
              style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 1.5rem;margin-bottom:5px"
            >
              with the Order Panel
            </h6>
            <p style="font-size:1rem;line-height:1.2rem">
              Track and manage all your sales effortlessly in a centralized
              order panel for better business insights.
            </p>
          </div>
        </div>
        <div></div>
      </div>
      <div
        class="alternate-section-part-1-ecommerce d-block d-sm-none"
        style="width: 50%"
      >
        <img
          src="/whatsapp-business-api/images/Ealeternate@4x.webp"
          alt="animated-image"
          width="100%"
        />
      </div>
    </div>
  </div>
  <!-- price info section ends -->

  <!--- retargeting campaigns section starts -->

  <div
    id="features-id"
    class="container features-container-integration"
    style="padding-top: 100px"
  >
    <div class="integration-section-container">
      <div class="integration-text-ecommerce" style="width: 59%;">
        <h6
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 3rem"
        >
          <spam style="color: #0c9ffa">Integrates</spam> with your
        </h6>
        <h6
          style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 3rem;margin-bottom:5px"
        >
          Ecommerce Website
        </h6>
        <p style="font-size:1.4rem;line-height:2rem">
          Our solution integrates seamlessly with any e-commerce platform you
          use, whether it's Shopify, WordPress, OpenCart, or any other platform.
        </p>
      </div>

      <img
        src="/whatsapp-business-api/images/Eintergate@4x.webp"
        class="integration-image d-none d-sm-block"
        alt="ecommerce"
        width="40%"
      />
    </div>
  </div>

  <!--- retargeting campaigns section ends -->

  <div
    id="features-id"
    class="container features-container-tabs d-none d-sm-block"
    style="margin-top: 200px;margin-bottom:200px"
  >
    <div class="broadcast-page-container">
      <!-- Sidebar Tabs -->
      <div class="broadcast-sidebar-menu">
        <button
          class="broadcast-sidebar-tab active-broadcast-tab"
          onclick="switchBroadcastTab('broadcast-tab-quick-reply')"
          >Collect Payments</button
        >
        <button
          class="broadcast-sidebar-tab"
          onclick="switchBroadcastTab('broadcast-tab-cta')"
          >Share Order Updates</button
        >
        <button
          class="broadcast-sidebar-tab"
          onclick="switchBroadcastTab('broadcast-tab-carousel')"
          >Quick Query Resolution</button
        >
        <button
          class="broadcast-sidebar-tab"
          onclick="switchBroadcastTab('broadcast-tab-whatsapp-flows')"
          >Track Orders</button
        >
        <button
          class="broadcast-sidebar-tab"
          onclick="switchBroadcastTab('broadcast-tab-collect-payments')"
          >Recommend Product
        </button>
      </div>

      <!-- Content Section -->
      <div class="broadcast-tab-container">
        <div
          id="broadcast-tab-quick-reply"
          class="broadcast-tab-content active-broadcast-content"
        >
          <div class="tabs-contents-container-main-part">
            <div
              class="tabs-contents-container-main-part-text"
              style="width: 70%"
            >
              <h6
                class="d-none d-sm-block"
                style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 3rem"
              >
                Collect
              </h6>
              <h6
                class="d-none d-sm-block"
                style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 3rem;margin-bottom:5px"
              >
                Payments
              </h6>
              <h6
                class="d-block d-sm-none"
                style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 2.2rem"
              >
                Collect<span
                  style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 2.2rem;margin-bottom:5px"
                >
                  Payments</span
                >
              </h6>
              <p style="font-size:1rem;line-height:1.5rem">
                Accept payment directly Whatsapp for quick, seamless
                transaction.
              </p>
            </div>
            <img
              src=" /whatsapp-business-api/images/11collect payment@4x.webp"
              class="tabs-contents-image-part"
              alt="1"
            />
          </div>
        </div>
        <div id="broadcast-tab-cta" class="broadcast-tab-content">
          <div class="tabs-contents-container-main-part">
            <div
              class="tabs-contents-container-main-part-text"
              style="width: 70%"
            >
              <h6
                class="d-none d-sm-block"
                style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 3rem"
              >
                Share
              </h6>
              <h6
                class="d-none d-sm-block"
                style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 3rem;margin-bottom:5px"
              >
                Order Updates
              </h6>
              <h6
                class="d-block d-sm-none"
                style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 2.2rem"
              >
                Share<span
                  style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 2.2rem;margin-bottom:5px"
                >
                  Order Updates</span
                >
              </h6>
              <p style="font-size:1rem;line-height:1.5rem">
                Send real-time order updates to keep customers informed and
                confident.
              </p>
            </div>
            <img
              src=" /whatsapp-business-api/images/11share_1@4x.webp"
              class="tabs-contents-image-part"
              alt="1"
            />
          </div>
        </div>
        <div id="broadcast-tab-carousel" class="broadcast-tab-content">
          <div class="tabs-contents-container-main-part">
            <div
              class="tabs-contents-container-main-part-text"
              style="width: 90%"
            >
              <h6
                class="d-none d-sm-block"
                style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 3rem"
              >
                Quick Query
              </h6>
              <h6
                class="d-none d-sm-block"
                style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 3rem;margin-bottom:5px"
              >
                Resolution
              </h6>
              <h6
                class="d-block d-sm-none"
                style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 2.2rem"
              >
                Quick Query<span
                  style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 2.2rem;margin-bottom:5px"
                >
                  Resolution</span
                >
              </h6>
              <p style="font-size:1rem;line-height:1.5rem">
                Resolve queries instantly with personalized WhatApp support..
              </p>
            </div>
            <img
              src=" /whatsapp-business-api/images/11qq_1@4x.webp"
              class="tabs-contents-image-part"
              alt="1"
            />
          </div>
        </div>
        <div id="broadcast-tab-whatsapp-flows" class="broadcast-tab-content">
          <div class="tabs-contents-container-main-part">
            <div
              class="tabs-contents-container-main-part-text"
              style="width: 70%"
            >
              <h6
                class="d-none d-sm-block"
                style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 3rem"
              >
                Track
              </h6>
              <h6
                class="d-none d-sm-block"
                style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 3rem;margin-bottom:5px"
              >
                Orders
              </h6>
              <h6
                class="d-block d-sm-none"
                style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 2.2rem"
              >
                Track<span
                  style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 2.2rem;margin-bottom:5px"
                >
                  Orders</span
                >
              </h6>
              <p style="font-size:1rem;line-height:1.5rem">
                Accept payment directly Whatsapp on WhatsApp for quick, seamless
                transaction.
              </p>
            </div>
            <img
              src=" /whatsapp-business-api/images/11Track@4x.webp"
              class="tabs-contents-image-part"
              alt="1"
            />
          </div>
        </div>
        <div id="broadcast-tab-collect-payments" class="broadcast-tab-content">
          <div class="tabs-contents-container-main-part">
            <div
              class="tabs-contents-container-main-part-text"
              style="width: 70%"
            >
              <h6
                class="d-none d-sm-block"
                style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 3rem"
              >
                Recommend
              </h6>
              <h6
                class="d-none d-sm-block"
                style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 3rem;margin-bottom:5px"
              >
                Products
              </h6>
              <h6
                class="d-block d-sm-none"
                style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 500; font-size: 2.2rem"
              >
                Recommend<span
                  style="color: #606060 !important; font-family: Roboto, sans-serif; font-weight: 300; font-size: 2.2rem;margin-bottom:5px"
                >
                  Products</span
                >
              </h6>
              <p style="font-size:1rem;line-height:1.5rem">
                Accept payment directly Whatsapp for quick, seamless
                transaction.
              </p>
            </div>
            <img
              src=" /whatsapp-business-api/images/11recomem@4x.webp"
              class="tabs-contents-image-part"
              alt="1"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container features-container d-block d-sm-none"
    id="features-key-carousel-disktop"
    style="display:flex;align-items:center;width: 100%;justify-content: center;height: 100%;margin-top: 20px !important;margin-bottom: 30px !important"
  >
    <div
      id="carouselExampleIndicators"
      class="carousel slide feature-keys"
      data-ride="carousel"
      data-interval="5000"
      style="width: 100%;"
    >
      <ol class="carousel-indicators" style="display: none">
        <li
          data-target="#carouselExampleIndicators0"
          data-slide-to="0"
          class="active"
        >
        </li>
        <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators4" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">Collect Payments</h6>
              <p class="feature-key-p">
                Accept payment directly Whatsapp for quick, seamless
                transaction.
              </p>
              <!-- <ul class="bullet-points">
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Instant Conversations</p>
                        </li>
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C;">Higher Conversions</p>
                        </li>
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C;">Seamless Integration</p>
                        </li>
                    </ul> -->
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src=" /whatsapp-business-api/images/11collect payment@4x.webp"
                class="tabs-contents-image-part"
                alt="1"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">Share Order Updates</h6>
              <p class="feature-key-p">
                Send real-time order updates to keep customers informed and
                confident.
              </p>
              <!-- <ul class="bullet-points">
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Automated Drip Campaigns</p>
                        </li>
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Customizable Intervals</p>
                        </li>
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Personalized Campaigns</p>
                        </li>
                    </ul> -->
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src=" /whatsapp-business-api/images/11share_1@4x.webp"
                class="tabs-contents-image-part"
                alt="1"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">
                Quick Query Resolution
              </h6>
              <p class="feature-key-p">
                Resolve queries instantly with personalized WhatApp support..
              </p>
              <!-- <ul class="bullet-points">
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Product Catalogs</p>
                        </li>
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Cart, Order Summary, and Checkout</p>
                        </li>
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">WhatsApp Payments</p>
                        </li>
                    </ul> -->
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src=" /whatsapp-business-api/images/11qq_1@4x.webp"
                class="tabs-contents-image-part"
                alt="1"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">Track Orders</h6>
              <p class="feature-key-p">
                Accept payment directly Whatsapp on WhatsApp for quick, seamless
                transaction.
              </p>
              <!-- <ul class="bullet-points">
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Customizable Forms</p>
                        </li>
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Effortless Data Collection</p>
                        </li>
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Real-Time Responses</p>
                        </li>
                    </ul> -->
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src=" /whatsapp-business-api/images/11Track@4x.webp"
                class="tabs-contents-image-part"
                alt="1"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-workflow-feature-key">
            <div>
              <h6 class="heading-underline-feature-key">Recommend Products</h6>
              <p class="feature-key-p">
                Accept payment directly Whatsapp for quick, seamless
                transaction.
              </p>
              <!-- <ul class="bullet-points">
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Customizable Forms</p>
                        </li>
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Effortless Data Collection</p>
                        </li>
                        <li style="margin-bottom: 10px">
                            <p style="font-size: 14px; color: #8A919C">Real-Time Responses</p>
                        </li>
                    </ul> -->
            </div>
            <div class="tabs-broadcast-contents-img-part">
              <img
                src=" /whatsapp-business-api/images/11recomem@4x.webp"
                class="tabs-contents-image-part"
                alt="1"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-control-feature-key">
        <a href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper">
    <div class="container">
      <div class="theme-title-one mb-80">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Can I integrate Shopify or woocommerce with WhatsApp
                      eCommerce?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can integrate Shopify or woocommerce with
                      WhatsApp eCommerce to sync your product catalog, manage
                      orders, and provide seamless customer support directly
                      through WhatsApp.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I share personalized product recommendations with
                      customers?</a
                    >
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can use customer data and preferences to share
                      targeted product recommendations through WhatsApp,
                      boosting sales and customer satisfaction.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Does WhatsApp eCommerce support order tracking?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, businesses can send automated order updates and
                      tracking details, ensuring customers are informed about
                      their purchases.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Can I use WhatsApp eCommerce for promotional campaigns?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can run promotional campaigns, such as flash
                      sales or product launches, using WhatsApp broadcast
                      messages or targeted outreach.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Can customers make payments through WhatsApp eCommerce?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, customers can complete their purchases by using
                      integrated payment options within WhatsApp, offering a
                      seamless and secure checkout experience.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Is WhatsApp eCommerce suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Absolutely. It provides a cost-effective way for
                      businesses of all sizes to reach customers and drive sales
                      without requiring a full-fledged eCommerce website.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <PhoneApp />

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->
</WhatsappLayout>

<script src="../../../public/whatsapp-business-api/js/tabsscript.js" is:inline
></script>
