---
import WhatsappLayout from "../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../public/whatsapp-business-api/css/education.css";
import LogoStrips from "../../components/LogoStrips.astro";
import PhoneApp from "../../components/PhoneApp.astro";

const metaTitle = "WhatsApp for D2C Brands | Convert Shoppers via Chat";
const metaDescription =
  "Enable faster checkout, cart recovery, and personalized sales with Emovur’s WhatsApp solutions for eCommerce.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/whatsapp-industries-ecommerce";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <a target="_blank" class="meta-class-broadcast"
        ><span id="lp-mtp-btn">E-commerce</span></a
      ><br />
      <!-- <h3 style="font-size: 2.9rem;color:#25D366;margin-bottom: 5px;font-weight:600;">Transform Conversations into
            Revenue <span style="font-size: 2.9rem;color:#606060;margin-bottom: 5px;font-weight:300 !imortant;">
                with Smooth Integration
            </span>
        </h3> -->
      <h6 style="font-size: 2.9rem;font-weight:400;color:#606060">
        <span
          style="font-size: 2.9rem;color:#25D366;margin-bottom: 5px;font-weight:600;"
          >Transform Conversations into Revenue
        </span>
        with Smooth Integration
      </h6>

      <!-- <h6 style="font-size: 2.9rem">with Smooth Integration</h6> -->
      <div class="education-main-paragraph">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Track orders, manage returns, cancellations, and refunds.
        </p>
      </div>
      <div class="education-main-paragraph">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Easy connection with e-commerce platforms.
        </p>
      </div>
      <div class="tag-class">
        <div>
          <img
            src="/whatsapp-business-api/images/Green tick.svg"
            alt="Green Tick"
            style="width: 15px"
          /> Blue tick
        </div>
        <div>
          <img
            src="/whatsapp-business-api/images/No Markup.svg"
            alt="No Markup"
            style="width: 15px"
          /> No Markup
        </div>
      </div>
      <div class="btn-class">
        <a
          href="https://admin.emovur.com/auth/register"
          target="_blank"
          class="svg-link svg-link-white"
        >
          <button class="schedule-btn-one theme-btn" id="lp-sft-btn">
            Start Free Trial
          </button>
        </a>
        <a href="/whatsapp-business-api/book-demo" target="_blank">
          <button class="schedule-btn theme-btn" id="lp-demo-btn">
            Book 1-1 Demo
          </button>
        </a>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page"
        src="/whatsapp-business-api/images/industries/e-commerce-landing-form.webp"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>

  <!-- Landing form section ends -->

  <!-- strip start -->
  <div class="strip-page" style="padding-top: 140px;">
    <div class="container">
      <div class="strip-page-main">
        <img
          class="strip-page-main-img"
          src="/whatsapp-business-api/images/industries/e-commerce-shopping.png"
          alt="strip page main"
          style="width: 20%;top: -70px;left:35px"
        />
        <div class="strip-page-part-1"></div>
        <div class="strip-page-part-2">
          <div class="strip-contant-part">
            <h3 style="text-align:center;color:#0c9ffa">65%</h3>
            <p style="text-align:center">
              reduction in abandoned carts with automated recovery messages.
            </p>
          </div>
          <div class="strip-contant-part">
            <h3 style="text-align:center;color:#0c9ffa">75%</h3>
            <p style="text-align:center">
              faster query resolution for product inquiries.
            </p>
          </div>
          <div class="strip-contant-part">
            <h3 style="text-align:center;color:#0c9ffa">85%</h3>
            <p style="text-align:center">
              of customer interactions managed seamlessly over WhatsApp.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="strip-page" style="padding-top: 100px;">
    <div class="container">
        <div class="brands-main">
            <h6 style="font-weight:300;font-size:2rem">Edutech brands</h6>
            <img src="/whatsapp-business-api/images/Frame.svg" alt="heart" style="width:25px" />
            <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">Emovur</h6>
        </div>
        <div class="brands-logo">
            <img src="/whatsapp-business-api/images/llr.svg" alt="heart" style="width:200px" />
            <img src="/whatsapp-business-api/images/udemy.svg" alt="heart" style="width:200px" />
            <img src="/whatsapp-business-api/images/kle.svg" alt="heart" style="width:200px" />
            <img src="/whatsapp-business-api/images/corsera.svg" alt="heart" style="width:200px" />
            <img src="/whatsapp-business-api/images/jain.svg" alt="heart" style="width:200px" />
        </div>
    </div>
</div> -->

  <!-- section starts -->
  <div class="section-page" style="padding-top: 100px;">
    <div class="container">
      <div class="brands-main">
        <h6 style="font-weight:300;font-size:2rem">How</h6>
        <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">
          Emovur can help
        </h6>
        <h6 style="font-weight:300;font-size:2rem">you!</h6>
      </div>

      <div>
        <div class="section-page-main">
          <div class="section-page-main-1">
            <img
              class="section-main-img d-none d-sm-block"
              src="/whatsapp-business-api/images/industries/e-commerce-phone-1.webp"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
            <div class="section-page-main-1-contant">
              <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">
                Boost Sales
              </h6>
              <h6 style="font-weight:300;font-size:2rem">
                with Catalogs & Cart Reminders
              </h6>

              <!-- First Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Share Catalogues</h6>
                  <p class="hover-description">
                    Share product catalogs <br />with curated recommendations.
                  </p>
                </div>
              </div>

              <!-- Second Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Boost Cart Conversions</h6>
                  <p class="hover-description">
                    Rekindle interest and bring customers <br />back to complete
                    their purchases.
                  </p>
                </div>
              </div>
            </div>
            <img
              class="section-main-img d-block d-sm-none"
              src="/whatsapp-business-api/images/industries/e-commerce-phone-1.webp"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
          </div>
        </div>
      </div>

      <div>
        <div class="section-page-main">
          <div class="section-page-main-1">
            <div class="section-page-main-1-contant">
              <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">
                Nudge Customers to Purchase
              </h6>
              <h6 style="font-weight:300;font-size:2rem">
                with interactive conversations
              </h6>

              <!-- First Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Personalized Reminders</h6>
                  <p class="hover-description">
                    Send personalized reminders for carts,<br /> wishlists, discounts,
                    and restocks to drive sales.
                  </p>
                </div>
              </div>

              <!-- Second Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Turn Visitors into Customers</h6>
                  <p class="hover-description">
                    Exclusive time-sensitive deals and <br />
                    low stock alerts prompt immediate purchases.
                  </p>
                </div>
              </div>
            </div>

            <img
              class="section-main-img"
              src="/whatsapp-business-api/images/industries/e-commerce-nudge.png"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
          </div>
        </div>
      </div>

      <div>
        <div class="section-page-main">
          <div class="section-page-main-1">
            <img
              class="section-main-img d-none d-sm-block"
              src="/whatsapp-business-api/images/industries/e-commerce-students-engage.webp"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
            <div class="section-page-main-1-contant">
              <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">
                Provide instant responses.
              </h6>
              <h6 style="font-weight:300;font-size:2rem">
                with automated or live support.
              </h6>

              <!-- First Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Instant Product Demo</h6>
                  <p class="hover-description">
                    Allow customers to see products<br />in action before
                    purchasing.
                  </p>
                </div>
              </div>

              <!-- Second Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Order Tracking & Updates</h6>
                  <p class="hover-description">
                    Enhance customer experience and <br />simplify the buying
                    journey.
                  </p>
                </div>
              </div>
            </div>
            <img
              class="section-main-img d-block d-sm-none"
              src="/whatsapp-business-api/images/industries/e-commerce-students-engage.webp"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
          </div>
        </div>
      </div>

      <div>
        <div class="section-page-main">
          <div class="section-page-main-1">
            <div class="section-page-main-1-contant">
              <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">
                Flawless Integration and
              </h6>
              <h6 style="font-weight:300;font-size:2rem">
                Enhanced Multi-Agent Support
              </h6>

              <!-- First Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Seamless Integration</h6>
                  <p class="hover-description">
                    Integrates effortlessly with CRM,<br /> order systems, and Shopify.
                  </p>
                </div>
              </div>

              <!-- Second Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Unified Agent Support</h6>
                  <p class="hover-description">
                    Multiple agents to efficiently <br />handle customer
                    queries.
                  </p>
                </div>
              </div>
            </div>

            <img
              class="section-main-img"
              src="/whatsapp-business-api/images/industries/e-commerce-resolve.webp"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section ends -->

  <!-- cards section starts -->
  <div class="cards-section" style="padding-top: 100px;">
    <div class="container-cards-section">
      <div class="brands-main" style="margin-bottom: 15px">
        <h6 style="font-size:1.7rem; margin-bottom: 15px;">
          <span style="font-weight:300;">Why Choose </span>
          <span style="font-weight:500; color:#000000;">WhatsApp </span>
          <span style="font-weight:300;">for </span>
          <span style="font-weight:500; color:#000000;">EdTech</span>
        </h6>
      </div>
      <div class="brands-main">
        <h6 style="font-weight:500;font-size:1.3rem;color:#20B038">
          Proven Success in E-commecre Conversational Marketing
        </h6>
      </div>
      <div class="card-section-cards-part-1">
        <div class="card-section-contents">
          <img
            src="/whatsapp-business-api/images/1-card-section-img.svg"
            alt="section-page-1"
            style="width: 30px;"
          />
          <p>Easy order tracking and updates.</p>
        </div>
        <div class="card-section-contents">
          <img
            src="/whatsapp-business-api/images/1-card-section-img.svg"
            alt="section-page-1"
            style="width: 30px;"
          />
          <p>Personalized promotions and offers.</p>
        </div>
        <div class="card-section-contents">
          <img
            src="/whatsapp-business-api/images/1-card-section-img.svg"
            alt="section-page-1"
            style="width: 30px;"
          />
          <p>Streamlined communication for returns and refunds.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- cards section ends -->

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-80">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Is mobile APP Available?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">Yes, its avaliable</p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I assign conversations to specific team members?
                    </a>
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, conversations can be easily assigned to specific team
                      members to ensure accountability and efficient resolution.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Which communication channels can be integrated into the
                      Shared Team Inbox?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      You can integrate channels like WhatsApp, email, Facebook
                      Messenger, Instagram, and more into the Shared Team Inbox.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Does the Shared Team Inbox support automation?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the inbox supports automated workflows, such as
                      assigning chats based on keywords, sending instant
                      replies, and setting up chatbot responses.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Can multiple team members work on the same conversation?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, multiple team members can collaborate on a
                      conversation in real-time, with notes and updates visible
                      to everyone.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Is the Shared Team Inbox suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the feature is designed to scale with your business,
                      making it ideal for teams of all sizes, from small
                      startups to large enterprises.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->

  <PhoneApp />
</WhatsappLayout>
