---
import WhatsappLayout from "../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../public/whatsapp-business-api/css/dripcampaign.css";
import "../../../public/whatsapp-business-api/css/whatsapp-ecommorcetabs.css";
import LogoStrips from "../../components/LogoStrips.astro";
import PhoneApp from "../../components/PhoneApp.astro";

const metaTitle = "WhatsApp Drip Campaigns | Automate Customer Journeys";
const metaDescription =
  "Nurture leads and engage customers with automated WhatsApp drip campaigns tailored to user actions.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/whatsapp-drip-campaign";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <a
        href="https://www.facebook.com/business/partner-directory/search?solution_type=messaging&ref=pd_home_hero_cta&id=7961305477248043&section=overview"
        target="_blank"
        class="meta-class-broadcast"
        ><span id="lp-mtp-btn">WhatsApp Drip Campaign</span></a
      ><br />
      <h6
        class="broadcast-heading-title-ecommorce"
        style="font-size: 3rem;font-family: Roboto, sans-serif;font-weight: 600;color:#000000;line-height: 3rem"
      >
        Drive Conversions
      </h6>
      <!-- <h6 style="font-size: 2.9rem;font-family: Roboto, sans-serif;font-weight: 600;color:#000000">online store</h6> -->
      <h6
        class="broadcast-heading-title-ecommorce-on-whatsapp d-none d-sm-block"
        style="font-size: 2.9rem"
      >
        with Smart WhatsApp Drip Campaigns
      </h6>
      <h6
        class="broadcast-heading-title-ecommorce-on-whatsapp d-block d-sm-none"
        style="font-size: 3.9rem"
      >
        with Smart WhatsApp Drip<br /> Campaigns
      </h6>

      <p
        style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
      >
        Deliver precision and personalization-the holy grails of effective
        communication. Automate a series of tailores messages, ensuring timely
        engagement.
      </p>
      <div class="tag-class">
        <div>
          <img
            src="/whatsapp-business-api/images/Green tick.svg"
            alt="Green Tick"
            style="width: 15px"
          /> Blue tick
        </div>
        <div>
          <img
            src="/whatsapp-business-api/images/No Markup.svg"
            alt="No Markup"
            style="width: 15px"
          /> No Markup
        </div>
      </div>
      <div class="btn-class">
        <a
          href="https://admin.emovur.com/auth/register"
          target="_blank"
          class="svg-link svg-link-white"
        >
          <button class="schedule-btn-one theme-btn" id="lp-sft-btn">
            Start Free Trial
          </button>
        </a>
        <a href="/whatsapp-business-api/book-demo" target="_blank">
          <button class="schedule-btn theme-btn" id="lp-demo-btn">
            Book 1-1 Demo
          </button>
        </a>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page"
        src="/whatsapp-business-api/images/titledrip@4x.webp"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>

  <!-- Landing form section ends -->

  <div
    id="features-id"
    class="container features-container d-none d-sm-block"
    style="padding-top: 100px;padding-bottom: 70px"
  >
    <div class="sections-col-container" style="max-width: 100%">
      <div style="width: 50%;">
        <video class="fade-in" width="100%" height="440" autoplay muted loop>
          <source src="./assets/Baordcast.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="memorable-experience-heading-container-part-right">
        <div
          class="heading-container"
          style="text-align: start;margin-bottom: 20px"
        >
          <h3
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 2.5rem"
          >
            What is <spam style="color:#0c9ffa">Drip Campaign</spam>
            <span
              class="heading-underline experience-heading-underline"
              style="width:85%"></span>
          </h3>
        </div>
        <div
          class="heading-section-part3"
          style="text-align: start;margin-bottom: 20px"
        >
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Effortlessly connect payments with your WhatsApp catalog to deliver
            a unified shopping and payment experience-all in one place.
          </p>
        </div>
        <div class="heading-section-part3" style="text-align: start">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Effortlessly connect payments with your WhatsApp catalog to deliver
            a unified shopping and payment experience-all in one place.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container d-block d-sm-none"
    style="padding-top: 20px;padding-bottom: 30px"
  >
    <div class="sections-col-container" style="max-width: 100%">
      <div class="memorable-experience-heading-container-part-right">
        <div
          class="heading-container"
          style="text-align: start;margin-bottom: 20px"
        >
          <h6
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 2rem"
          >
            What is <spam style="color:#0c9ffa">Drip Campaign</spam>
            <span
              class="heading-underline experience-heading-underline"
              style="width:85%"></span>
          </h6>
        </div>
        <div
          class="heading-section-part3"
          style="text-align: start;margin-bottom: 20px"
        >
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1rem;line-height: 1.5rem"
          >
            Effortlessly connect payments with your WhatsApp catalog to deliver
            a unified shopping and payment experience-all in one place.
          </p>
        </div>
        <div class="heading-section-part3" style="text-align: start">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1rem;line-height: 1.5rem"
          >
            Effortlessly connect payments with your WhatsApp catalog to deliver
            a unified shopping and payment experience-all in one place.
          </p>
        </div>
      </div>
      <div style="width: 100%;">
        <video class="fade-in" width="100%" height="440" autoplay muted loop>
          <source src="./assets/Baordcast.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>

  <div id="features-id" class="container features-container">
    <div class="sections-col-container">
      <div class="memorable-experience-heading-container">
        <!-- <div class="heading-section-part1">
                <h5 style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff">
                    WhatsApp Flow Builder</h5>
            </div> -->
        <div class="heading-section-part2">
          <h6 class="broadcast-card-title-part2">
            <spam style="color:#0c9ffa">Lead</spam> Nurturing
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Guide leads toward conversion with a series of targeted messages.
            Share offers and value-driven content to keep them engaged and move
            them down the sales funnel.
          </p>
        </div>

        <div class="sections-col-container"></div>
      </div>
      <div class="position-relative-img" style="width: 50%;">
        <img
          src="/whatsapp-business-api/images/DLead@4x.webp"
          alt="1"
          width="100%"
          height="100%"
          class="scaled-image"
        />
      </div>
    </div>

    <div class="sections-col-container">
      <div style="width: 60%;" class="d-none d-sm-block">
        <img
          src="/whatsapp-business-api/images/DReminders@4x.webp"
          alt="1"
          width="100%"
          height="100%"
          class="scaled-image"
        />
      </div>
      <div
        class="memorable-experience-heading-container-part-right d-none d-sm-block"
        style="align-items: flex-end;padding-top: 0px;border: none"
      >
        <div class="heading-section-part2">
          <h6
            class="broadcast-card-title-part2"
            style="text-align: right;color: #6366f1"
          >
            Reminders
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Send timely service reminders or event notifications to ensure no
            opportunity is missed. Frequent nudges help customers act promptly,
            even at the last minute.
          </p>
        </div>
      </div>
      <div
        class="memorable-experience-heading-container-part d-block d-sm-none"
        style="align-items: flex-end;padding-top: 0px;border: none"
      >
        <div class="heading-section-part2">
          <h6 class="broadcast-card-title-part2" style="color: #6366f1">
            Reminders
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Send timely service reminders or event notifications to ensure no
            opportunity is missed. Frequent nudges help customers act promptly,
            even at the last minute.
          </p>
        </div>
      </div>
      <div class="position-relative-img d-block d-sm-none">
        <img
          src="/whatsapp-business-api/images/DReminders@4x.webp"
          alt="1"
          width="100%"
          height="100%"
          class="scaled-image"
        />
      </div>
    </div>

    <div class="sections-col-container">
      <div class="memorable-experience-heading-container">
        <!-- <div class="heading-section-part1">
                <h5 style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff">
                    WhatsApp Flow Builder</h5>
            </div> -->
        <div class="heading-section-part2">
          <h6 class="broadcast-card-title-part2">
            <spam style="color:#14b8a6">Onboarding</spam> Customers
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Welcome new customers with a series of informative messages. Help
            them explore your product's features, boosting satisfaction and
            long-term retention.
          </p>
        </div>

        <div class="sections-col-container"></div>
      </div>
      <div class="position-relative-img" style="width: 50%;">
        <img
          src="/whatsapp-business-api/images/onboard@4x.webp"
          alt="1"
          width="100%"
          height="100%"
          class="scaled-image"
        />
      </div>
    </div>

    <div class="sections-col-container">
      <div style="width: 60%;" class="d-none d-sm-block">
        <img
          src="/whatsapp-business-api/images/Dengagement@4x.webp"
          alt="1"
          width="100%"
          height="100%"
          class="scaled-image"
        />
      </div>
      <div
        class="memorable-experience-heading-container-part-right d-none d-sm-block"
        style="align-items: flex-end;padding-top: 0px;border: none"
      >
        <!-- <div class="heading-section-part1" style="background-color: #6366f1">
                <h5 style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff">
                    Form Response Collection</h5>
            </div> -->
        <div class="heading-section-part2">
          <h6 class="broadcast-card-title-part2" style="text-align: right">
            Customer <spam style="color:#f43f5e">Engagement</spam>
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Keep customers excited with updates, tips, and upsell opportuni-
            ties. Regular communication fosters loyalty and strengthens
            Relationships over time.
          </p>
        </div>
      </div>
      <div
        class="memorable-experience-heading-container d-block d-sm-none"
        style="align-items: flex-end;padding-top: 0px;border: none"
      >
        <!-- <div class="heading-section-part1" style="background-color: #6366f1">
                <h5 style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff">
                    Form Response Collection</h5>
            </div> -->
        <div class="heading-section-part2">
          <h6 class="broadcast-card-title-part2">
            Customer <spam style="color:#f43f5e">Engagement</spam>
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Keep customers excited with updates, tips, and upsell opportuni-
            ties. Regular communication fosters loyalty and strengthens
            Relationships over time.
          </p>
        </div>
      </div>
      <div class="position-relative-img d-block d-sm-none">
        <img
          src="/whatsapp-business-api/images/Dengagement@4x.webp"
          alt="1"
          width="100%"
          height="100%"
          class="scaled-image"
        />
      </div>
    </div>

    <div class="broadcast-col-container" style="margin-top: 50px">
      <div class="broadcast-col-section">
        <div class="broadcast-card">
          <div class="broadcast-card-icon">
            <img
              src="/whatsapp-business-api/images/Dciondi@4x.webp"
              alt="1"
              width="180px"
              height="180px"
            />
          </div>
          <div class="broadcast-card-content" style="margin-top: -30px">
            <h6 class="broadcast-card-title">
              Predefined <br />
              <spam style="font-weight: 300">Interval</spam>
            </h6>
            <p class="broadcast-card-description">
              Schedule messages at fixed intervals to maintain consistent
              communication without overwhelming your audience.
            </p>
          </div>
        </div>
      </div>
      <div class="broadcast-col-section">
        <div class="broadcast-card">
          <div class="broadcast-card-icon">
            <img
              src="/whatsapp-business-api/images/Dciondi@4x.webp"
              alt="1"
              width="180px"
              height="180px"
            />
          </div>
          <div class="broadcast-card-content" style="margin-top: -30px">
            <h6 class="broadcast-card-title">
              Conditional<br />
              <spam> Logic</spam>
            </h6>
            <p class="broadcast-card-description">
              Personalize workflows by sending messag- es based on specific
              actions or customer re- sponses, ensuring relevance at every step.
            </p>
          </div>
        </div>
      </div>
      <div class="broadcast-col-section">
        <div class="broadcast-card">
          <div class="broadcast-card-icon">
            <img
              src="/whatsapp-business-api/images/Dintia@4x.webp"
              alt="1"
              width="180px"
              height="180px"
            />
          </div>
          <div class="broadcast-card-content" style="margin-top: -30px">
            <h6 class="broadcast-card-title">Initiate with <br />Webhook</h6>
            <p class="broadcast-card-description">
              Trigger drip campaigns seamlessly by inte- grating with webhooks
              to start messaging based on external events or actions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container-drip"
    style="padding-top: 100px"
  >
    <div class="memorable-experience-heading-container-cards-parts-why">
      <div
        class="heading-container"
        style="text-align: center !important;margin-bottom: 30px"
      >
        <h6
          class="broadcast-card-title-heading"
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 3rem"
        >
          <spam style="color: #0c9ffa">Why</spam> WhatsApp Payments?
        </h6>
        <span
          class="heading-underline experience-heading-underline d-none d-sm-block"
        ></span>
      </div>
    </div>
    <div class="organisation-part-container" style="margin-bottom: 20px">
      <div class="organisation-part">
        <img
          src="/whatsapp-business-api/images/Psimpli@4x.webp"
          alt="Whatsapp Landing Page"
          width="40px"
          height="40px"
          style="margin-bottom: 10px"
        />
        <h6
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.5rem"
        >
          Simplified Transactions
        </h6>
        <p
          style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem;line-height: 1.5"
        >
          WhatsApp Payments integrates into your chat flow, letting customers
          make payments directly within the conversation.
        </p>
      </div>
      <div class="organisation-part">
        <img
          src="/whatsapp-business-api/images/Pconvinc@4x.webp"
          alt="Whatsapp Landing Page"
          width="40px"
          height="40px"
          style="margin-bottom: 10px"
        />
        <h6
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400;font-size: 1.5rem"
        >
          Convenience Redefined
        </h6>
        <p
          style="font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem; line-height: 1.5rem"
        >
          Customers already love WhatsApp. With payments built-in, transacting
          becomes even easier for them.
        </p>
      </div>
    </div>
    <div class="organisation-part-container">
      <div class="organisation-part">
        <img
          src="/whatsapp-business-api/images/PTrust@4x.webp"
          alt="Whatsapp Landing Page"
          width="40px"
          height="40px"
          style="margin-bottom: 10px"
        />
        <h6
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.5rem"
        >
          Trusted Reliability
        </h6>
        <p
          style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem;line-height: 1.5"
        >
          Backed by WhatsApp's robust infrastructure, payments are secure, fast,
          and build customer trust.
        </p>
      </div>
      <div class="organisation-part">
        <img
          src="/whatsapp-business-api/images/PEffic@4x.webp"
          alt="Whatsapp Landing Page"
          width="55px"
          height="40px"
          style="margin-bottom: 10px"
        />
        <h6
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400;font-size: 1.5rem"
        >
          Operational Efficiency
        </h6>
        <p
          style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem; line-height: 1.5rem"
        >
          Automate reminders, confirmations, and receipts in chat, saving time
          and reducing errors.
        </p>
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-80">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Can I personalize messages in a Drip Campaign?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can personalize messages with customer names,
                      purchase history, or other details to make the
                      communication more engaging and relevant.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I set triggers for starting a Drip Campaign?</a
                    >
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can set specific triggers, such as signing up for
                      a newsletter, abandoning a cart, or completing a purchase,
                      to initiate a drip campaign.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Can I pause or modify a Drip Campaign after it has
                      started?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can pause, edit, or adjust your campaign settings
                      at any time to improve performance or address changing
                      business needs.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      How many messages can I include in a Drip Campaign?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      The number of messages depends on your strategy, but most
                      platforms allow you to create campaigns with multiple
                      touchpoints over an extended period.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Are Drip Campaigns suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, they are ideal for businesses of all sizes, helping
                      small businesses automate customer engagement without
                      requiring extensive resources.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      What purposes can a Drip Campaign serve?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Drip campaigns can be used for a variety of purposes,
                      including lead nurturing, onboarding new customers,
                      re-engaging inactive users, promoting offers, recovering
                      abandoned carts, sending event invitations, educating
                      customers with tutorials, and collecting feedback or
                      reviews.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <PhoneApp />

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->
</WhatsappLayout>
