---
import WhatsappLayout from "../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../public/whatsapp-business-api/css/whatsapp-flows.css";
import "../../../public/whatsapp-business-api/css/whatsapp-flows-tabs.css";
import LogoStrips from "../../components/LogoStrips.astro";
import PhoneApp from "../../components/PhoneApp.astro";

const metaTitle = "WhatsApp Flows | Build Interactive Journeys with Emovur";
const metaDescription =
  "Create automated, interactive flows on WhatsApp for lead capture, support, and onboarding. No code needed.";
const canonicalUrl = "https://emovur.com/whatsapp-business-api/whatsapp-flows";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-6"
    >
      <a
        href="https://www.facebook.com/business/partner-directory/search?solution_type=messaging&ref=pd_home_hero_cta&id=7961305477248043&section=overview"
        target="_blank"
        class="meta-class-broadcast"
        ><span id="lp-mtp-btn">WhatsApp Flows</span></a
      ><br />
      <h3 class="broadcast-heading-title">Streamline Data Collection</h3>
      <h6 class="broadcast-heading-title">with WhatsApp Business API Flows</h6>
      <p
        style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
      >
        Collect and organize customer data effortlessly with interactive
        WhatsApp Business API flows, ensuring seamless engagement and accurate
        responses.
      </p>
      <div class="tag-class">
        <div>
          <img
            src="/whatsapp-business-api/images/Green tick.svg"
            alt="Green Tick"
            style="width: 15px"
          /> Blue tick
        </div>
        <div>
          <img
            src="/whatsapp-business-api/images/No Markup.svg"
            alt="No Markup"
            style="width: 15px"
          /> No Markup
        </div>
      </div>
      <div class="btn-class">
        <a
          href="https://admin.emovur.com/auth/register"
          target="_blank"
          class="svg-link svg-link-white"
        >
          <button class="schedule-btn-one theme-btn" id="lp-sft-btn">
            Start Free Trial
          </button>
        </a>
        <a href="/whatsapp-business-api/book-demo" target="_blank">
          <button class="schedule-btn theme-btn" id="lp-demo-btn">
            Book 1-1 Demo
          </button>
        </a>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page"
        src="/whatsapp-business-api/images/FTitle@4x.webp"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>

  <!-- Landing form section ends -->

  <div class="features-section-color">
    <div id="features-id" class="container features-container">
      <div class="memorable-experience-heading-container-cards-parts">
        <div
          class="heading-container"
          style="text-align: center;margin-top: 30px !important"
        >
          <h6
            class="memorable-experience-heading-what"
            style="color: #000000 !important,font-family: Roboto, sans-serif;font-weight: 600;font-size: 3rem"
          >
            What you can do
          </h6>
          <h6
            class="memorable-experience-heading-what-para"
            style="color: #000000 !important,font-family: Roboto, sans-serif;font-weight: 400;font-size: 3rem"
          >
            with WhatsApp Flows?
          </h6>
          <span
            class="heading-underline experience-heading-underline d-none d-sm-inline"
          ></span>
        </div>
      </div>
      <div class="whatsapp-flows-container d-none d-sm-block">
        <div class="whatsapp-flows-tabs">
          <button
            class="whatsapp-flows-tab whatsapp-flows-active"
            data-tab="qualified-leads">Qualified leads</button
          >
          <button class="whatsapp-flows-tab" data-tab="appointment-booking"
            >Appointment Booking</button
          >
          <button class="whatsapp-flows-tab" data-tab="collect-feedback"
            >Collect Feedback</button
          >
          <button class="whatsapp-flows-tab" data-tab="event-registration"
            >Event Registration</button
          >
        </div>

        <div class="whatsapp-flows-content" id="qualified-leads">
          <div class="whatsapp-flows-content-what-to-do" style="width: 50%">
            <h6 style="margin-bottom: 20px" class="d-none d-sm-block">
              <span
                style="color: #606060 !important;font-size: 3rem;font-weight: 400;fomt-family: Roboto, sans-serif;line-height: 4rem"
                >Qualified</span
              ><br /><span
                style="color: #000000 !important;font-size: 3rem;font-weight: 400;fomt-family: Roboto, sans-serif"
                >Leads</span
              >
            </h6>
            <h6 class="d-block d-sm-none">
              <span
                style="color: #606060 !important;font-size: 2.4rem;font-weight: 400;fomt-family: Roboto, sans-serif;line-height: 3rem"
                >Qualified
                <span
                  style="color: #000000 !important;font-size: 2.4rem;font-weight: 400;fomt-family: Roboto, sans-serif"
                  >Leads</span
                >
              </span>
            </h6>
            <p>
              Collect valuable insights from your prospects through interactive
              WhatsApp forms. Qualify leads accurately and simplify lead
              attribution for better results.
            </p>
          </div>
          <div class="whatsapp-flows-content-what-to-do" style="width: 50%">
            <img
              src="/whatsapp-business-api/images/Fquli leads@4x.webp"
              alt="Mobile Preview 1"
              class="scaled-image"
            />
          </div>
        </div>

        <div class="whatsapp-flows-content hidden" id="appointment-booking">
          <div class="whatsapp-flows-content-what-to-do" style="width: 50%">
            <h6 style="margin-bottom: 20px" class="d-none d-sm-block">
              <span
                style="color: #606060 !important;font-size: 3rem;font-weight: 400;fomt-family: Roboto, sans-serif;line-height: 4rem"
                >Appointment</span
              ><br /><span
                style="color: #000000 !important;font-size: 3rem;font-weight: 400;fomt-family: Roboto, sans-serif"
                >Booking</span
              >
            </h6>
            <h6 class="d-block d-sm-none">
              <span
                style="color: #606060 !important;font-size: 2.4rem;font-weight: 400;fomt-family: Roboto, sans-serif;line-height: 3rem"
                >Appointment
                <span
                  style="color: #000000 !important;font-size: 2.4rem;font-weight: 400;fomt-family: Roboto, sans-serif"
                  >Booking</span
                >
              </span>
            </h6>
            <p>
              Simplify appointment scheduling with interactive WhatsApp forms.
              Streamline the process, reduce manual effort, and ensure
              hassle-free booking for your customers.
            </p>
          </div>
          <div class="whatsapp-flows-content-what-to-do" style="width: 50%">
            <img
              src="/whatsapp-business-api/images/FAppoim@4x.webp"
              alt="Mobile Preview 1"
              class="scaled-image"
            />
          </div>
        </div>

        <div class="whatsapp-flows-content hidden" id="collect-feedback">
          <div class="whatsapp-flows-content-what-to-do" style="width: 50%">
            <h6 style="margin-bottom: 20px" class="d-none d-sm-block">
              <span
                style="color: #606060 !important;font-size: 3rem;font-weight: 400;fomt-family: Roboto, sans-serif;line-height: 4rem"
                >Collect</span
              ><br /><span
                style="color: #000000 !important;font-size: 3rem;font-weight: 400;fomt-family: Roboto, sans-serif"
                >Feedback</span
              >
            </h6>
            <h6 class="d-block d-sm-none">
              <span
                style="color: #606060 !important;font-size: 2.4rem;font-weight: 400;fomt-family: Roboto, sans-serif;line-height: 3rem"
                >Collect
                <span
                  style="color: #000000 !important;font-size: 2.4rem;font-weight: 400;fomt-family: Roboto, sans-serif"
                  >Feedback</span
                >
              </span>
            </h6>
            <p>
              Gather actionable feedback effortlessly with interactive WhatsApp
              forms. Streamline the process and gain insights to improve your
              offerings.
            </p>
          </div>
          <div class="whatsapp-flows-content-what-to-do" style="width: 50%">
            <img
              src="/whatsapp-business-api/images/Fcollect@4x.webp"
              alt="Mobile Preview 1"
              class="scaled-image"
            />
          </div>
        </div>

        <div class="whatsapp-flows-content hidden" id="event-registration">
          <div style="width: 50%">
            <h6 style="margin-bottom: 20px">
              <span
                style="color: #606060 !important;font-size: 3rem;font-weight: 400;fomt-family: Roboto, sans-serif;line-height: 4rem"
                >Event</span
              ><br /><span
                style="color: #000000 !important;font-size: 3rem;font-weight: 400;fomt-family: Roboto, sans-serif"
                >Registration</span
              >
            </h6>
            <p>
              Simplify event registration with interactive WhatsApp forms.
              Collect attendee details seamlessly and ensure a hassle-free
              signup process.
            </p>
          </div>
          <div style="width: 50%">
            <img
              src="/whatsapp-business-api/images/Fevent@4x.webp"
              alt="Mobile Preview 1"
              class="scaled-image"
            />
          </div>
        </div>
      </div>
      <div
        class="container features-container d-block d-sm-none"
        id="features-key-carousel-disktop"
        style="display:flex;align-items:center;width: 100%;justify-content: center;height: 100%;margin-top: 20px !important;margin-bottom: 30px !important"
      >
        <div
          id="carouselExampleIndicators"
          class="carousel slide feature-keys"
          data-ride="carousel"
          data-interval="5000"
          style="width: 100%;"
        >
          <ol class="carousel-indicators" style="display: none">
            <li
              data-target="#carouselExampleIndicators0"
              data-slide-to="0"
              class="active"
            >
            </li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="1">
            </li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="2">
            </li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="3">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-workflow-feature-key">
                <div>
                  <h6 class="heading-underline-feature-key">Qualified Leads</h6>
                  <p class="feature-key-p">
                    Collect valuable insights from your prospects through
                    interactive WhatsApp forms. Qualify leads accurately and
                    simplify lead attribution for better results.
                  </p>
                  <!-- <ul class="bullet-points">
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C">Instant Conversations</p>
                      </li>
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C;">Higher Conversions</p>
                      </li>
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C;">Seamless Integration</p>
                      </li>
                  </ul> -->
                </div>
                <div
                  class="whatsapp-flows-content-what-to-do"
                  style="width: 50%"
                >
                  <img
                    src="/whatsapp-business-api/images/Fquli leads@4x.webp"
                    alt="Mobile Preview 1"
                    class="scaled-image"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-workflow-feature-key">
                <div>
                  <h6 class="heading-underline-feature-key">
                    Appointment Booking
                  </h6>
                  <p class="feature-key-p">
                    Simplify appointment scheduling with interactive WhatsApp
                    forms. Streamline the process, reduce manual effort, and
                    ensure hassle-free booking for your customers.
                  </p>
                  <!-- <ul class="bullet-points">
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C">Automated Drip Campaigns</p>
                      </li>
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C">Customizable Intervals</p>
                      </li>
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C">Personalized Campaigns</p>
                      </li>
                  </ul> -->
                </div>
                <div
                  class="whatsapp-flows-content-what-to-do"
                  style="width: 50%"
                >
                  <img
                    src="/whatsapp-business-api/images/FAppoim@4x.webp"
                    alt="Mobile Preview 1"
                    class="scaled-image"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-workflow-feature-key">
                <div>
                  <h6 class="heading-underline-feature-key">
                    Collect Feedback
                  </h6>
                  <p class="feature-key-p">
                    Gather actionable feedback effortlessly with interactive
                    WhatsApp forms. Streamline the process and gain insights to
                    improve your offerings.
                  </p>
                  <!-- <ul class="bullet-points">
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C">Product Catalogs</p>
                      </li>
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C">Cart, Order Summary, and Checkout</p>
                      </li>
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C">WhatsApp Payments</p>
                      </li>
                  </ul> -->
                </div>
                <div
                  class="whatsapp-flows-content-what-to-do"
                  style="width: 50%"
                >
                  <img
                    src="/whatsapp-business-api/images/Fcollect@4x.webp"
                    alt="Mobile Preview 1"
                    class="scaled-image"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-workflow-feature-key">
                <div>
                  <h6 class="heading-underline-feature-key">
                    Event Registration
                  </h6>
                  <p class="feature-key-p">
                    Simplify event registration with interactive WhatsApp forms.
                    Collect attendee details seamlessly and ensure a hassle-free
                    signup process.
                  </p>
                  <!-- <ul class="bullet-points">
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C">Customizable Forms</p>
                      </li>
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C">Effortless Data Collection</p>
                      </li>
                      <li style="margin-bottom: 10px">
                          <p style="font-size: 14px; color: #8A919C">Real-Time Responses</p>
                      </li>
                  </ul> -->
                </div>
                <div style="width: 50%">
                  <img
                    src="/whatsapp-business-api/images/Fevent@4x.webp"
                    alt="Mobile Preview 1"
                    class="scaled-image"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-control-feature-key">
            <a
              href="#carouselExampleIndicators"
              role="button"
              data-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              href="#carouselExampleIndicators"
              role="button"
              data-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="price-info-broadcast d-none d-sm-block"
    style="margin-bottom: 150px"
  >
    <div id="features-id" class="container features-container">
      <div class="sections-col-container">
        <div class="memorable-experience-heading-container">
          <div class="heading-section-part1">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              WhatsApp Flow Builder
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2">
              Design WhatsApp workflows<br />
              <spam
                style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060"
                >with ease, just like Google Forms.</spam
              >
            </h6>
          </div>

          <div class="heading-section-part4">
            <div class="broadcast-info-cards-container-partner-cards">
              <div class="broadcast-info-cards-content"></div>
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  <spam style="font-weight: 500;color:#000000"
                    >Intuitive Interface:
                  </spam>Create JSON-based WhatsApp flows using a user-friendly
                  builder that feels as familiar as Google Forms.
                </p>
              </div>
            </div>
            <div class="broadcast-info-cards-container-partner-cards">
              <div class="broadcast-info-cards-content"></div>
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  <spam style="font-weight: 500;color:#000000"
                    >Customizable Workflows:
                  </spam>Tailor workflows to suit your business needs with
                  drag-and-drop simplicity and no coding required.
                </p>
              </div>
            </div>
            <div class="broadcast-info-cards-container-partner-cards">
              <div class="broadcast-info-cards-content"></div>
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  <spam style="font-weight: 500;color:#000000"
                    >Seamless Integration:
                  </spam>Connect your flows effortlessly with other tools and
                  features in your app for streamlined automation.
                </p>
              </div>
            </div>
          </div>

          <div class="sections-col-container"></div>
        </div>
        <div style="width: 50%;">
          <img
            src="/whatsapp-business-api/images/Fbuilder@4x.webp"
            alt="1"
            width="100%"
            height="100%"
            class="scaled-image"
          />
        </div>
      </div>

      <div class="sections-col-container">
        <div style="width: 60%;">
          <img
            src="/whatsapp-business-api/images/Fform response@4x.webp"
            alt="1"
            width="100%"
            height="100%"
            class="scaled-image"
          />
        </div>
        <div
          class="memorable-experience-heading-container-part-right"
          style="align-items: flex-end;padding-top: 0px"
        >
          <div class="heading-section-part1" style="background-color: #6366f1">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              Form Response Collection
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2" style="text-align: right">
              Access and manage<br />
              <spam
                style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060;text-align: right"
              >
                form responses directly in your app.</spam
              >
            </h6>
          </div>
          <div class="heading-section-part3">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
            >
              Simplify data collection with interactive WhatsApp forms. Capture
              responses in real-time and centralize all the information for easy
              management and actionable insights.
            </p>
          </div>
        </div>
      </div>

      <div class="sections-col-container">
        <div class="memorable-experience-heading-container">
          <div class="heading-section-part1" style="background-color: #14b8a6">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              Export Data in CSV
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2">
              Easily download your data<br />
              <spam
                style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060"
                >in a structured CSV format.</spam
              >
            </h6>
          </div>
          <div class="heading-section-part3">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
            >
              Export collected responses in a structured CSV format. Easily an-
              alyze, share, or integrate the data into your existing workflows
              for better decision-making.
            </p>
          </div>
        </div>
        <div style="width: 50%;">
          <img
            src="/whatsapp-business-api/images/Fexport@4x.webp"
            alt="1"
            width="100%"
            height="100%"
            class="scaled-image"
          />
        </div>
      </div>

      <div class="sections-col-container">
        <div style="width: 60%;">
          <img
            src="/whatsapp-business-api/images/Fwebhook@4x.webp"
            alt="1"
            width="100%"
            height="100%"
            class="scaled-image"
          />
        </div>
        <div
          class="memorable-experience-heading-container-part-right"
          style="align-items: flex-end;"
        >
          <div class="heading-section-part1" style="background-color: #f43f5e">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              Webhooks
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2" style="text-align: right">
              Real-time responses,<br />
              <spam
                style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060;text-align: right"
              >
                right where you need them.</spam
              >
            </h6>
          </div>
          <div class="heading-section-part3">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
            >
              Simplify data collection with interactive WhatsApp forms. Capture
              responses in real-time and centralize all the information for easy
              management and actionable insights.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="price-info-broadcast d-block d-sm-none">
    <div id="features-id" class="container features-container">
      <div class="sections-col-container">
        <div class="memorable-experience-heading-container">
          <div class="heading-section-part1">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              WhatsApp Flow Builder
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2">
              Design WhatsApp workflows<br />
              <spam
                style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060"
                >with ease, just like Google Forms.</spam
              >
            </h6>
          </div>

          <div class="heading-section-part4">
            <div class="broadcast-info-cards-container-partner-cards">
              <div class="broadcast-info-cards-content"></div>
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  <span style="font-weight: 500;color:#000000"
                    >Intuitive Interface:
                  </span>Create JSON-based WhatsApp flows using a user-friendly
                  builder that feels as familiar as Google Forms.
                </p>
              </div>
            </div>
            <div class="broadcast-info-cards-container-partner-cards">
              <div class="broadcast-info-cards-content"></div>
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  <span style="font-weight: 500;color:#000000"
                    >Seamless Integration:
                  </span>Connect your flows effortlessly with other tools and
                  features in your app for streamlined automation.
                </p>
              </div>
            </div>
            <div class="broadcast-info-cards-container-partner-cards">
              <div class="broadcast-info-cards-content"></div>
              <div>
                <p
                  style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
                >
                  <span style="font-weight: 500;color:#000000"
                    >Customizable Workflows:
                  </span>Tailor workflows to suit your business needs with
                  drag-and-drop simplicity and no coding required.
                </p>
              </div>
            </div>
          </div>
          <div class="sections-col-container"></div>
        </div>
        <div class="image-container-img-broadcast">
          <img
            src="/whatsapp-business-api/images/Fbuilder@4x.webp"
            alt="1"
            width="100%"
            height="100%"
            class="scaled-image"
          />
        </div>
      </div>

      <div class="sections-col-container">
        <div class="image-container-img-broadcast-part-2">
          <img
            src="/whatsapp-business-api/images/Fform response@4x.webp"
            alt="1"
            width="100%"
            height="100%"
            class="scaled-image"
          />
        </div>
        <div
          class="memorable-experience-heading-container-part-right"
          style="align-items: flex-end;"
        >
          <div class="heading-section-part1" style="background-color: #6366f1">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              Form Response Collection
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2-right">
              Access and manage<br />
              <spam
                style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060"
                >form responses directly in your app.</spam
              >
            </h6>
          </div>
          <div class="heading-section-part3">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem;text-align: left"
            >
              Simplify data collection with interactive WhatsApp forms. Capture
              responses in real-time and centralize all the information for easy
              management and actionable insights.
            </p>
          </div>

          <div class="sections-col-container"></div>
        </div>
        <div class="image-container-img-broadcast-part-2-mobile">
          <img
            src="/whatsapp-business-api/images/Fform response@4x.webp"
            alt="1"
            width="100%"
            height="100%"
            class="scaled-image"
          />
        </div>
      </div>

      <div class="sections-col-container">
        <div class="memorable-experience-heading-container">
          <div class="heading-section-part1" style="background-color: #14b8a6">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              Export Data in CSV
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2">
              Easily download your data
              <br />
              <spam
                style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060"
                >in a structured CSV format.</spam
              >
            </h6>
          </div>
          <div class="heading-section-part3">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
            >
              Export collected responses in a structured CSV format. Easily an-
              alyze, share, or integrate the data into your existing workflows
              for better decision-making.
            </p>
          </div>

          <div class="sections-col-container"></div>
        </div>
        <div class="image-container-img-broadcast">
          <img
            src="/whatsapp-business-api/images/Fexport@4x.webp"
            alt="1"
            width="100%"
            height="100%"
            class="scaled-image"
          />
        </div>
      </div>

      <div class="sections-col-container">
        <div class="image-container-img-broadcast-part-2">
          <img
            src="/whatsapp-business-api/images/Fwebhook@4x.webp"
            alt="1"
            width="100%"
            height="100%"
            class="scaled-image"
          />
        </div>
        <div
          class="memorable-experience-heading-container-part-right"
          style="align-items: flex-end;"
        >
          <div class="heading-section-part1" style="background-color: #f43f5e">
            <h5
              style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff"
            >
              Webhooks
            </h5>
          </div>
          <div class="heading-section-part2">
            <h6 class="broadcast-card-title-part2-right">
              Real-time responses,<br />
              <spam
                style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060"
                >right where you need them.</spam
              >
            </h6>
          </div>
          <div class="heading-section-part3">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem;text-align: left"
            >
              Simplify data collection with interactive WhatsApp forms. Capture
              responses in real-time and centralize all the information for easy
              management and actionable insights.
            </p>
          </div>

          <div class="sections-col-container"></div>
        </div>
        <div class="image-container-img-broadcast-part-2-mobile">
          <img
            src="/whatsapp-business-api/images/Fwebhook@4x.webp"
            alt="1"
            width="100%"
            height="100%"
            class="scaled-image"
          />
        </div>
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-80">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Can I integrate WhatsApp Flows with other tools?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, WhatsApp Flows can integrate with CRM systems,
                      payment gateways, and other business tools to streamline
                      operations.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Do WhatsApp Flows support multilingual interactions?</a
                    >
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can create flows in multiple languages to cater
                      to a diverse customer base.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Can I customize WhatsApp Flows for my business?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, flows are fully customizable to match your business
                      needs, allowing you to set triggers, responses, and
                      conditions for a personalized experience.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      What types of processes can be automated with WhatsApp
                      Flows?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Common processes include lead qualification, appointment
                      scheduling, payment reminders, customer feedback, and
                      onboarding workflows.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      How can I create a WhatsApp Flow?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      You can easily design a flow using a drag-and-drop flow
                      builder, enabling you to map out customer journeys without
                      any coding knowledge.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Can customers submit images or PDFs in a WhatsApp Flow?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, WhatsApp Flows support file uploads, allowing
                      customers to submit images, PDFs, or other documents as
                      part of the flow. This is especially useful for processes
                      like document verification or feedback collection.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->

  <PhoneApp />
</WhatsappLayout>

<script>
  // Tabs functionality
  // Tab switching functionality
  const tabs = document.querySelectorAll(".whatsapp-flows-tab");
  const contents = document.querySelectorAll(".whatsapp-flows-content");

  tabs.forEach((tab) => {
    tab.addEventListener("click", function () {
      // Remove active class from all tabs
      tabs.forEach((t) => t.classList.remove("whatsapp-flows-active"));
      this.classList.add("whatsapp-flows-active");

      // Hide all content
      contents.forEach((content) => content.classList.add("hidden"));

      // Show the clicked tab's content
      const target = document.getElementById(this.dataset.tab);
      target.classList.remove("hidden");
    });
  });
</script>
