---
import WhatsappLayout from "../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../public/whatsapp-business-api/css/payment.css";
import "../../../public/whatsapp-business-api/css/payment-reponsive.css";
import "../../../public/whatsapp-business-api/css/whatsapp-ecommorcetabs.css";
import "../../../public/whatsapp-business-api/css/sharedinbox.css";
import LogoStrips from "../../components/LogoStrips.astro";
import PhoneApp from "../../components/PhoneApp.astro";

const metaTitle = "WhatsApp Payments Integration | Collect Payments Easily";
const metaDescription =
  "Accept payments directly via WhatsApp using Emovur’s secure integrations. Perfect for COD, UPI, and instant checkout.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/whatsapp-payments";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <a
        href="https://www.facebook.com/business/partner-directory/search?solution_type=messaging&ref=pd_home_hero_cta&id=7961305477248043&section=overview"
        target="_blank"
        class="meta-class-broadcast"
        ><span id="lp-mtp-btn">WhatsApp Payments</span></a
      ><br />

      <h6
        class="broadcast-heading-title-ecommorce"
        style="font-size: 4.9rem;font-family: Roboto, sans-serif;font-weight: 600;color:#000000;line-height: 4.9rem"
      >
        Collect Payments
      </h6>
      <!-- <h6 style="font-size: 2.9rem;font-family: Roboto, sans-serif;font-weight: 600;color:#000000">online store</h6> -->
      <h6
        class="broadcast-heading-title-ecommorce-on-whatsapp"
        style="font-size: 3.9rem"
      >
        on WhatsApp
      </h6>
      <p
        style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
      >
        Simplify how you get paid with WhatsApp. No redirects, no hassle -just
        instant, smooth transactions for you and your customers.
      </p>
      <div class="tag-class">
        <div>
          <img
            src="/whatsapp-business-api/images/Green tick.svg"
            alt="Green Tick"
            style="width: 15px"
          /> Blue tick
        </div>
        <div>
          <img
            src="/whatsapp-business-api/images/No Markup.svg"
            alt="No Markup"
            style="width: 15px"
          /> No Markup
        </div>
      </div>
      <div class="btn-class">
        <a
          href="https://admin.emovur.com/auth/register"
          target="_blank"
          class="svg-link svg-link-white"
        >
          <button class="schedule-btn-one theme-btn" id="lp-sft-btn">
            Start Free Trial
          </button>
        </a>
        <a href="/whatsapp-business-api/book-demo" target="_blank">
          <button class="schedule-btn theme-btn" id="lp-demo-btn">
            Book 1-1 Demo
          </button>
        </a>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page"
        src="/whatsapp-business-api/images/Ptitle@4x.webp"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>
  <!-- Landing form section ends -->

  <div id="features-id" class="container features-container">
    <div class="memorable-experience-heading-container-cards-parts">
      <div class="heading-container" style="text-align: center">
        <h6
          class="heading-container-payments-title"
          style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 3rem"
        >
          <span style="font-weight:300">End-to-End Shopping Experience</span><br
          />Browse, Cart, and Pay on WhatsApp
        </h6>
        <span
          class="heading-underline experience-heading-underline d-none d-sm-inline"
        ></span>
      </div>
    </div>

    <div class="sections-col-container">
      <div class="memorable-experience-heading-container">
        <!-- <div class="heading-section-part1">
                <h5 style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff">
                    WhatsApp Flow Builder</h5>
            </div> -->
        <div class="heading-section-part2">
          <h6 class="broadcast-card-title-part2 d-none d-sm-block">
            <spam
              style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060"
            >
              Make</spam
            ><br />Payment <spam style="color:#0c9ffa">Request</spam>
          </h6>
          <h6
            class="broadcast-card-title-part2 d-block d-sm-none"
            style="text-align: center !important"
          >
            <spam
              style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060;"
            >
              Make</spam
            > Payment <spam style="color:#0c9ffa">Request</spam>
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Easily send payment requests directly within WhatsApp, creating a
            seamless experience for both you and your customers.
          </p>
        </div>

        <div class="sections-col-container"></div>
      </div>
      <div class="tabs-contents-container-main-part-text" style="width: 50%;">
        <img
          src="/whatsapp-business-api/images/Prequest@4x.webp"
          alt="1"
          width="100%"
          height="100%"
          class="scaled-image"
        />
      </div>
    </div>
    <div class="sections-col-container d-none d-sm-flex">
      <div style="width: 60%;">
        <img
          src="/whatsapp-business-api/images/Ppays@4x.webp"
          alt="1"
          width="100%"
          height="100%"
          class="scaled-image"
        />
      </div>
      <div
        class="memorable-experience-heading-container-part-right"
        style="align-items: flex-end;padding-top: 0px"
      >
        <!-- <div class="heading-section-part1" style="background-color: #6366f1">
                <h5 style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff">
                    Form Response Collection</h5>
            </div> -->
        <div class="heading-section-part2">
          <h6
            class="broadcast-card-title-part2 d-none d-sm-block"
            style="text-align: right"
          >
            Customer <spam style="color: #14b8a6"> pays natively</spam><br />
            <spam
              style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060;text-align: right"
            >
              On WhatsApp</spam
            >
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Allow customers to complete payments securely and effortlessly
            within the WhatsApp chat, without the need for external links.
          </p>
        </div>
      </div>
    </div>

    <div class="sections-col-container d-block d-sm-none">
      <div class="memorable-experience-heading-container">
        <!-- <div class="heading-section-part1">
                <h5 style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff">
                    WhatsApp Flow Builder</h5>
            </div> -->
        <div class="heading-section-part2">
          <h6
            class="broadcast-card-title-part2 d-block d-sm-none"
            style="text-align: center !important"
          >
            <spam
              style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060;"
            >
              Customer</spam
            >
            <spam style="color: #14b8a6"> pays natively </spam><br /> On WhatsApp
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Allow customers to complete payments securely and effortlessly
            within the WhatsApp chat, without the need for external links.
          </p>
        </div>

        <div class="sections-col-container"></div>
      </div>
      <div class="tabs-contents-container-main-part-text" style="width: 50%;">
        <img
          src="/whatsapp-business-api/images/Ppays@4x.webp"
          alt="1"
          width="100%"
          height="100%"
          class="scaled-image"
        />
      </div>
    </div>

    <div class="sections-col-container">
      <div class="memorable-experience-heading-container">
        <!-- <div class="heading-section-part1">
                <h5 style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff">
                    WhatsApp Flow Builder</h5>
            </div> -->
        <div class="heading-section-part2">
          <h6 class="broadcast-card-title-part2 d-none d-sm-block">
            Unified <spam style="color:#f43f5e">Dashboard</spam><br />
            <spam
              style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060"
            >
              for Payment Insights</spam
            >
          </h6>
          <h6
            class="broadcast-card-title-part2 d-block d-sm-none"
            style="text-align: center !important"
          >
            <spam
              style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060;"
            >
              Unified</spam
            > Dashboard <spam style="color:#f43f5e">for Payment Insights</spam>
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Track all payment activities, including requests and statuses, in
            one streamlined dashboard for better financial management.
          </p>
        </div>

        <div class="sections-col-container"></div>
      </div>
      <div class="tabs-contents-container-main-part-text" style="width: 50%;">
        <img
          src="/whatsapp-business-api/images/PDashboard@4x.webp"
          alt="1"
          width="100%"
          height="100%"
          class="scaled-image"
        />
      </div>
    </div>

    <div class="sections-col-container d-none d-sm-flex">
      <div style="width: 60%;">
        <video class="fade-in" width="100%" height="440" autoplay muted loop>
          <source src="./assets/catalogDash.mp4" type="video/mp4" />
        </video>
      </div>
      <div
        class="memorable-experience-heading-container-part-right"
        style="padding-top: 0px"
      >
        <!-- <div class="heading-section-part1" style="background-color: #6366f1">
                <h5 style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff">
                    Form Response Collection</h5>
            </div> -->
        <div class="heading-section-part2">
          <h6 class="broadcast-card-title-part2">
            <spam style="color: #0c9ffa"> Natively</spam> integrates <br />
            <spam
              style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060;font-size: 2.6rem"
            >
              with WhatsApp Catalogue</spam
            >
          </h6>
        </div>
        <div class="heading-section-part3" style="text-align: start">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Effortlessly connect payments with your WhatsApp catalog to deliver
            a unified shopping and payment experience-all in one place.
          </p>
        </div>
      </div>
    </div>

    <div class="sections-col-container d-block d-sm-none">
      <div class="memorable-experience-heading-container">
        <!-- <div class="heading-section-part1">
                <h5 style="font-family: Roboto, sans-serif;font-weight: 400;font-size: 1.2rem;color: #fff">
                    WhatsApp Flow Builder</h5>
            </div> -->
        <div class="heading-section-part2">
          <h6 class="broadcast-card-title-part2">
            <spam style="color: #0c9ffa"> Natively</spam> integrates
            <spam
              style="font-weight: 300;font-family: Roboto, sans-serif;color:#606060"
            >
              with WhatsApp Catalogue</spam
            >
          </h6>
        </div>
        <div class="heading-section-part3">
          <p
            style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
          >
            Effortlessly connect payments with your WhatsApp catalog to deliver
            a unified shopping and payment experience-all in one place.
          </p>
        </div>

        <div class="sections-col-container"></div>
      </div>
      <div class="tabs-contents-container-main-part-text" style="width: 50%;">
        <video class="fade-in" width="100%" height="440" autoplay muted loop>
          <source src="./assets/catalogDash.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>

  <div
    id="features-id"
    class="container features-container-payment-gateway"
    style="margin-top: 200px"
  >
    <div class="payment-gatway-choice">
      <div class="position-relative-img">
        <div class="heading-container-payments">
          <img
            src="/whatsapp-business-api/images/Pbuss choice@4x.webp"
            alt="1"
            width="96%"
            height="520px"
            class="heading-container-payments-img"
          />

          <h3
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 3rem;margin-bottom:15px"
          >
            <span style="font-weight:300">Payment Gateway of </span><br />
            <spam style="color: #0c9ffa">Customers Choice</spam>
          </h3>
          <div class="heading-section-part3" style="text-align: start">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
            >
              WhatsApp Business API lets you integrate your preferred payment
              gateway, ensuring your business operates smoothly with the
              solution you trust.
            </p>
          </div>
          <h6 style="margin-top: 20px">
            Razorpay, PayU, Bill Desk, ZaakPay & More
          </h6>
        </div>
      </div>
      <div class="position-relative-img">
        <div class="heading-container-payments-2">
          <img
            src="/whatsapp-business-api/images/Ppayment@4x.webp"
            alt="1"
            class="heading-container-payments-img"
          />

          <h3
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 3rem;margin-bottom:15px"
          >
            <span style="font-weight:300">Payment Method of </span><br />
            <spam style="color: #20af38">Business's Choice</spam>
          </h3>
          <div class="heading-section-part3" style="text-align: start">
            <p
              style="font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.2rem;line-height: 1.5rem"
            >
              Provide a seamless experience by allowing customers to use their
              preferred payment methods directly within WhatsApp chats.
            </p>
          </div>
          <h6 style="margin-top: 20px">
            UPI, Net banking, Cards, Wallet & More
          </h6>
        </div>
      </div>
    </div>

    <div
      id="features-id"
      class="container features-container"
      style="padding-top: 100px"
    >
      <div class="memorable-experience-heading-container-cards-parts-why">
        <div class="heading-container" style="text-align: center">
          <h6
            class="why-whatsapp-payments"
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 600; font-size: 3rem"
          >
            <spam style="color: #0c9ffa">Why</spam> WhatsApp Payments?
          </h6>
          <span
            class="heading-underline experience-heading-underline d-none d-sm-inline"
          ></span>
        </div>
      </div>
      <div class="organisation-part-container" style="margin-bottom: 20px">
        <div class="organisation-part">
          <img
            src="/whatsapp-business-api/images/Psimpli@4x.webp"
            alt="Whatsapp Landing Page"
            width="40px"
            height="40px"
            style="margin-bottom: 10px"
          />
          <h6
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.5rem"
          >
            Simplified Transactions
          </h6>
          <p
            style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem;line-height: 1.5"
          >
            WhatsApp Payments integrates into your chat flow, letting customers
            make payments directly within the conversation.
          </p>
        </div>
        <div class="organisation-part">
          <img
            src="/whatsapp-business-api/images/Pconvinc@4x.webp"
            alt="Whatsapp Landing Page"
            width="40px"
            height="40px"
            style="margin-bottom: 10px"
          />
          <h6
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400;font-size: 1.5rem"
          >
            Convenience Redefined
          </h6>
          <p
            style="font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem; line-height: 1.5rem"
          >
            Customers already love WhatsApp. With payments built-in, transacting
            becomes even easier for them.
          </p>
        </div>
      </div>
      <div class="organisation-part-container">
        <div class="organisation-part">
          <img
            src="/whatsapp-business-api/images/PTrust@4x.webp"
            alt="Whatsapp Landing Page"
            width="40px"
            height="40px"
            style="margin-bottom: 10px"
          />
          <h6
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400; font-size: 1.5rem"
          >
            Trusted Reliability
          </h6>
          <p
            style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem;line-height: 1.5"
          >
            Backed by WhatsApp's robust infrastructure, payments are secure,
            fast, and build customer trust.
          </p>
        </div>
        <div class="organisation-part">
          <img
            src="/whatsapp-business-api/images/PEffic@4x.webp"
            alt="Whatsapp Landing Page"
            width="55px"
            height="40px"
            style="margin-bottom: 10px"
          />
          <h6
            style="color: #000000 !important; font-family: Roboto, sans-serif; font-weight: 400;font-size: 1.5rem"
          >
            Operational Efficiency
          </h6>
          <p
            style=" font-family: Roboto, sans-serif; font-weight: 300; font-size: 1rem; line-height: 1.5rem"
          >
            Automate reminders, confirmations, and receipts in chat, saving time
            and reducing errors.
          </p>
        </div>
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-80">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Is WhatsApp Payments secure?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, WhatsApp Payments is highly secure, using encryption
                      and adhering to industry-standard payment security
                      protocols to protect transactions and customer data.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I accept payments from customers in different
                      countries?</a
                    >
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      WhatsApp Payments availability and cross-border
                      functionality depend on your region and the payment
                      provider integration.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      What payment methods are supported?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      WhatsApp Payments supports a variety of payment methods,
                      including UPI, credit/debit cards, and digital wallets,
                      depending on your integration.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Do I need a separate payment gateway for WhatsApp
                      Payments?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you’ll need to integrate with a payment gateway
                      provider supported by WhatsApp to enable payment
                      processing.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Is WhatsApp Payments suitable for small transactions?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, WhatsApp Payments is ideal for both small and large
                      transactions, making it versatile for various business
                      needs.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Can I send payment reminders through WhatsApp?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, you can automate payment reminders to notify
                      customers of due or pending payments, ensuring timely
                      collections.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <PhoneApp />

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->
</WhatsappLayout>
