---
import WhatsappLayout from "../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../public/whatsapp-business-api/css/education.css";
import LogoStrips from "../../components/LogoStrips.astro";
import PhoneApp from "../../components/PhoneApp.astro";

const metaTitle = "WhatsApp Chatbot for EdTech | Automate Student Engagement";
const metaDescription =
  "Boost enrollments and automate FAQs with Emovur’s WhatsApp chatbot built for educational institutions.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/whatsapp-chatbot-for-edutech";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <a target="_blank" class="meta-class-broadcast"
        ><span id="lp-mtp-btn">Education</span></a
      ><br />
      <h3 style="font-size: 2.9rem;color:#25D366;margin-bottom: 5px">
        37% increase
      </h3>
      <h6 style="font-size: 2.9rem">in student enrollment</h6>
      <div class="education-main-paragraph">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Send tailored reminders for tests, fee payments, results, and more.
        </p>
      </div>
      <div class="education-main-paragraph">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Enhance education's accessibility, affordability, and flexibility for
          students.
        </p>
      </div>
      <div class="tag-class">
        <div>
          <img
            src="/whatsapp-business-api/images/Green tick.svg"
            alt="Green Tick"
            style="width: 15px"
          /> Blue tick
        </div>
        <div>
          <img
            src="/whatsapp-business-api/images/No Markup.svg"
            alt="No Markup"
            style="width: 15px"
          /> No Markup
        </div>
      </div>
      <div class="btn-class">
        <a
          href="https://admin.emovur.com/auth/register"
          target="_blank"
          class="svg-link svg-link-white"
        >
          <button class="schedule-btn-one theme-btn" id="lp-sft-btn">
            Start Free Trial
          </button>
        </a>
        <a href="/whatsapp-business-api/book-demo" target="_blank">
          <button class="schedule-btn theme-btn" id="lp-demo-btn">
            Book 1-1 Demo
          </button>
        </a>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page"
        src="/whatsapp-business-api/images/education-hero.png"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>
  <!-- Landing form section ends -->

  <!-- strip start -->
  <div class="strip-page" style="padding-top: 140px;">
    <div class="container">
      <div class="strip-page-main">
        <img
          class="strip-page-main-img"
          src="/whatsapp-business-api/images/stripmain-img.png"
          alt="strip page main"
          style="width: 20%"
        />
        <div class="strip-page-part-1"></div>
        <div class="strip-page-part-2">
          <div class="strip-contant-part">
            <h3 style="text-align:center;color:#0c9ffa">60%</h3>
            <p style="text-align:center">
              reduction in manual<br />
              intervention and<br /> redundancies.
            </p>
          </div>
          <div class="strip-contant-part">
            <h3 style="text-align:center;color:#0c9ffa">50%</h3>
            <p style="text-align:center">
              cut in costs and efforts<br /> with automated<br /> admissions.
            </p>
          </div>
          <div class="strip-contant-part">
            <h3 style="text-align:center;color:#0c9ffa">40%</h3>
            <p style="text-align:center">
              of student interactions<br /> managed through<br /> WhatsApp
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="strip-page" style="padding-top: 100px;">
    <div class="container">
      <div class="brands-main">
        <h6 style="font-weight:300;font-size:2rem">Edutech brands</h6>
        <img src="/whatsapp-business-api/images/Frame.svg" alt="heart" style="width:25px" />
        <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">Emovur</h6>
      </div>
      <div class="brands-logo">
        <img src="/whatsapp-business-api/images/llr.svg" alt="heart" style="width:200px" />
        <img src="/whatsapp-business-api/images/udemy.svg" alt="heart" style="width:200px" />
        <img src="/whatsapp-business-api/images/kle.svg" alt="heart" style="width:200px" />
        <img src="/whatsapp-business-api/images/corsera.svg" alt="heart" style="width:200px" />
        <img src="/whatsapp-business-api/images/jain.svg" alt="heart" style="width:200px" />
      </div>
    </div>
  </div> -->

  <!-- section starts -->
  <div class="section-page" style="padding-top: 100px;">
    <div class="container">
      <div class="brands-main">
        <h6 style="font-weight:300;font-size:2rem">How</h6>
        <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">
          Emovur can help
        </h6>
        <h6 style="font-weight:300;font-size:2rem">you!</h6>
      </div>
      <div>
        <div class="section-page-main">
          <div class="section-page-main-1">
            <img
              class="section-main-img d-none d-sm-block"
              src="/whatsapp-business-api/images/section-phone-1.png"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
            <div class="section-page-main-1-contant">
              <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">
                Capture Student Interest
              </h6>
              <h6 style="font-weight:300;font-size:2rem">
                with Engaging Ad Campaigns
              </h6>
              <!-- First Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Click to WhatsApp Ads</h6>
                  <p class="hover-description">
                    Use Click-to-WhatsApp ads to invite<br /> prospective students
                    for conversations.
                  </p>
                </div>
              </div>
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Pre-qualify leads</h6>
                  <p class="hover-description">
                    Use Click-to-WhatsApp ads to invite<br /> prospective students
                    for conversations.
                  </p>
                </div>
              </div>
            </div>
            <img
              class="section-main-img d-block d-sm-none"
              src="/whatsapp-business-api/images/section-phone-1.png"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
          </div>
        </div>
      </div>

      <div>
        <div class="section-page-main">
          <div class="section-page-main-1">
            <div class="section-page-main-1-contant">
              <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">
                Nudge them towards enrollment
              </h6>
              <h6 style="font-weight:300;font-size:2rem">
                with interactive conversations
              </h6>
              <!-- First Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Engage leads</h6>
                  <p class="hover-description">
                    Engage leads with personalized, interactive<br />
                    conversations to spark interest.
                  </p>
                </div>
              </div>
              <!-- Second Div -->
              <div
                class="hover-container"
                style="margin-top:20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Guide prospects</h6>
                  <p class="hover-description">
                    Use Click-to-WhatsApp ads to invite<br /> prospective students
                    for conversations.
                  </p>
                </div>
              </div>
            </div>
            <img
              class="section-main-img"
              src="/whatsapp-business-api/images/nudge.png"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
          </div>
        </div>
      </div>

      <div>
        <div class="section-page-main">
          <div class="section-page-main-1">
            <img
              class="section-main-img d-none d-sm-block"
              src="/whatsapp-business-api/images/engegaed.png"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
            <div class="section-page-main-1-contant">
              <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">
                Keep students engaged
              </h6>
              <h6 style="font-weight:300;font-size:2rem">
                throughout their course
              </h6>
              <!-- First Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Maintain student interest</h6>
                  <p class="hover-description">
                    Maintain student interest with timely updates and<br />
                    personalized messages.
                  </p>
                </div>
              </div>
              <!-- Second Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Interactive content and reminders</h6>
                  <p class="hover-description">
                    Use Click-to-WhatsApp ads to invite<br /> prospective students
                    for conversations.
                  </p>
                </div>
              </div>
            </div>
            <img
              class="section-main-img d-block d-sm-none"
              src="/whatsapp-business-api/images/engegaed.png"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
          </div>
        </div>
      </div>

      <div>
        <div class="section-page-main">
          <div class="section-page-main-1">
            <div class="section-page-main-1-contant">
              <h6 style="font-weight:500;font-size:2rem;color:#0c9ffa">
                Resolve queries swiftly using
              </h6>
              <h6 style="font-weight:300;font-size:2rem">
                interactive messages and automations.
              </h6>

              <!-- First Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Address student queries</h6>
                  <p class="hover-description">
                    Address student queries instantly with automated <br />
                    interactive messages.
                  </p>
                </div>
              </div>

              <!-- Second Div -->
              <div
                class="hover-container"
                style="margin-top: 20px;margin-left: 40px;"
              >
                <div class="color-sectiopn-animation-bar"></div>
                <div>
                  <h6 class="hover-title">Streamline query resolution</h6>
                  <p class="hover-description">
                    Use Click-to-WhatsApp ads to invite<br /> prospective students
                    for conversations.
                  </p>
                </div>
              </div>
            </div>

            <img
              class="section-main-img"
              src="/whatsapp-business-api/images/resolve.png"
              alt="section-page-1"
              style="width: 30%;display:flex;justify-content:center"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- cards section starts -->
  <div class="cards-section" style="padding-top: 100px;">
    <div class="container-cards-section">
      <div class="brands-main" style="margin-bottom: 15px">
        <h6 style="font-size:1.7rem; margin-bottom: 15px;">
          <span style="font-weight:300;">Why Choose </span>
          <span style="font-weight:500; color:#000000;">WhatsApp </span>
          <span style="font-weight:300;">for </span>
          <span style="font-weight:500; color:#000000;">EdTech</span>
        </h6>
      </div>
      <div class="brands-main">
        <h6 style="font-weight:500;font-size:1.3rem;color:#20B038">
          Proven Success in Education Technology
        </h6>
      </div>
      <div class="card-section-cards-part-1">
        <div class="card-section-contents">
          <img
            src="/whatsapp-business-api/images/1-card-section-img.svg"
            alt="section-page-1"
            style="width: 30px;"
          />
          <p>Boost Enrollment Rates</p>
        </div>
        <div class="card-section-contents">
          <img
            src="/whatsapp-business-api/images/1-card-section-img.svg"
            alt="section-page-1"
            style="width: 30px;"
          />
          <p>Streamline Onboarding & Admissions</p>
        </div>
        <div class="card-section-contents">
          <img
            src="/whatsapp-business-api/images/1-card-section-img.svg"
            alt="section-page-1"
            style="width: 30px;"
          />
          <p>Deliver Instant Support</p>
        </div>
      </div>
    </div>
  </div>
  <!-- cards section ends -->

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-80">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Is mobile APP Available?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">Yes, its avaliable</p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I assign conversations to specific team members?
                    </a>
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, conversations can be easily assigned to specific team
                      members to ensure accountability and efficient resolution.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Which communication channels can be integrated into the
                      Shared Team Inbox?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      You can integrate channels like WhatsApp, email, Facebook
                      Messenger, Instagram, and more into the Shared Team Inbox.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Does the Shared Team Inbox support automation?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the inbox supports automated workflows, such as
                      assigning chats based on keywords, sending instant
                      replies, and setting up chatbot responses.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Can multiple team members work on the same conversation?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, multiple team members can collaborate on a
                      conversation in real-time, with notes and updates visible
                      to everyone.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Is the Shared Team Inbox suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the feature is designed to scale with your business,
                      making it ideal for teams of all sizes, from small
                      startups to large enterprises.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <PhoneApp />

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->
</WhatsappLayout>
