---
import Layout from "../layouts/Layout.astro";

const metaTitle = "About Us | Emovur – Your Hyperlocal Growth Partner";
const metaDescription =
  "Emovur is a digital marketing agency focused on hyperlocal growth. Discover our mission, team, and how we help brands connect with local audiences and scale with impact.";
const canonicalUrl = "https://emovur.com/about-us";
const keywords =
  "about emovur, meet the team, digital marketing experts, our story, company profile.";
---

<Layout
  title={metaTitle}
  headerType="main"
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- 
			=============================================
				Inner Banner
			============================================== 
			-->
  <div class="text-inner-banner-one pos-r">
    <div class="shape-wrapper">
      <svg class="img-shape shape-one">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 223, 204)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-two">
        <path
          fill-rule="evenodd"
          fill="rgb(182, 255, 234)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-three">
        <path
          fill-rule="evenodd"
          fill="rgb(181, 198, 255)"
          d="M12.000,24.000 C18.627,24.000 24.000,18.627 24.000,12.000 C24.000,5.372 18.627,-0.000 12.000,-0.000 C5.372,-0.000 -0.000,5.372 -0.000,12.000 C-0.000,18.627 5.372,24.000 12.000,24.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-four">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 156, 161)"
          d="M7.500,15.000 C11.642,15.000 15.000,11.642 15.000,7.500 C15.000,3.358 11.642,-0.000 7.500,-0.000 C3.358,-0.000 -0.000,3.358 -0.000,7.500 C-0.000,11.642 3.358,15.000 7.500,15.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-five">
        <path
          fill-rule="evenodd"
          fill="rgb(178, 236, 255)"
          d="M12.500,25.000 C19.403,25.000 25.000,19.403 25.000,12.500 C25.000,5.596 19.403,-0.000 12.500,-0.000 C5.596,-0.000 -0.000,5.596 -0.000,12.500 C-0.000,19.403 5.596,25.000 12.500,25.000 Z"
        ></path>
      </svg>
    </div>
    <!-- /.shape-wrapper -->
    <div class="container">
      <nav aria-label="breadcrumb">
        <p>
          <span class="breadcrumb-item"><a href="/">Home</a></span>
          <span class="breadcrumb-item active" aria-current="page"
            >About us</span
          >
        </p>
      </nav>
      <h1 class="pt-30 pb-15" style=" font-size:60px;">
        Discover Digital Solutions
      </h1> Tailored For Your Business
    </div>
    <!-- <p class="sub-heading">From a team of passionate creators working side-by-side with our partners to deliver engaging digital and physical campaigns.</p> -->
  </div>

  <!-- 
			=============================================
				Feature Block
			============================================== 
			-->
  <div class="about-feature pos-r pb-vh-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="feature-block-two md-mb-40 text-center">
            <img src="images/icon/icon12.svg" alt="" class="icon" />
            <h5 class="pt-25 pb-35">Mission</h5>
            <p>
              The curve of adoption of technology isn’t that exponential as the
              curve of development of technology. We are doing our bit in
              helping small and medium businesses adopt the latest and more
              optimized solutions.
            </p>
          </div>
          <!-- /.feature-block-two -->
        </div>
        <!-- /.col- -->

        <div class="col-lg-4 col-sm-6">
          <div class="feature-block-two md-mb-40 text-center">
            <img src="images/icon/icon11.svg" alt="" class="icon" />
            <h5 class="pt-25 pb-35">About Us</h5>
            <p>
              Emovur is a website development and digital marketing partner for
              small and medium businesses. We craft a unique experience for your
              customers that outsells and outshines your competition online.
            </p>
          </div>
          <!-- /.feature-block-two -->
        </div>
        <!-- /.col- -->

        <div class="col-lg-4 col-sm-6">
          <div class="feature-block-two md-mb-40 text-center">
            <img src="images/icon/icon13.svg" alt="news-icon" class="icon" />
            <h5 class="pt-25 pb-35">Culture</h5>
            <p>
              Emovur continually seeks new ways to build a workforce that is
              diverse, inclusive and humble. We inspire trust and foster an
              ethical culture where every individual can thrive and climb the
              career ladder.
            </p>
          </div>
          <!-- /.feature-block-two -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
  </div>

  <!-- 
			=============================================
				Achivement Section
			============================================== 
			-->
  <div class="achivement-section pt-300 pb-200 md-pt-130 md-pb-150 pos-r">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 order-lg-last">
          <div class="theme-title-one">
            <div class="upper-title mb-5">We are</div>
            <h2 style="font-size:55px" class="main-title underline">
              Reliable<br />Capable<br />Supportive
            </h2>
          </div>
          <!-- /.theme-title-one -->
          <p class="pt-55">
            Every single project is an opportunity to demonstrate our
            capabilities. We have been doing our best and have been providing
            reliable support since emovur’s inception. This has helped us earn
            credibility among our clients.
          </p>
        </div>

        <div class="col-lg-6 offset-lg-1 order-lg-first">
          <div
            class="theme-counter-one pos-r md-mt-100 md-mb-110 sm-mt-60 sm-mb-10"
          >
            <div class="shape-wrapper">
              <img
                src="images/shape/45.svg"
                alt=""
                class="shape-one img-shape"
              />
              <img
                src="images/shape/4.svg"
                alt=""
                class="shape-two img-shape"
              />
              <img
                src="images/shape/23.svg"
                alt=""
                class="shape-three img-shape"
              />
              <img
                src="images/shape/9.svg"
                alt=""
                class="shape-four img-shape"
              />
              <img
                src="images/shape/17.svg"
                alt=""
                class="shape-five img-shape"
              />
              <img
                src="images/shape/24.svg"
                alt=""
                class="shape-six img-shape"
              />
              <img
                src="images/shape/25.svg"
                alt=""
                class="shape-seven img-shape"
              />
            </div>
            <div class="inner-round-shape pos-r">
              <div class="counter-box-one pos-a">
                <h2 class="number color-one" style="font-size: 50px;">
                  <span
                    class="timer"
                    data-from="0"
                    data-to="2018"
                    data-speed="1200"
                    data-refresh-interval="5">0</span
                  >
                </h2>
                <p>Founded</p>
              </div>
              <!-- /.counter-box-one -->
              <div class="counter-box-one pos-a">
                <h2 class="number color-two" style="font-size: 50px;">
                  <span
                    class="timer"
                    data-from="0"
                    data-to="331"
                    data-speed="1200"
                    data-refresh-interval="5">0</span
                  >
                </h2>
                <p>Cups of Coffee</p>
              </div>
              <!-- /.counter-box-one -->
              <div class="counter-box-one pos-a">
                <h2 class="number color-three" style="font-size: 50px;">
                  <span
                    class="timer"
                    data-from="0"
                    data-to="11"
                    data-speed="1200"
                    data-refresh-interval="5">0</span
                  >
                </h2>
                <p>Team Size</p>
              </div>
              <!-- /.counter-box-one -->
              <div class="counter-box-one pos-a">
                <h2 class="number color-four" style="font-size: 50px;">
                  <span
                    class="timer"
                    data-from="0"
                    data-to="40"
                    data-speed="1200"
                    data-refresh-interval="5">0</span
                  >
                </h2>
                <p>Projects</p>
              </div>
              <!-- /.counter-box-one -->
              <div class="center-shape pos-a">
                <img src="images/shape/44.svg" alt="" />
              </div>
            </div>
            <!-- /.inner-round-shape -->
          </div>
          <!-- /.theme-counter-one -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.achivement-section -->

  <!--
			=====================================================
				Testimonial
			=====================================================
			-->
  <div class="apps-testimonial rogan-hero-section pos-r pt-vh-20 pb-vh-20">
    <div class="shape-wrapper">
      <svg class="img-shape shape-two">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 223, 204)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.313 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.313 2.686,12.000 6.000,12.000 Z"
        >
        </path>
      </svg>
      <svg class="img-shape shape-four">
        <path
          fill-rule="evenodd"
          opacity="0.451"
          fill="rgb(255, 126, 190)"
          d="M10.000,20.000 C15.523,20.000 20.000,15.522 20.000,10.000 C20.000,4.477 15.523,-0.000 10.000,-0.000 C4.477,-0.000 -0.000,4.477 -0.000,10.000 C-0.000,15.522 4.477,20.000 10.000,20.000 Z"
        >
        </path>
      </svg>
      <svg class="img-shape shape-five">
        <path
          fill-rule="evenodd"
          fill="rgb(181, 198, 255)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.313 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.313 2.686,12.000 6.000,12.000 Z"
        >
        </path>
      </svg>
      <svg class="img-shape shape-six">
        <path
          fill-rule="evenodd"
          fill="rgb(171, 247, 242)"
          d="M12.500,25.000 C19.404,25.000 25.000,19.403 25.000,12.500 C25.000,5.596 19.404,-0.000 12.500,-0.000 C5.596,-0.000 -0.000,5.596 -0.000,12.500 C-0.000,19.403 5.596,25.000 12.500,25.000 Z"
        >
        </path>
      </svg>
    </div>
    <div class="d-shape" data-aos="fade-right" data-aos-duration="2000">D</div>
    <div class="u-shape" data-aos="fade-left" data-aos-duration="2000">U</div>

    <div class="container">
      <div class="theme-title-one">
        <div class="upper-title mb-5 color-orange">TESTIMONIALS</div>
        <h2 class="main-title">Our Customers</h2><i>Feedback.</i>
      </div>
    </div>
    <!-- /.theme-title-one -->
    <div class="customer-slider">
      <div class="item">
        <div class="customer-block">
          <p>
            Nowadays I just draft my requirements and I believe it’s done. So
            far, these guys have always crossed my expectations.
          </p>
          <div class="clearfix">
            <img
              class="testimonial-logo"
              src="images/logo/digitalbruno.jpeg"
              alt="emovur"
            />
            <img src="images/home/bruno.jpeg" alt="" class="customer-img" />
            <div class="customer-info">
              <h5 class="name">Bruno</h5>
              <span>- BrunoDigital</span>
            </div>
            <!-- /.customer-info -->
          </div>
        </div>
        <!-- /.customer-block -->
      </div>
      <!-- /.item -->
      <div class="item">
        <div class="customer-block">
          <p>
            My requirements were well-drafted by Emovur than I myself could do,
            this is what made me chose them and I am happy with them.
          </p>
          <div class="clearfix">
            <img
              class="testimonial-logo"
              src="images/logo/copywriters.jpeg"
              alt="emovur"
            />
            <img src="images/home/wyn.jpeg" alt="" class="customer-img" />
            <div class="customer-info">
              <h5 class="name">Wyn John Wright</h5>
              <span>- e-copywritersplus</span>
            </div>
            <!-- /.customer-info -->
          </div>
        </div>
        <!-- /.customer-block -->
      </div>
      <!-- /.item -->

      <div class="item">
        <div class="customer-block">
          <p>
            The solutions they offer are simple, effective and serves the
            purpose. Their pricing is competitive and they deserve it.
          </p>
          <div class="clearfix">
            <img
              class="testimonial-logo"
              src="images/logo/surakshaa.jpeg"
              alt="emovur"
            />
            <img src="images/home/sudhakar.jpeg" alt="" class="customer-img" />
            <div class="customer-info">
              <h5 class="name">Sudhakar</h5>
              <span>- Marutisurakshaa</span>
            </div>
            <!-- /.customer-info -->
          </div>
        </div>
        <!-- /.customer-block -->
      </div>
      <!-- /.item -->

      <div class="item">
        <div class="customer-block">
          <p>
            The reason I chose Emovur is that they don’t exaggerate what they
            can bring onto the table. They deliver what they promise.
          </p>
          <div class="clearfix">
            <img
              class="testimonial-logo"
              src="images/logo/nhct.jpeg"
              alt="emovur"
              style="width: 50px;"
            />
            <img src="images/home/manish.jpeg" alt="" class="customer-img" />
            <div class="customer-info">
              <h5 class="name">Manish Ranjan</h5>
              <span>- NHCT</span>
            </div>
            <!-- /.customer-info -->
          </div>
        </div>
        <!-- /.customer-block -->
      </div>
      <!-- /.item -->
    </div>
  </div>
</Layout>

<!-- /.container -->

<!-- /.apps-testimonial -->
