<footer class="theme-footer-one color-orange pt-70 whatsapp-footer">
  <div class="top-footer" style="border-bottom: 1px solid #f0f0f0;">
    <div class="container">
      <div>
        <div class="footer-meta">
          <div class="footer-meta-inner-1">
            <a
              href="https://www.facebook.com/business/partner-directory/search?solution_type=messaging&ref=pd_home_hero_cta&id=7961305477248043&section=overview"
              target="_blank"
              class="meta-class"
              ><span id="lp-mtp-btn"
                ><img
                  src="/whatsapp-business-api/images/meta@4x.png"
                  alt="meta"
                  width="70"
                  height="auto"
                /></span
              ></a
            >
            <p style="font-family: 'Roboto';font-size: 1rem;font-weight: 400;">
              Tech Partner
            </p>
          </div>
          <div class="footer-meta-inner-2 d-none d-sm-block"></div>
          <div>
            <p style="font-family: 'Roboto';font-size: 1rem;font-weight: 400;">
              Powered by WhatsApp Business API
            </p>
          </div>
        </div>
      </div>
      <div class="row d-none d-sm-flex">
        <div class="col-lg-3 col-sm-6 col-12 footer-about-widget">
          <a href="/" class="logo"
            ><img src="/images/logo/logo.png" alt="emovur" width="150" /></a
          >
          <a href="mailto:support@emovur.com" class="email"
            >support@emovur.com</a
          >
          <a href="tel:+919997774255" class="phone">+91-999-777-4255</a>
        </div>
        <!-- /.about-widget -->
        <div class="col-lg-3 col-sm-6 col-12 footer-list">
          <h5 class="footer-title">Features</h5>
          <ul>
            <li>
              <a href="/whatsapp-business-api/broadcast-bulk-messages"
                >WhatsApp Broadcast</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/shared-team-inbox"
                >Shared Team Inbox</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-flows">WhatsApp Flows</a>
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-ecommerce"
                >WhatsApp Ecommerce</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-payments"
                >WhatsApp Payments</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-drip-campaign"
                >Drip Campaign</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-ai">WhatsApp AI</a>
            </li>
          </ul>
        </div>
        <!-- /.footer-recent-post -->
        <div class="col-lg-2 col-sm-6 col-12 footer-list">
          <h5 class="footer-title">Industry</h5>
          <ul>
            <li>
              <a href="/whatsapp-business-api/whatsapp-automotive">Automotive</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-chatbot-for-edutech"
                >Education</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-tourism">Travel</a>
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-real-estate"
                >Real Estate</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-banking-and-finance"
                >Finance</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-healthcare">Healthcare</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-industries-ecommerce"
                >ecommerce</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-marketing-agency"
                >Marketing Agency</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/whatsapp-restaurant">Restaurant</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-6 col-12 footer-list">
          <h5 class="footer-title">Compare</h5>
          <ul>
            <li>
              <a href="/whatsapp-business-api/aisensy-alternative"
                >With Aisensy</a
              >
            </li>
            <li>
              <a href="/whatsapp-business-api/wati-alternative">With Wati</a>
            </li>
            <li>
              <a href="/whatsapp-business-api/interakt-alternative"
                >With Interakt</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-sm-6 col-12 footer-list">
          <h5 class="footer-title">Resources</h5>
          <ul>
            <li>
              <a href="https://support.emovur.com" target="_blank">Guide</a>
            </li>
            <li>
              <a href="/whatsapp-business-api/case-studies">Case Studies</a>
            </li>
            <li>
              <a href="/whatsapp-business-api/product-demo"
                >Product Demo Video</a
              >
            </li>
            <li>
              <a
                href="https://support.emovur.com/developers/api-documentation/send-template-message-api"
                target="_blank">API Documentation</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- /.row -->

      <div class="row d-flex d-sm-none">
        <!-- Mobile View (Accordion footer) -->
        <div class="col-12 d-block d-lg-none">
          <div id="footerAccordion">
            <!-- Features -->
            <div class="card">
              <div class="card-header" id="headingCompany">
                <h5 class="mb-0">
                  <button
                    class="btn btn-link w-100 text-left d-flex justify-content-between align-items-center"
                    data-toggle="collapse"
                    data-target="#collapseCompany"
                    aria-expanded="false"
                  >
                    Company <i class="arrow-icon fa fa-chevron-down"></i>
                  </button>
                </h5>
              </div>
              <div
                id="collapseCompany"
                class="collapse"
                aria-labelledby="headingCompany"
                data-parent="#footerAccordion"
              >
                <div class="card-body">
                  <div class="col-lg-3 col-sm-6 col-12 footer-about-widget">
                    <a href="/" class="logo"
                      ><img
                        src="/images/logo/logo.png"
                        alt="emovur"
                        width="150"
                      /></a
                    >
                    <a href="mailto:support@emovur.com" class="email"
                      >support@emovur.com</a
                    >
                    <a href="tel:+919997774255" class="phone"
                      >+91-999-777-4255</a
                    >
                  </div>
                  <!-- /.about-widget -->
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFeatures">
                <h5 class="mb-0">
                  <button
                    class="btn btn-link w-100 text-left d-flex justify-content-between align-items-center"
                    data-toggle="collapse"
                    data-target="#collapseFeatures"
                    aria-expanded="false"
                  >
                    Features <i class="arrow-icon fa fa-chevron-down"></i>
                  </button>
                </h5>
              </div>
              <div
                id="collapseFeatures"
                class="collapse"
                aria-labelledby="headingFeatures"
                data-parent="#footerAccordion"
              >
                <div class="card-body">
                  <ul>
                    <li>
                      <a href="/whatsapp-business-api/broadcast-bulk-messages"
                        >WhatsApp Broadcast</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/shared-team-inbox"
                        >Shared Team Inbox</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/whatsapp-flows"
                        >WhatsApp Flows</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/whatsapp-ecommerce"
                        >WhatsApp Ecommerce</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/whatsapp-payments"
                        >WhatsApp Payments</a
                      >
                    </li>
                    <li>
                      <a href='/whatsapp-business-api//whatsapp-drip-campaign"'
                        >Drip Campaign</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/whatsapp-ai"
                        >WhatsApp AI</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Industry -->
            <div class="card">
              <div class="card-header" id="headingIndustry">
                <h5 class="mb-0">
                  <button
                    class="btn btn-link w-100 text-left d-flex justify-content-between align-items-center"
                    data-toggle="collapse"
                    data-target="#collapseIndustry"
                    aria-expanded="false"
                  >
                    Industry <i class="arrow-icon fa fa-chevron-down"></i>
                  </button>
                </h5>
              </div>
              <div
                id="collapseIndustry"
                class="collapse"
                aria-labelledby="headingIndustry"
                data-parent="#footerAccordion"
              >
                <div class="card-body">
                  <ul>
                    <li>
                      <a href="/whatsapp-business-api/whatsapp-automotive"
                        >Automotive</a
                      >
                    </li>
                    <li>
                      <a
                        href="/whatsapp-business-api/whatsapp-chatbot-for-edutech"
                        >Education</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/whatsapp-tourism"
                        >Travel</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/whatsapp-real-estate"
                        >Real Estate</a
                      >
                    </li>
                    <li>
                      <a
                        href="/whatsapp-business-api/whatsapp-banking-and-finance"
                        >Finance</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/whatsapp-healthcare"
                        >Healthcare</a
                      >
                    </li>
                    <li>
                      <a
                        href="/whatsapp-business-api/whatsapp-industries-ecommerce"
                        >Ecommerce</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/whatsapp-marketing-agency"
                        >Marketing Agency</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/whatsapp-restaurant"
                        >Restaurant</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Compare -->
            <div class="card">
              <div class="card-header" id="headingCompare">
                <h5 class="mb-0">
                  <button
                    class="btn btn-link w-100 text-left d-flex justify-content-between align-items-center"
                    data-toggle="collapse"
                    data-target="#collapseCompare"
                    aria-expanded="false"
                  >
                    Compare <i class="arrow-icon fa fa-chevron-down"></i>
                  </button>
                </h5>
              </div>
              <div
                id="collapseCompare"
                class="collapse"
                aria-labelledby="headingCompare"
                data-parent="#footerAccordion"
              >
                <div class="card-body">
                  <ul>
                    <li>
                      <a href="/whatsapp-business-api/aisensy-alternative"
                        >With Aisensy</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/wati-alternative"
                        >With Wati</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/interakt-alternative"
                        >With Interakt</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Resources -->
            <div class="card">
              <div class="card-header" id="headingResources">
                <h5 class="mb-0">
                  <button
                    class="btn btn-link w-100 text-left d-flex justify-content-between align-items-center"
                    data-toggle="collapse"
                    data-target="#collapseResources"
                    aria-expanded="false"
                  >
                    Resources <i class="arrow-icon fa fa-chevron-down"></i>
                  </button>
                </h5>
              </div>
              <div
                id="collapseResources"
                class="collapse"
                aria-labelledby="headingResources"
                data-parent="#footerAccordion"
              >
                <div class="card-body">
                  <ul>
                    <li>
                      <a href="https://support.emovur.com" target="_blank"
                        >Guide</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/case-studies"
                        >Case Studies</a
                      >
                    </li>
                    <li>
                      <a href="/whatsapp-business-api/product-demo"
                        >Product Demo Video</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://support.emovur.com/developers/api-documentation/send-template-message-api"
                        target="_blank">API Documentation</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dowload-footer">
        <div class="mobile-view-footer-text">
          <h6
            style="margin-bottom:10px;font-family: 'Roboto';font-size: 1.5rem;font-weight: 500;"
          >
            Download the App
          </h6>
          <div class="mobile-intigration-footer">
            <a
              href="https://play.google.com/store/apps/details?id=com.emovur.chatapp&hl=en_IN&gl=US"
              target="_blank"
              id="gplay-lg-btn"
            >
              <img
                src="/whatsapp-business-api/images/play-store.png"
                alt="play-store"
                class="desktop-google-play-image"
              /></a
            >
            <a
              href="https://apps.apple.com/in/app/emovur-chat/id6478871413"
              target="_blank"
              id="apstore-lg-btn"
            >
              <img
                src="/whatsapp-business-api/images/app-store.png"
                alt="apple-store"
                class="desktop-google-play-image"
              /></a
            >
          </div>
        </div>
        <div>
          <div class="footer-information">
            <h6
              style="margin-bottom:10px;font-family: 'Roboto';font-size: 1.5rem;font-weight: 500;"
            >
              Connect with us
            </h6>
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/pg/emovur.official"
                  target="_blank"
                  ><i class="fa fa-facebook" aria-hidden="true"></i></a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/emovur_official/"
                  target="_blank"
                  ><i class="fa fa-instagram" aria-hidden="true"></i></a
                >
              </li>
              <li>
                <a href="https://linkedin.com/company/emovur" target="_blank"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>
<!-- /.top-footer -->

<!-- <div class="container">
        <div class="bottom-footer-content">
            <p>&copy; <span id="year"></span> copyright all right reserved by <b>Audentrix Pvt Ltd</b></p>
        </div>
    </div> -->
<!-- /.theme-footer-one -->

<!-- Scroll Top Button -->
<!-- <button class="scroll-top tran3s">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</button> -->

<!-- Optional JavaScript _____________________________  -->

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".btn-link").forEach((button) => {
      button.addEventListener("click", function () {
        let icon = button.querySelector(".arrow-icon");
        document.querySelectorAll(".arrow-icon").forEach((i) => {
          if (i !== icon) i.classList.remove("rotated");
        });
        if (icon) icon.classList.toggle("rotated");
      });
    });
  });
</script>

<script src="/vendor/jquery.2.2.3.min.js" is:inline></script>
<!-- Popper js -->
<script src="/vendor/bootstrap/js/bootstrap.min.js" is:inline></script>
<script src="/js/theme.js" is:inline></script>
