---
import "../../public/whatsapp-business-api/css/footer-slider.css";
---

<div
  class="container aos-init aos-animate"
  data-aos="fade-up"
  data-aos-delay="200"
>
  <div class="slider-container">
    <p
      style="text-align: center;margin-bottom: 20px;font-size: 1.1rem;font-weight: 300;font-family: Roboto, sans-serif"
    >
      Trusted by <span
        style="text-align: center;margin-bottom: 20px;font-size: 1.1rem;font-weight: 400;font-family: Roboto, sans-serif;color: #000000"
        >1,500+ businesses</span
      >
    </p>
    <div class="logo-slider">
      <div class="logo-track">
        <!-- Original Logos -->
        <img src="/whatsapp-business-api/images/LEARN@2x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/LGF@2x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/logomacc.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/TB@2x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/bimallogo.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/bobcat-logo.jpg" alt="brands" />
        <img src="/whatsapp-business-api/images/DOOSAN@2x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/Plus4@4x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/5logo@4x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/6logo@4x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/7@4x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/8@4x.webp" alt="brands" />

        <!-- Duplicate Logos for Seamless Effect -->
        <img src="/whatsapp-business-api/images/LEARN@2x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/LGF@2x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/logomacc.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/TB@2x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/bimallogo.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/bobcat-logo.jpg" alt="brands" />
        <img src="/whatsapp-business-api/images/DOOSAN@2x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/Plus4@4x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/5logo@4x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/6logo@4x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/7@4x.webp" alt="brands" />
        <img src="/whatsapp-business-api/images/8@4x.webp" alt="brands" />
      </div>
    </div>
  </div>
</div>
