---
import "../../public/whatsapp-business-api/css/footer-slider.css";
---

<!-- play store section starts -->
<div
  class="container desktop-play-store-container d-none d-sm-block"
  id="app"
  class="scroll-link"
>
  <div class="desktop-play-store-main">
    <h4>
      Customer interaction,<br />
      on the go
    </h4>
    <p>
      Emovur chat for mobile enables you to browse conversations, reply to
      messages and collaborate with your team. Now available on Android and iOS.
    </p>

    <svg
      viewBox="0 0 1026 1026"
      fill="none"
      aria-hidden="true"
      class="circle1"
      data-v-458586a8=""
    >
      <path
        d="M1025 513c0 282.77-229.23 512-512 512S1 795.77 1 513 230.23 1 513 1s512 229.23 512 512Z"
        stroke="#ffffff"
        stroke-opacity="0.7"
        data-v-458586a8=""></path>
      <path
        d="M513 1025C230.23 1025 1 795.77 1 513"
        stroke="url(#:R65m:-gradient-1)"
        stroke-linecap="round"
        data-v-458586a8=""></path>
      <defs data-v-458586a8="">
        <linearGradient
          id=":R65m:-gradient-1"
          x1="1"
          y1="513"
          x2="1"
          y2="1025"
          gradientUnits="userSpaceOnUse"
          data-v-458586a8=""
        >
          <stop stop-color="#0c9ffa" data-v-458586a8=""></stop>
          <stop
            offset="1"
            stop-color="#0c9ffa"
            stop-opacity="0"
            data-v-458586a8=""></stop>
        </linearGradient>
      </defs>
    </svg>
    <svg
      viewBox="0 0 1026 1026"
      fill="none"
      aria-hidden="true"
      class="circle2"
      data-v-458586a8=""
    >
      <path
        d="M913 513c0 220.914-179.086 400-400 400S113 733.914 113 513s179.086-400 400-400 400 179.086 400 400Z"
        stroke="#ffffff"
        stroke-opacity="0.7"
        data-v-458586a8=""></path>
      <path
        d="M913 513c0 220.914-179.086 400-400 400"
        stroke="url(#:R65m:-gradient-2)"
        stroke-linecap="round"
        data-v-458586a8=""></path>
      <defs data-v-458586a8="">
        <linearGradient
          id=":R65m:-gradient-2"
          x1="913"
          y1="513"
          x2="913"
          y2="913"
          gradientUnits="userSpaceOnUse"
          data-v-458586a8=""
        >
          <stop stop-color="#0c9ffa" data-v-458586a8=""></stop>
          <stop
            offset="1"
            stop-color="#0c9ffa"
            stop-opacity="0"
            data-v-458586a8=""></stop>
        </linearGradient>
      </defs>
    </svg>
    <div class="desktop-intigration-app">
      <a
        href="https://play.google.com/store/apps/details?id=com.emovur.chatapp&hl=en_IN&gl=US"
        target="_blank"
        id="dstp-lg-gplay-btn"
      >
        <img
          src="/whatsapp-business-api/images/play-store.png"
          alt="play-store"
          class="desktop-google-play-image"
        /></a
      >
      <a
        href="https://apps.apple.com/in/app/emovur-chat/id6478871413"
        target="_blank"
        id="dstp-lg-apstore-btn"
      >
        <img
          src="/whatsapp-business-api/images/app-store.png"
          alt="apple-store"
          class="desktop-google-play-image"
        /></a
      >
    </div>
    <img
      src="/whatsapp-business-api/images/app-w_1040.webp"
      alt="play-mobile"
      class="desktop-google-play-mobile-image"
    />
  </div>
</div>
<!-- play store section ends -->

<!-- play store section starts -->
<div
  class="mobile-play-store-container d-block d-sm-none"
  id="app"
  class="scroll-link"
>
  <div class="mobile-play-store-main">
    <h4>
      Customer interaction,<br />
      on the go
    </h4>
    <p style="font-size: 12px">
      Emovur chat for mobile enables you to browse conversations, reply to
      messages and collaborate with your team. Now available on Android and iOS.
    </p>
    <img
      src="/whatsapp-business-api/images/app-w_1040.webp"
      alt="play-mobile"
      class="mobile-google-play-mobile-image"
    />
    <div class="mobile-intigration">
      <a
        href="https://play.google.com/store/apps/details?id=com.emovur.chatapp&hl=en_IN&gl=US"
        target="_blank"
        id="gplay-lg-btn"
      >
        <img
          src="/whatsapp-business-api/images/play-store.png"
          alt="play-store"
          class="desktop-google-play-image"
        /></a
      >
      <a
        href="https://apps.apple.com/in/app/emovur-chat/id6478871413"
        target="_blank"
        id="apstore-lg-btn"
      >
        <img
          src="/whatsapp-business-api/images/app-store.png"
          alt="apple-store"
          class="desktop-google-play-image"
        /></a
      >
    </div>
  </div>
</div>
<!-- play store section ends -->
