---
import WhatsappLayout from "../../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../../public/whatsapp-business-api/css/five-star-chicken.css";
import LogoStrips from "../../../components/LogoStrips.astro";
import PhoneApp from "../../../components/PhoneApp.astro";

const metaTitle = "Case Study: Five Star Chicken | WhatsApp for QSR";
const metaDescription =
  "Explore how Five Star Chicken increased repeat orders and customer retention with WhatsApp marketing via Emovur.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/case-studies/five-star-checken";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<style>
  .page-tag {
    display: inline-block;
    color: #000000;
    padding: 3px 15px 3px 8px;
    background: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.8rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
</style>

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <div aria-label="breadcrumb">
        <div class="page-tag-container">
          <span class="page-tag"
            ><a href="/whatsapp-business-api/case-studies">Case Studies</a> / <a
              href="/whatsapp-business-api/case-studies/five-star-checken"
              >Five Star Checken</a
            ></span
          >
        </div>
      </div>
      <a target="_blank" class="meta-class-broadcast"
        ><span id="lp-mtp-btn">Restaurants</span></a
      ><br />
      <!-- <h3 style="font-size: 2.5rem;color:#25D366;margin-bottom: 5px">Get more <span
                  style="font-size: 2.5rem;color:#696969;margin-bottom: 5px">test drives</span>
          </h3> -->
      <h6 style="font-size: 2.5rem;">
        Get more
        <span style="font-size: 2.5rem;color:#42B763;margin-bottom: 5px"
          >customers
        </span><span style="font-size: 2.5rem;color:#696969;margin-bottom: 5px">
        </span> and handle orders easily on
        <span style="font-size: 2.5rem;color:#42B763;margin-bottom: 5px"
          >WhatsApp!
        </span>
      </h6>
      <div class="education-main-paragraph" style="margin-top: 20px">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Keep customers informed with real-time order updates.
        </p>
      </div>
      <div class="education-main-paragraph">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Simplify orders and feedback with interactive buttons.
        </p>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page-banking"
        src="/whatsapp-business-api/images/caseStudies/restorent-hero.png"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>

  <!-- Landing form section ends -->

  <!-- section starts -->
  <div class="about-us-five pt-100">
    <div class="container">
      <div class="about-us-section">
        <div class="about-us-section-content">
          <div class="about-us-company-section-1">
            <h6
              style="font-weight:500;font-size:27px;font-family: Roboto, sans-serif;color:#0c9ffa;margin-bottom: 10px"
            >
              About Company
            </h6>
            <h6
              style="font-weight:500;font-size:27px;font-family: Roboto, sans-serif;color:#000000;margin-bottom: 10px"
            >
              Five Star India
            </h6>
            <p
              style="font-weight:400;font-size:16px;line-height: 1.5rem;font-family: Roboto, sans-serif;color:#696969;margin-bottom: 10px"
            >
              Five Star India, launched in Bangalore in 2012, has grown from a
              single outlet to over 1,100 locations across India. Specializing
              in fried chicken, the brand is renowned for its commitment to
              quality, innovation, and delivering exceptional customer
              satisfaction.
            </p>
          </div>
          <div class="about-us-company-section-2">
            <div class="about-us-company-section-2-numbers">
              <div class="about-us-company-section-2-numbers-1">
                <h6>13+</h6>
                <p>Years of <br />Experience</p>
              </div>
              <div class="about-us-company-section-2-numbers-1">
                <h6>1.1k+</h6>
                <p>Stores <br />across India</p>
              </div>
            </div>
            <div class="about-us-company-section-2-images">
              <div class="about-us-company-section-2-images-1">
                <img
                  src="/whatsapp-business-api/images/caseStudies/vector.png"
                  alt=""
                />
                <p>India</p>
              </div>
              <div class="about-us-company-section-2-images-1">
                <img
                  src="/whatsapp-business-api/images/caseStudies/website.png"
                  alt=""
                />
                <p>fivestarchicken.com</p>
              </div>
              <div
                class="about-us-company-section-2-images-1"
                style="padding: 7px 13px;"
              >
                <img
                  src="/whatsapp-business-api/images/caseStudies/restro.png"
                  alt=""
                />
                <p>Restaurants</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section ends -->

  <!-- section starts -->
  <div class="section-page" style="padding-top: 100px;">
    <div class="container">
      <div class="brands-main" style="margin-bottom: 10px">
        <h6 style="font-weight:300;font-size:2.5rem">The</h6>
        <h6 style="font-weight:500;font-size:2.5rem;color:#000000">
          Challenge
        </h6>
      </div>
      <p
        class="the-challenge-paragraph"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        Five Star India faced challenges in using modern communication channels
        to <br />drive growth and attract customers.
      </p>
      <div class="the-challenge">
        <img
          src="/whatsapp-business-api/images/caseStudies/challenge.png"
          alt="section-page-1"
          style="width: 40%"
        />
        <div class="text-section">
          <div class="point-not">
            <div class="circle">1</div>
            <div class="content-dot"></div>
            <div class="content">
              <h6>Order Management</h6>
              <p class="d-none d-sm-block">
                They often faced challenges managing <br />orders during peak
                hours, causing confusion,<br />
                delays, and errors.
              </p>
              <p class="d-block d-sm-none">
                They often faced challenges managing orders during peak hours,
                causing confusion, delays, and errors.
              </p>
            </div>
          </div>
          <div class="point-not">
            <div class="circle">2</div>

            <div class="content">
              <h6>Lead Conversion</h6>
              <p class="d-none d-sm-block">
                Ineffective lead management lead to<br /> missed opportunities and
                delayed follow-ups, <br />
                affecting conversion rates.
              </p>
              <p class="d-block d-sm-none">
                Ineffective lead management lead to missed opportunities and
                delayed follow-ups, affecting conversion rates.
              </p>
            </div>
          </div>
          <div class="point-not">
            <div class="circle">3</div>

            <div class="content">
              <h6>Upselling Processes</h6>
              <p class="d-none d-sm-block">
                Failing to deliver timely and relevant<br /> upsell suggestions during
                peak hours, leading <br />
                to missed opportunities.
              </p>
              <p class="d-block d-sm-none">
                Failing to deliver timely and relevant upsell suggestions during
                peak hours, leading to missed opportunities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-page" style="padding-top: 150px;">
    <div class="container">
      <div class="brands-main">
        <h6
          style="font-weight:300;font-size:2.5rem;font-family: Roboto, sans-serif;"
        >
          The
        </h6>
        <h6
          style="font-weight:500;font-size:2.5rem;color:#0c9ffa;font-family: Roboto, sans-serif;"
        >
          Solution
        </h6>
      </div>
      <p
        class="the-challenge-paragraph"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        Five Star India turned to the WhatsApp Business API to enhance their <br
        />communication strategy, improving customer support and ensuring
        quicker<br /> responses to inquiries.
      </p>
      <div class="solution-container">
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/solution-1.png"
            class="solution-image"
            alt="Order Management"
          />
          <div class="solution-content">
            <h6 class="solution-title">
              Instant Order Updates & Seamless Management
            </h6>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Sending real-time updates via WhatsApp cut peak-hour confusion
                and errors.
              </p>
            </div>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Streamlining updates and changes through API integration with
                their order system ensured accurate processing.
              </p>
            </div>
          </div>
        </div>

        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/solution-2.png"
            class="solution-image"
            alt="Lead Management"
          />
          <div class="solution-content">
            <h6 class="solution-title">
              Automated Lead Management and Follow-Ups
            </h6>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Automated follow-ups ensure timely communication and higher lead
                conversions.
              </p>
            </div>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                CRM integration tracks and monitors lead information across
                platforms for efficient management.
              </p>
            </div>
          </div>
        </div>
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/solution-3.png"
            class="solution-image"
            alt="Personalized Suggestions"
          />
          <div class="solution-content">
            <h6 class="solution-title">
              Simplified Presales and Upselling Automation
            </h6>
            <div class="solution-bar-text" style="margin-top:10px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Sending personalized messages, promotions, and updates increase
                customer engagement and drive sales.
              </p>
            </div>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Offering personalized upsells from past orders encouraged
                buying.
              </p>
            </div>
          </div>
        </div>

        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/solution-4.png"
            class="solution-image"
            alt="Customer Support"
          />
          <div class="solution-content">
            <h6 class="solution-title">Improved Customer<br /> Service</h6>
            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Offer 24/7 customer service through automated replies,
                guaranteeing timely assistance for customers.
              </p>
            </div>
            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Quick automated responses to customer queries help streamline
                processes, saving time and improving service efficiency.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-page" style="padding-top: 150px;">
    <div class="container">
      <div class="brands-main">
        <h6
          style="font-weight:300;font-size:2.5rem;font-family: Roboto, sans-serif;"
        >
          The
        </h6>
        <h6
          style="font-weight:500;font-size:2.5rem;color:#0c9ffa;font-family: Roboto, sans-serif;"
        >
          Outcome
        </h6>
      </div>
      <p
        class="the-challenge-paragraph"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        Automated messages post-service made it easier for customers to share
        ratings<br /> and feedback, improving service quality insights.
      </p>

      <div class="the-outcome">
        <div class="the-outcome-1">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;"
          >
            35%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Increase in Test Drive<br /> Bookings
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            WhatsApp reminders and timely follow-ups encouraged more customers
            to book and complete test drives.
          </p>
        </div>
        <div class="the-outcome-2">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;;text-align: center"
          >
            3x
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Improvement in Service <br />Appointment Scheduling
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            WhatsApp reminders and timely follow-ups encouraged more customers
            to book and complete test drives.
          </p>
        </div>
        <div class="the-outcome-3">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;text-align: center"
          >
            50%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Increase in Customer <br />Retention
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Personalized offers, loyalty rewards and re-engagement campaigns
            ensured stronger customer loyalty and repeat business.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-section-main pt-150">
    <div class="container">
      <div class="testimonials-case">
        <div class="testimonial-part-1">
          <h6
            style="font-weight:600;font-size:2.5rem;color:#000000;font-family: Roboto, sans-serif;margin-bottom:30px"
          >
            Testimonial
          </h6>
          <p
            style="font-weight:300;font-size:1.1rem;color:#606060;font-family: Roboto, sans-serif;line-height:1.5rem;margin-bottom:20px"
          >
            Thanks to Emovur’s WhatsApp initiatives, RNS Motors experienced a
            30-40% increase in response rates across all their communication
            efforts. It’s refreshing to see how accessible and helpful the
            Emovur team is, making the entire process smooth and hassle-free.
          </p>

          <p
            style="font-weight:500;font-size:1.1rem;color:#606060;font-family: Roboto, sans-serif;text-align:end"
          >
            - The Five Star india Team
          </p>
        </div>

        <!-- <div class="testimonial-part-2">
                <img src="/whatsapp-business-api/images/caseStudies/five-star.webp" alt="testimonial-img" />
            </div> -->
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-20">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Is mobile APP Available?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">Yes, its avaliable</p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I assign conversations to specific team members?
                    </a>
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, conversations can be easily assigned to specific team
                      members to ensure accountability and efficient resolution.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Which communication channels can be integrated into the
                      Shared Team Inbox?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      You can integrate channels like WhatsApp, email, Facebook
                      Messenger, Instagram, and more into the Shared Team Inbox.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Does the Shared Team Inbox support automation?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the inbox supports automated workflows, such as
                      assigning chats based on keywords, sending instant
                      replies, and setting up chatbot responses.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Can multiple team members work on the same conversation?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, multiple team members can collaborate on a
                      conversation in real-time, with notes and updates visible
                      to everyone.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Is the Shared Team Inbox suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the feature is designed to scale with your business,
                      making it ideal for teams of all sizes, from small
                      startups to large enterprises.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->

  <PhoneApp />
</WhatsappLayout>
