---
import WhatsappLayout from "../../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../../public/whatsapp-business-api/css/haiku-honda.css";
import LogoStrips from "../../../components/LogoStrips.astro";
import PhoneApp from "../../../components/PhoneApp.astro";

const metaTitle = "Case Study: Haiku Honda | WhatsApp for Automotive Brands";
const metaDescription =
  "Discover how Haiku Honda boosted test drive bookings and service inquiries using Emovur’s WhatsApp automation.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/case-studies/haiku-honda";
const keywords =
  "marketing case study, digital success stories, client success, marketing campaigns, brand growth";
---

<style>
  .page-tag {
    display: inline-block;
    color: #000000;
    padding: 3px 15px 3px 8px;
    background: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.8rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
</style>

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <div aria-label="breadcrumb">
        <div class="page-tag-container">
          <span class="page-tag"
            ><a href="/whatsapp-business-api/case-studies">Case Studies</a> / <a
              href="/whatsapp-business-api/case-studies/haiku-honda"
              >Haiku Honda</a
            ></span
          >
        </div>
      </div>
      <a target="_blank" class="meta-class-broadcast"
        ><span id="lp-mtp-btn">Automotive</span></a
      >
      <h6 class="d-none d-sm-block" style="font-size: 3rem;">
        Simplify sales and boost
        <span style="font-size: 3rem;color:#42B763;margin-bottom: 5px"
          >revenue by 20%
        </span> with<span
          style="font-size: 3rem;color:#696969;margin-bottom: 5px"
        >
          <!-- </span> sales easily with<br> -->
          <span style="font-size: 3rem;color:#42B763;margin-bottom: 5px">
            WhatsApp!
          </span>
        </span>
      </h6>
      <h6 class="d-block d-sm-none" style="font-size: 2.5rem;">
        Simplify sales and boost
        <span style="font-size: 2.5rem;color:#42B763;margin-bottom: 5px"
          >revenue by 20%
        </span> with<span
          style="font-size: 2.5rem;color:#696969;margin-bottom: 5px"
        >
          <span style="font-size: 2.5rem;color:#42B763;margin-bottom: 5px">
            WhatsApp!
          </span>
        </span>
      </h6>
      <div class="education-main-paragraph" style="margin-top: 20px">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Send easy notifications to increase test rides by 35%!
        </p>
      </div>
      <div class="education-main-paragraph">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Schedule services 30% faster with quick and simple alerts!
        </p>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page-banking"
        src="/whatsapp-business-api/images/caseStudies/haiku-honda-hero.png"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>

  <!-- section starts -->
  <div class="about-us-dash pt-100">
    <div class="container">
      <div class="about-us-section">
        <div class="about-us-section-content">
          <div class="about-us-company-section-1">
            <h6
              style="font-weight:500;font-size:27px;font-family: Roboto, sans-serif;color:#0c9ffa;margin-bottom: 10px"
            >
              About Company
            </h6>
            <h6
              style="font-weight:500;font-size:27px;font-family: Roboto, sans-serif;color:#000000;margin-bottom: 10px"
            >
              Haiku Honda
            </h6>
            <p
              style="font-weight:400;font-size:16px;line-height: 1.5rem;font-family: Roboto, sans-serif;color:#696969;margin-bottom: 10px"
            >
              Established in June 2001, Haiku Motors Private Limited became
              India's first Honda two-wheeler dealership. Over the years, it has
              sold over 200,000 vehicles, becoming a trusted name for Honda
              two-wheelers in Bengaluru.
            </p>
          </div>
          <div class="about-us-company-section-2">
            <div class="about-us-company-section-2-numbers">
              <div class="about-us-company-section-2-numbers-1">
                <h6>25+</h6>
                <p>Years of <br />Experience</p>
              </div>
              <div class="about-us-company-section-2-numbers-1">
                <h6>20+</h6>
                <p>Stores <br />across India</p>
              </div>
            </div>
            <div class="about-us-company-section-2-images">
              <div class="about-us-company-section-2-images-1">
                <img
                  src="/whatsapp-business-api/images/caseStudies/vector.png"
                  alt=""
                />
                <p>India</p>
              </div>
              <div class="about-us-company-section-2-images-1">
                <img
                  src="/whatsapp-business-api/images/caseStudies/website.png"
                  alt=""
                />
                <p>shrutiather.com</p>
              </div>
              <div
                class="about-us-company-section-2-images-1"
                style="padding: 7px 13px;"
              >
                <img
                  src="/whatsapp-business-api/images/caseStudies/restro.png"
                  alt=""
                />
                <p>Automotive</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section ends -->

  <div class="about-us-dash pt-100">
    <div class="container">
      <div class="solution-main">
        <div class="solution-section-card-1">
          <div class="solution-section-card-1-parts">
            <div class="solution-section-card-1-part-1">
              <img
                src="/whatsapp-business-api/images/caseStudies/solution-emo-1.png"
                alt="section-page-1"
              />
              <div>
                <h6>Inefficient Lead Management & Follow-ups</h6>
                <p>
                  Customers faced difficulties accessing vehicle details, test
                  ride bookings, and service schedules on the go, highlighting
                  the need for a centralized and user-friendly communication
                  platform.
                </p>
              </div>
            </div>
            <div class="solution-section-card-1-part-2">
              <img
                src="/whatsapp-business-api/images/caseStudies/solution-emo-2.png"
                alt="section-page-1"
              />
              <div>
                <h6>Lead nurturing automation</h6>
                <ul class="solution-section-card-1-part-2-list">
                  <li>
                    Send personalized messages with pre-approved financing
                    options.
                  </li>
                  <li>
                    Guide customers step-by-step through the financing
                    documentation via WhatsApp.
                  </li>
                  <li>
                    Enable easy uploads of required documents directly on
                    WhatsApp, speeding up the process.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <img
            src="/whatsapp-business-api/images/caseStudies/haiku-sec-1.png"
            alt="section-page-1"
            width="35%"
          />
        </div>
        <div class="solution-section-card-2">
          <div class="solution-section-card-1-parts">
            <div class="solution-section-card-1-part-1">
              <img
                src="/whatsapp-business-api/images/caseStudies/delays-1.png"
                alt="section-page-1"
              />
              <div>
                <h6>Low Engagement After Purchase</h6>
                <p>
                  Once the vehicle is sold, dealerships struggle to stay
                  connected with customers, resulting in a lack of post-purchase
                  engagement.
                </p>
              </div>
            </div>
            <div class="solution-section-card-1-part-2">
              <img
                src="/whatsapp-business-api/images/caseStudies/delays-2.png"
                alt="section-page-1"
              />
              <div>
                <h6>Service and Insurance Reminders</h6>
                <ul class="solution-section-card-1-part-2-list">
                  <li>
                    Automated reminders for scheduled maintenance and service
                    appointments.
                  </li>
                  <li>
                    Provided real-time service updates, including completion
                    times and readiness for pickup, followed by post-service
                    follow-ups to ensure customer satisfaction.
                  </li>
                  <li>
                    Assisted customers with selecting insurance add-ons and
                    guided them on claim procedures and documentation
                    requirements.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <img
            src="/whatsapp-business-api/images/caseStudies/haiku-sec-2.png"
            alt="section-page-1"
            width="35%"
          />
        </div>
        <div class="solution-section-card-3">
          <div class="solution-section-card-1-parts">
            <div class="solution-section-card-1-part-1">
              <img
                src="/whatsapp-business-api/images/caseStudies/poor-1.png"
                alt="section-page-1"
              />
              <div>
                <h6>Missed Upselling Opportunities for Accessories</h6>
                <p>
                  Dealerships often miss out on upselling accessories like
                  helmets, seat covers, or maintenance plans due to unstructured
                  communication.
                </p>
              </div>
            </div>
            <div class="solution-section-card-1-part-2">
              <img
                src="/whatsapp-business-api/images/caseStudies/poor-2.png"
                alt="section-page-1"
              />
              <div>
                <h6>Driving Impact with Click-to-WhatsApp Ads</h6>
                <ul class="solution-section-card-1-part-2-list">
                  <li>
                    Clicking the ad redirected customers to WhatsApp, where they
                    could book test rides or inquire about available models
                    directly.
                  </li>
                  <li>
                    The campaign targeted individuals interested in electric
                    scooters, focusing on nearby urban areas.
                  </li>
                  <li>
                    Customers received instant updates on new arrivals, pricing,
                    and special offers, streamlining engagement and boosting
                    lead conversions and test ride bookings.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <img
            src="/whatsapp-business-api/images/caseStudies/haiku-sec-3.png"
            alt="section-page-1"
            width="35%"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="section-page" style="padding-top: 150px;">
    <div class="container">
      <div class="brands-main">
        <h6
          style="font-weight:300;font-size:2.5rem;font-family: Roboto, sans-serif;"
        >
          The
        </h6>
        <h6
          style="font-weight:500;font-size:2.5rem;color:#0c9ffa;font-family: Roboto, sans-serif;"
        >
          Outcome
        </h6>
      </div>

      <p
        class="the-challenge-paragraph d-none d-sm-block"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        The use of automated event reminders kept students and parents up to
        date, enhancing <br />participation and institutional outreach
      </p>
      <p
        class="the-challenge-paragraph d-block d-sm-none"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        The use of automated event reminders kept students and parents up to
        date, enhancing participation and institutional outreach
      </p>

      <div class="the-outcome">
        <div class="the-outcome-1">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;"
          >
            20-40%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Abandoned Cart Recovery
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            By automating reminders on WhatsApp.
          </p>
        </div>
        <div class="the-outcome-2">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;;text-align: center"
          >
            40%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Business Growth
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            By sending promotional offers, discounts & Abandoned Cart Reminders
            on WhatsApp.
          </p>
        </div>
        <div class="the-outcome-3">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;text-align: center"
          >
            3x
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            More Engagement
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Promotional WhatsApp Broadcasts – 98% Read Rate, 45-60% CTR.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-section-main pt-200">
    <div class="container">
      <div class="testimonials-case">
        <div class="testimonial-part-1">
          <h6
            style="font-weight:600;font-size:2.5rem;color:#000000;font-family: Roboto, sans-serif;margin-bottom:30px"
          >
            Testimonial
          </h6>
          <p
            style="font-weight:300;font-size:1.1rem;color:#606060;font-family: Roboto, sans-serif;line-height:1.5rem;margin-bottom:20px"
          >
            Thanks to Emovur’s WhatsApp solutions, Haiku Honda saw a 42-57%
            increase in customer response rates. The seamless implementation and
            excellent support made the process quick and easy.
          </p>
          <h6
            style="font-weight:400;font-size:2.5rem;color:#606060;font-family: Roboto, sans-serif"
          >
            Pankaj B Chatlani
          </h6>
          <p
            style="font-weight:500;font-size:1.1rem;color:#606060;font-family: Roboto, sans-serif"
          >
            Managing Director
          </p>
        </div>
        <div class="testimonial-part-2">
          <img
            src="/whatsapp-business-api/images/caseStudies/testimonial-haiku.png"
            alt="testimonial-img"
          />
        </div>
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-20">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Is mobile APP Available?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">Yes, its avaliable</p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I assign conversations to specific team members?
                    </a>
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, conversations can be easily assigned to specific team
                      members to ensure accountability and efficient resolution.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Which communication channels can be integrated into the
                      Shared Team Inbox?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      You can integrate channels like WhatsApp, email, Facebook
                      Messenger, Instagram, and more into the Shared Team Inbox.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Does the Shared Team Inbox support automation?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the inbox supports automated workflows, such as
                      assigning chats based on keywords, sending instant
                      replies, and setting up chatbot responses.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Can multiple team members work on the same conversation?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, multiple team members can collaborate on a
                      conversation in real-time, with notes and updates visible
                      to everyone.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Is the Shared Team Inbox suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the feature is designed to scale with your business,
                      making it ideal for teams of all sizes, from small
                      startups to large enterprises.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->

  <PhoneApp />
</WhatsappLayout>
