---
import WhatsappLayout from "../../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../../public/whatsapp-business-api/css/case-study.css";
import LogoStrips from "../../../components/LogoStrips.astro";
import PhoneApp from "../../../components/PhoneApp.astro";

const metaTitle = "WhatsApp Case Studies | Real Results with Emovur";
const metaDescription =
  "Explore real success stories of how Emovur helped brands grow using WhatsApp Business API across industries.";
const canonicalUrl = "https://emovur.com/whatsapp-business-api/case-studies";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section ends -->
  <div class="case-study-main">
    <div
      class="container landing-form-section-container d-flex justify-content-between align-items-center"
    >
      <div
        class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
      >
        <h1 class="landing-form-section-title">
          Case Studies of Business
          <span
            style="color:#42B763;font-weight: 600;font-family: gilroy-bold, sans-serif"
            >Using Emovur</span
          >
        </h1>
        <p>Stories that matters</p>
      </div>
      <div class="col-sm-10 col-md-8 col-lg-8 col-xl-8">
        <img
          class="landing-img-whatsapp-landing-page"
          src="/whatsapp-business-api/images/caseStudies/case-study-hero.png"
          alt="Whatsapp Landing Page"
        />
      </div>
    </div>
  </div>

  <div class="section-page" style="padding-top: 50px;">
    <div class="container">
      <div class="solution-container">
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/case-study-shruti.webp"
            class="solution-image"
            alt="Order Management"
          />
          <div class="solution-content">
            <h6 class="solution-title-1" style="background-color: #F3E9DE">
              Automotive
            </h6>
            <h6 class="solution-title" style="margin-top:10px">Shruti Ather</h6>
            <div class="solution-bar-text" style="margin-top:10px">
              <p class="solution-description">
                Grow your scooter sales by 20% with easy WhatsApp!
              </p>
            </div>
            <div class="solution-button-container">
              <a href="/whatsapp-business-api/case-studies/shruti-ather">
                <button class="solution-button">Read More</button></a
              >
            </div>
          </div>
        </div>

        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/case-study-rns.webp"
            class="solution-image"
            alt="Lead Management"
          />
          <div class="solution-content">
            <h6 class="solution-title-1" style="background-color: #E0E9DF">
              Automotive
            </h6>
            <h6 class="solution-title" style="margin-top:10px">RNS Motors</h6>
            <div class="solution-bar-text" style="margin-top:10px">
              <p class="solution-description">
                Turn inquiries into sales easily with WhatsApp!
              </p>
            </div>
            <div class="solution-button-container" style="margin-top:25px">
              <a href="/whatsapp-business-api/case-studies/rns-motors">
                <button class="solution-button">Read More</button></a
              >
            </div>
          </div>
        </div>

        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/case-study-five.webp"
            class="solution-image"
            alt="Personalized Suggestions"
          />
          <div class="solution-content">
            <h6 class="solution-title-1" style="background-color: #E1F1FF">
              Restaurant
            </h6>
            <h6 class="solution-title" style="margin-top:10px">
              Five Star Chicken
            </h6>
            <div class="solution-bar-text" style="margin-top:10px">
              <p class="solution-description">
                Get more customers and handle orders easily on WhatsApp!
              </p>
            </div>
            <div class="solution-button-container">
              <a href="/whatsapp-business-api/case-studies/five-star-checken">
                <button class="solution-button">Read More</button></a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="solution-container">
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/case-study-dash.webp"
            class="solution-image"
            alt="Order Management"
          />
          <div class="solution-content">
            <h6 class="solution-title-1" style="background-color: #E0E9DF">
              Furniture
            </h6>
            <h6 class="solution-title" style="margin-top:10px">Dash Square</h6>
            <div class="solution-bar-text" style="margin-top:10px">
              <p class="solution-description">
                Simplify sales and grow 40% with WhatsApp!
              </p>
            </div>
            <div class="solution-button-container" style="margin-top:25px">
              <a href="/whatsapp-business-api/case-studies/dashsquare">
                <button class="solution-button">Read More</button></a
              >
            </div>
          </div>
        </div>
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/case-study-education.webp"
            class="solution-image"
            alt="Lead Management"
          />
          <div class="solution-content">
            <h6 class="solution-title-1" style="background-color: #FFD6D7">
              Education
            </h6>
            <h6 class="solution-title" style="margin-top:10px">
              Surana Educational Institutions
            </h6>
            <div class="solution-bar-text" style="margin-top:10px">
              <p class="solution-description">
                Turn inquiries into sales easily with WhatsApp!
              </p>
            </div>
            <div class="solution-button-container" style="margin-top:25px">
              <a href="/whatsapp-business-api/case-studies/surana-college">
                <button class="solution-button">Read More</button></a
              >
            </div>
          </div>
        </div>
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/haiku-honda.png"
            class="solution-image"
            alt="Lead Management"
          />
          <div class="solution-content">
            <h6 class="solution-title-1" style="background-color: #FFD6D7">
              Automotive
            </h6>
            <h6 class="solution-title" style="margin-top:10px">Haiku Honda</h6>
            <div class="solution-bar-text" style="margin-top:10px">
              <p class="solution-description">
                Turn inquiries into sales easily with WhatsApp!
              </p>
            </div>
            <div class="solution-button-container" style="margin-top:25px">
              <a href="/whatsapp-business-api/case-studies/haiku-honda">
                <button class="solution-button">Read More</button></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="solution-container">
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/case-study-save.webp"
            class="solution-image"
            alt="Order Management"
          />
          <div class="solution-content">
            <h6 class="solution-title-1" style="background-color: #F3E9DE">
              NGO
            </h6>
            <h6 class="solution-title" style="margin-top:10px">
              Save The Young Heart
            </h6>
            <div class="solution-bar-text" style="margin-top:10px">
              <p class="solution-description">
                Raise 30% more funds using <br />WhatsApp!
              </p>
            </div>
            <div class="solution-button-container">
              <a
                href="/whatsapp-business-api/case-studies/save-the-young-heart"
              >
                <button class="solution-button">Read More</button></a
              >
            </div>
          </div>
        </div>
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/case-study-nature.webp"
            class="solution-image"
            alt="Lead Management"
          />
          <div class="solution-content">
            <h6 class="solution-title-1" style="background-color: #E0E9DF">
              Real Estate
            </h6>
            <h6 class="solution-title" style="margin-top:10px">
              Nature Life Space
            </h6>
            <div class="solution-bar-text" style="margin-top:10px">
              <p class="solution-description">
                Turn inquiries into sales easily with WhatsApp!
              </p>
            </div>
            <div class="solution-button-container" style="margin-top:25px">
              <a href="/whatsapp-business-api/case-studies/natural-life-space">
                <button class="solution-button">Read More</button></a
              >
            </div>
          </div>
        </div>
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/case-study-macc.webp"
            class="solution-image"
            alt="Personalized Suggestions"
          />
          <div class="solution-content">
            <h6 class="solution-title-1" style="background-color: #E1F1FF">
              EdTech
            </h6>
            <h6 class="solution-title" style="margin-top:10px">Maac</h6>
            <div class="solution-bar-text" style="margin-top:10px">
              <p class="solution-description">
                Get more customers and handle orders easily on WhatsApp!
              </p>
            </div>
            <div class="solution-button-container">
              <a href="/whatsapp-business-api/case-studies/maac">
                <button class="solution-button">Read More</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-80">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Is mobile APP Available?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">Yes, its avaliable</p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I assign conversations to specific team members?
                    </a>
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, conversations can be easily assigned to specific team
                      members to ensure accountability and efficient resolution.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Which communication channels can be integrated into the
                      Shared Team Inbox?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      You can integrate channels like WhatsApp, email, Facebook
                      Messenger, Instagram, and more into the Shared Team Inbox.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Does the Shared Team Inbox support automation?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the inbox supports automated workflows, such as
                      assigning chats based on keywords, sending instant
                      replies, and setting up chatbot responses.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Can multiple team members work on the same conversation?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, multiple team members can collaborate on a
                      conversation in real-time, with notes and updates visible
                      to everyone.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Is the Shared Team Inbox suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the feature is designed to scale with your business,
                      making it ideal for teams of all sizes, from small
                      startups to large enterprises.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div
            class="brands-main-last"
            style="margin-bottom: 15px;display: flex;gap: 10px;align-items: center;"
          >
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->

  <PhoneApp />
</WhatsappLayout>
