---
import WhatsappLayout from "../../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../../public/whatsapp-business-api/css/dashsquare.css";
import LogoStrips from "../../../components/LogoStrips.astro";
import PhoneApp from "../../../components/PhoneApp.astro";

const metaTitle = "Case Study: Save the Young Heart | WhatsApp for NGOs";
const metaDescription =
  "Find out how this NGO raised awareness and improved volunteer engagement through Emovur’s WhatsApp tools.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/case-studies/save-the-young-heart";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<style>
  .page-tag {
    display: inline-block;
    color: #000000;
    padding: 3px 15px 3px 8px;
    background: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.8rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
</style>

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <div aria-label="breadcrumb">
        <div class="page-tag-container">
          <span class="page-tag"
            ><a href="/whatsapp-business-api/case-studies">Case Studies</a> / <a
              href="/whatsapp-business-api/case-studies/save-the-young-heart"
              >Save the young heart</a
            ></span
          >
        </div>
      </div>
      <a target="_blank" class="meta-class-broadcast"
        ><span id="lp-mtp-btn">NGO</span></a
      ><br />
      <!-- <h3 style="font-size: 2.5rem;color:#25D366;margin-bottom: 5px">Get more <span
                style="font-size: 2.5rem;color:#696969;margin-bottom: 5px">test drives</span>
        </h3> -->
      <h6 style="font-size: 3rem;">
        Raise 30% more
        <span style="font-size: 3rem;color:#42B763;margin-bottom: 5px"
          >funds
        </span> using <span
          style="font-size: 3rem;color:#696969;margin-bottom: 5px"
        >
          <!-- </span> sales easily with<br> -->
          <span style="font-size: 3rem;color:#42B763;margin-bottom: 5px">
            WhatsApp!
          </span>
        </span>
        <div class="education-main-paragraph" style="margin-top: 20px">
          <img
            src="/whatsapp-business-api/images/rightMark.svg"
            alt="Vector"
            style="width: 20px"
          />
          <p
            style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
          >
            Send simple messages to raise health impact awareness by 25%!
          </p>
        </div>
        <div class="education-main-paragraph">
          <img
            src="/whatsapp-business-api/images/rightMark.svg"
            alt="Vector"
            style="width: 20px"
          />
          <p
            style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
          >
            Make registering for health camps easier and faster!
          </p>
        </div>
      </h6>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page-banking"
        src="/whatsapp-business-api/images/caseStudies/save-hero.png"
        alt="Whatsapp Landing Page"
      />
    </div>

    <!-- Landing form section ends -->
  </div>

  <!-- section starts -->
  <div class="about-us-dash pt-100">
    <div class="container">
      <div class="about-us-section">
        <div class="about-us-section-content">
          <div class="about-us-company-section-1">
            <h6
              style="font-weight:500;font-size:27px;font-family: Roboto, sans-serif;color:#0c9ffa;margin-bottom: 10px"
            >
              About Company
            </h6>
            <h6
              style="font-weight:500;font-size:27px;font-family: Roboto, sans-serif;color:#000000;margin-bottom: 10px"
            >
              Save The Young Heart
            </h6>
            <p
              style="font-weight:400;font-size:16px;line-height: 1.5rem;font-family: Roboto, sans-serif;color:#696969;margin-bottom: 10px"
            >
              Save The Young Heart is a non-profit dedicated to heart health
              awareness, early cardiac risk detection, and emergency response
              education. Through community programs, screenings, and training,
              they aim to reduce sudden cardiac arrests in young individuals.
            </p>
          </div>
          <div class="about-us-company-section-2">
            <div class="about-us-company-section-2-numbers">
              <div class="about-us-company-section-2-numbers-1">
                <h6>25+</h6>
                <p>Years of <br />Experience</p>
              </div>
              <div class="about-us-company-section-2-numbers-1">
                <h6>20+</h6>
                <p>Stores <br />across India</p>
              </div>
            </div>
            <div class="about-us-company-section-2-images">
              <div class="about-us-company-section-2-images-1">
                <img
                  src="/whatsapp-business-api/images/caseStudies/vector.png"
                  alt=""
                />
                <p>India</p>
              </div>
              <div class="about-us-company-section-2-images-1">
                <img
                  src="/whatsapp-business-api/images/caseStudies/website.png"
                  alt=""
                />
                <p>savetheyoungheart.com</p>
              </div>
              <div
                class="about-us-company-section-2-images-1"
                style="padding: 7px 13px;"
              >
                <img
                  src="/whatsapp-business-api/images/caseStudies/restro.png"
                  alt=""
                />
                <p>NGO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section ends -->

  <div class="pt-100">
    <div class="container">
      <div class="solution-main">
        <div class="solution-section-card-1">
          <div class="solution-section-card-1-parts">
            <div class="solution-section-card-1-part-1">
              <img
                src="/whatsapp-business-api/images/caseStudies/solution-emo-1.png"
                alt="section-page-1"
              />
              <div>
                <h6>Limited Awareness & Outreach</h6>
                <p>
                  Due to limited communication channels, spreading heart health
                  education and promoting upcoming events were difficult,
                  especially reaching a wide and diverse audience.
                </p>
              </div>
            </div>
            <div class="solution-section-card-1-part-2">
              <img
                src="/whatsapp-business-api/images/caseStudies/solution-emo-2.png"
                alt="section-page-1"
              />
              <div>
                <h6>Enhanced Reach & Impact</h6>
                <p>
                  Through Emovur's WhatsApp Business API, the organization
                  delivered heart health education, event updates, and emergency
                  response tips directly to users' phones. This ensured high
                  open rates and faster engagement compared to traditional email
                  or phone call methods.
                </p>
              </div>
            </div>
          </div>
          <img
            src="/whatsapp-business-api/images/caseStudies/save-card-1.png"
            alt="section-page-1"
            width="25%"
          />
        </div>
        <div class="solution-section-card-2">
          <div class="solution-section-card-1-parts">
            <div class="solution-section-card-1-part-1">
              <img
                src="/whatsapp-business-api/images/caseStudies/delays-1.png"
                alt="section-page-1"
              />
              <div>
                <h6>Low Event Participation</h6>
                <p>
                  The organization faced challenges with event registrations for
                  CPR workshops, health camps, and awareness sessions, as manual
                  follow-ups led to low participation and conversions.
                </p>
              </div>
            </div>
            <div class="solution-section-card-1-part-2">
              <img
                src="/whatsapp-business-api/images/caseStudies/delays-1.png"
                alt="section-page-1"
              />
              <div>
                <h6>Simplified Event Registration & Reminders</h6>
                <p>
                  Using the WhatsApp Business API's flow feature, Save The Young
                  Heart simplified the registration process for CPR workshops
                  and health camps. Automated forms and reminders led to a
                  significant increase in sign-ups, with participants receiving
                  timely updates and ensuring they never missed an event.
                </p>
              </div>
            </div>
          </div>
          <img
            src="/whatsapp-business-api/images/caseStudies/save-card-2.png"
            alt="section-page-1"
            width="25%"
          />
        </div>
        <div class="solution-section-card-3">
          <div class="solution-section-card-1-parts">
            <div class="solution-section-card-1-part-1">
              <img
                src="/whatsapp-business-api/images/caseStudies/poor-1.png"
                alt="section-page-1"
              />
              <div>
                <h6>Inefficient Volunteer Coordination</h6>
                <p>
                  Coordinating volunteers, sharing event updates, and managing
                  tasks was time-consuming and prone to miscommunication.
                </p>
              </div>
            </div>
            <div class="solution-section-card-1-part-2">
              <img
                src="/whatsapp-business-api/images/caseStudies/poor-2.png"
                alt="section-page-1"
              />
              <div>
                <h6>Real-Time Volunteer Management</h6>
                <p>
                  Volunteers now receive task updates, event reminders, and
                  location details about the event via WhatsApp, streamlining
                  communication and ensuring smooth event execution with minimal
                  coordination efforts.
                </p>
              </div>
            </div>
          </div>
          <img
            src="/whatsapp-business-api/images/caseStudies/save-card-3.png"
            alt="section-page-1"
            width="35%"
          />
        </div>
        <div class="solution-section-card-4">
          <div class="solution-section-card-1-parts">
            <div class="solution-section-card-1-part-1">
              <img
                src="/whatsapp-business-api/images/caseStudies/manage-1.png"
                alt="section-page-1"
              />
              <div>
                <h6>Donor Engagement & Fundraising</h6>
                <p>
                  Maintaining strong relationships with donors and ensuring
                  consistent fundraising efforts can be difficult without
                  personalized communication.
                </p>
              </div>
            </div>
            <div class="solution-section-card-1-part-2">
              <img
                src="/whatsapp-business-api/images/caseStudies/manage-2.png"
                alt="section-page-1"
              />
              <div>
                <h6>Streamline Payment Collection</h6>
                <p>
                  By integrating the WhatsApp Chatbot, Save the Young Heart has
                  streamlined donations with seamless, in-app payments. The
                  automation boosts efficiency and has driven a 15X ROI,
                  optimizing the entire donation process.
                </p>
              </div>
            </div>
          </div>
          <img
            src="/whatsapp-business-api/images/caseStudies/save-card-4.png"
            alt="section-page-1"
            width="30%"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="section-page" style="padding-top: 150px;">
    <div class="container">
      <div class="brands-main">
        <h6
          style="font-weight:300;font-size:2.5rem;font-family: Roboto, sans-serif;"
        >
          The
        </h6>
        <h6
          style="font-weight:500;font-size:2.5rem;color:#0c9ffa;font-family: Roboto, sans-serif;"
        >
          Outcome
        </h6>
      </div>
      <p
        class="the-challenge-paragraph d-none d-sm-block"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        The use of automated event reminders kept students and parents up to
        date, enhancing <br />participation and institutional outreach
      </p>
      <p
        class="the-challenge-paragraph d-block d-sm-none"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        The use of automated event reminders kept students and parents up to
        date, enhancing participation and institutional outreach
      </p>

      <div class="the-outcome">
        <div class="the-outcome-1">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;"
          >
            70%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Higher team productivity and coordination among volunteers
          </p>
        </div>
        <div class="the-outcome-2">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;;text-align: center"
          >
            31%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Save the Young Heart increased funds through WhatsApp’s seamless
            donation process.
          </p>
        </div>
        <div class="the-outcome-3">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;text-align: center"
          >
            90%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Payment Success Rate with WhatsApp
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-section-main pt-200">
    <div class="container">
      <div class="testimonials-case">
        <div class="testimonial-part-1">
          <h6
            style="font-weight:600;font-size:2.5rem;color:#000000;font-family: Roboto, sans-serif;margin-bottom:30px"
          >
            Testimonial
          </h6>
          <p
            style="font-weight:300;font-size:1.1rem;color:#606060;font-family: Roboto, sans-serif;line-height:1.5rem;margin-bottom:20px"
          >
            Emovur’s WhatsApp Business API has truly transformed our community
            engagement. With streamlined communication and automation, we've
            boosted event attendance, improved task coordination, and expanded
            our reach, spreading vital heart health information more
            effectively.
          </p>
          <h6
            style="font-weight:400;font-size:2.5rem;color:#606060;font-family: Roboto, sans-serif"
          >
            Dr. Anand Agarwal
          </h6>
          <p
            style="font-weight:500;font-size:1.1rem;color:#606060;font-family: Roboto, sans-serif"
          >
            Founder
          </p>
        </div>
        <!-- <div class="testimonial-part-2">
                <img src="/whatsapp-business-api/images/caseStudies/pavan.png" alt="testimonial-img" />
            </div> -->
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-20">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Is mobile APP Available?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">Yes, its avaliable</p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I assign conversations to specific team members?
                    </a>
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, conversations can be easily assigned to specific team
                      members to ensure accountability and efficient resolution.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Which communication channels can be integrated into the
                      Shared Team Inbox?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      You can integrate channels like WhatsApp, email, Facebook
                      Messenger, Instagram, and more into the Shared Team Inbox.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Does the Shared Team Inbox support automation?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the inbox supports automated workflows, such as
                      assigning chats based on keywords, sending instant
                      replies, and setting up chatbot responses.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Can multiple team members work on the same conversation?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, multiple team members can collaborate on a
                      conversation in real-time, with notes and updates visible
                      to everyone.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Is the Shared Team Inbox suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the feature is designed to scale with your business,
                      making it ideal for teams of all sizes, from small
                      startups to large enterprises.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->

  <PhoneApp />
</WhatsappLayout>
