---
import WhatsappLayout from "../../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../../public/whatsapp-business-api/css/shruti-ather.css";
import LogoStrips from "../../../components/LogoStrips.astro";
import PhoneApp from "../../../components/PhoneApp.astro";

const metaTitle = "Case Study: Shruti Ather | WhatsApp for Clinics";
const metaDescription =
  "Learn how Shruti Ather clinic used WhatsApp to automate appointments and follow-ups with ease.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/case-studies/shruti-ather";
const keywords =
  "marketing case study, digital success stories, client success, marketing campaigns, brand growth";
---

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <div aria-label="breadcrumb">
        <div class="page-tag-container">
          <span class="page-tag"
            ><a href="/whatsapp-business-api/case-studies">Case Studies</a> / <a
              href="/whatsapp-business-api/case-studies/shruti-ather"
              >Shruti Ather</a
            ></span
          >
        </div>
      </div>
      <a target="_blank" class="meta-class-broadcast"
        ><span id="lp-mtp-btn"> Automotive</span></a
      ><br />
      <!-- <h3 style="font-size: 2.5rem;color:#25D366;margin-bottom: 5px">Get more <span
                style="font-size: 2.5rem;color:#696969;margin-bottom: 5px">test drives</span>
        </h3> -->
      <h6 style="font-size: 3rem;">
        Grow your scooter sales

        <span
          class="green-hero-page"
          style="font-size: 3rem;color:#42B763;margin-bottom: 5px"
          >by 20% with
        </span> easy
        <!-- </span> sales easily with<br> -->
        <span
          class="green-hero-page"
          style="font-size: 3rem;color:#42B763;margin-bottom: 5px"
          >WhatsApp!
        </span>
      </h6>
      <div class="education-main-paragraph" style="margin-top: 20px">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Send easy service reminders and get 35% more responses!
        </p>
      </div>
      <div class="education-main-paragraph">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Get 30% more feedback with a simple one-click process!
        </p>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page-banking"
        src="/whatsapp-business-api/images/caseStudies/ather-hero.webp"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>

  <!-- Landing form section ends -->

  <!-- section starts -->
  <div class="pt-100">
    <div class="container">
      <div class="about-us-section">
        <div class="about-us-section-content">
          <div class="about-us-company-section-1">
            <h6
              style="font-weight:500;font-size:27px;font-family: Roboto, sans-serif;color:#0c9ffa;margin-bottom: 10px"
            >
              About Company
            </h6>
            <h6
              style="font-weight:500;font-size:27px;font-family: Roboto, sans-serif;color:#000000;margin-bottom: 10px"
            >
              Shruti Ather
            </h6>
            <p
              style="font-weight:400;font-size:16px;line-height: 1.5rem;font-family: Roboto, sans-serif;color:#696969;margin-bottom: 10px"
            >
              Shruti Ather, an authorized Ather Energy dealer, offers advanced
              electric scooters like the Ather 450X and 450S. Committed to
              sustainable mobility, they focus on seamless sales, service, and
              customer engagement.
            </p>
          </div>
          <div class="about-us-company-section-2">
            <div class="about-us-company-section-2-numbers">
              <div class="about-us-company-section-2-numbers-1">
                <h6>25+</h6>
                <p>Years of <br />Experience</p>
              </div>
              <div class="about-us-company-section-2-numbers-1">
                <h6>20+</h6>
                <p>Stores <br />across India</p>
              </div>
            </div>
            <div class="about-us-company-section-2-images">
              <div class="about-us-company-section-2-images-1">
                <img
                  src="/whatsapp-business-api/images/caseStudies/vector.png"
                  alt=""
                />
                <p>India</p>
              </div>
              <div class="about-us-company-section-2-images-1">
                <img
                  src="/whatsapp-business-api/images/caseStudies/website.png"
                  alt=""
                />
                <p>shrutiather.com</p>
              </div>
              <div
                class="about-us-company-section-2-images-1"
                style="padding: 7px 13px;"
              >
                <img
                  src="/whatsapp-business-api/images/caseStudies/restro.png"
                  alt=""
                />
                <p>Automotive</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section ends -->

  <!-- section starts -->
  <div class="section-page" style="padding-top: 100px;">
    <div class="container">
      <div class="brands-main" style="margin-bottom: 10px">
        <h6 style="font-weight:300;font-size:2.5rem">The</h6>
        <h6 style="font-weight:500;font-size:2.5rem;color:#000000">
          Challenge
        </h6>
      </div>
      <p
        class="the-challenge-paragraph"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        Shruti Ather faced challenges in effectively using modern communication
        platforms in a competitive market:
      </p>
      <div class="the-challenge">
        <img
          src="/whatsapp-business-api/images/caseStudies/challenge.png"
          alt="section-page-1"
          style="width: 40%"
        />
        <div class="text-section">
          <div class="point-not">
            <div class="circle">1</div>
            <div class="content-dot"></div>
            <div class="content">
              <h6>Lead Conversion</h6>
              <p>
                Converting online inquiries and interest into test rides and <br
                />
                confirmed sales proved to be a significant hurdle
              </p>
            </div>
          </div>
          <div class="point-not">
            <div class="circle">2</div>

            <div class="content">
              <h6>Service Communication</h6>
              <p>
                Ineffective communication about service schedules, battery
                updates, and maintenance reminders led to missed opportunities
                to strengthen customer relationships
              </p>
            </div>
          </div>
          <div class="point-not">
            <div class="circle">3</div>

            <div class="content">
              <h6>Customer Engagement</h6>
              <p>
                Engaging eco-conscious and tech-savvy customers required more
                innovative and personalized communication strategies.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-page" style="padding-top: 100px;">
    <div class="container">
      <div class="brands-main">
        <h6
          style="font-weight:300;font-size:2.5rem;font-family: Roboto, sans-serif;"
        >
          The
        </h6>
        <h6
          style="font-weight:500;font-size:2.5rem;color:#0c9ffa;font-family: Roboto, sans-serif;"
        >
          Solution
        </h6>
      </div>
      <p
        class="the-challenge-paragraph"
        style="font-weight:400;font-size:1.3rem;color:#606060;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        Surana College leverages the WhatsApp Business API across critical
        touchpoints in its student and parent journey—from admissions to ongoing
        engagement. The implementation has streamlined and automated multiple
        processes, such as:
      </p>
      <div class="solution-container">
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/ather-solution-1.webp"
            class="solution-image"
            alt="Order Management"
          />
          <div class="solution-content">
            <h6 class="solution-title">Lead Generation</h6>

            <div class="solution-bar-text" style="margin-top: 20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Use Click To WhatsApp Ads button to send Marketing messages and
                generate leads.
              </p>
            </div>
            <div class="solution-bar-text" style="margin-top: 20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Send broadcast messages about new electric scooter models,
                offers, and promotions to potential customers.
              </p>
            </div>
          </div>
        </div>

        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/ather-solution-2.png"
            class="solution-image"
            alt="Lead Management"
          />
          <div class="solution-content">
            <h6 class="solution-title">Nudging Leads Towards Purchase</h6>

            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Send multiple reminders for test ride appointments and offer
                deadlines.
              </p>
            </div>
            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Provide personalized assistance through WhatsApp to help
                customers choose the right scooter and explore financing options
              </p>
            </div>
          </div>
        </div>

        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/ather-solution-3.png"
            class="solution-image"
            alt="Personalized Suggestions"
          />
          <div class="solution-content">
            <h6 class="solution-title">Service Reminders</h6>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Automatically remind customers about upcoming maintenance and
                service appointments.
              </p>
            </div>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Send follow-up notifications after servicing to ensure customers
                are satisfied with the service.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="solution-container">
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/ather-solution-4.png"
            class="solution-image"
            alt="Order Management"
          />
          <div class="solution-content">
            <h6 class="solution-title">Insurance Reminders</h6>

            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Send alerts about upcoming insurance renewal dates, along with
                payment links.
              </p>
            </div>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Offer assistance in selecting insurance add-ons or upgrades.
              </p>
            </div>
          </div>
        </div>

        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/ather-solution-5.png"
            class="solution-image"
            alt="Lead Management"
          />
          <div class="solution-content">
            <h6 class="solution-title">Customer Retention & Engagement</h6>
            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Keep customers updated on exclusive offers, loyalty programs,
                and accessory promotions.
              </p>
            </div>
            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Collect feedback after purchases or services to improve their
                experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-page" style="padding-top: 150px;">
    <div class="container">
      <div class="brands-main">
        <h6
          style="font-weight:300;font-size:2.5rem;font-family: Roboto, sans-serif;"
        >
          The
        </h6>
        <h6
          style="font-weight:500;font-size:2.5rem;color:#0c9ffa;font-family: Roboto, sans-serif;"
        >
          Outcome
        </h6>
      </div>
      <p
        class="the-challenge-paragraph d-none d-sm-block"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        The use of automated event reminders kept students and parents up to
        date, enhancing <br />participation and institutional outreach
      </p>
      <p
        class="the-challenge-paragraph d-block d-sm-none"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        The use of automated event reminders kept students and parents up to
        date, enhancing participation and institutional outreach
      </p>

      <div class="the-outcome">
        <div class="the-outcome-1">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;"
          >
            40%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Increase in Test <br />Ride Bookings
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            More customers booked test rides thanks to easy and timely WhatsApp
            reminders.
          </p>
        </div>
        <div class="the-outcome-2">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;;text-align: center"
          >
            2x
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Improvement in Service <br />Appointment Scheduling
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            The automated reminders and updates made it much easier for
            customers to schedule their service appointments.
          </p>
        </div>
        <div class="the-outcome-3">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;text-align: center"
          >
            60%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Boost in Customer <br /> Retention
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Regular engagement and personalized communication helped strengthen
            customer loyalty and keep them coming back.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-section-main pt-200">
    <div class="container">
      <div class="testimonials-case">
        <div class="testimonial-part-1">
          <h6
            style="font-weight:600;font-size:2.5rem;color:#000000;font-family: Roboto, sans-serif;margin-bottom:30px"
          >
            Testimonial
          </h6>
          <p
            style="font-weight:300;font-size:1.1rem;color:#606060;font-family: Roboto, sans-serif;line-height:1.5rem;margin-bottom:20px"
          >
            Emovur’s WhatsApp initiatives helped Shruti Ather achieve a 30-40%
            rise in customer response rates. The Emovur team’s accessibility and
            assistance made the entire experience seamless and easy
          </p>
          <h6
            style="font-weight:400;font-size:2.5rem;color:#606060;font-family: Roboto, sans-serif"
          >
            Mohan
          </h6>
          <p
            style="font-weight:500;font-size:1.1rem;color:#606060;font-family: Roboto, sans-serif"
          >
            Managing Director
          </p>
        </div>
        <div class="testimonial-part-2">
          <img
            src="/whatsapp-business-api/images/caseStudies/mohan.png"
            alt="testimonial-img"
          />
        </div>
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-20">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Is mobile APP Available?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">Yes, its avaliable</p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I assign conversations to specific team members?
                    </a>
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, conversations can be easily assigned to specific team
                      members to ensure accountability and efficient resolution.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Which communication channels can be integrated into the
                      Shared Team Inbox?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      You can integrate channels like WhatsApp, email, Facebook
                      Messenger, Instagram, and more into the Shared Team Inbox.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Does the Shared Team Inbox support automation?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the inbox supports automated workflows, such as
                      assigning chats based on keywords, sending instant
                      replies, and setting up chatbot responses.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Can multiple team members work on the same conversation?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, multiple team members can collaborate on a
                      conversation in real-time, with notes and updates visible
                      to everyone.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Is the Shared Team Inbox suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the feature is designed to scale with your business,
                      making it ideal for teams of all sizes, from small
                      startups to large enterprises.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->

  <PhoneApp />
</WhatsappLayout>

<style>
  .page-tag {
    display: inline-block;
    color: #000000;
    padding: 3px 15px 3px 8px;
    background: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.8rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
</style>
