---
import WhatsappLayout from "../../../layouts/whatsapp-business-api/WhatsappLayout.astro";
import "../../../../public/whatsapp-business-api/css/surana-college.css";
import LogoStrips from "../../../components/LogoStrips.astro";
import PhoneApp from "../../../components/PhoneApp.astro";

const metaTitle = "Case Study: Surana College | WhatsApp for Education";
const metaDescription =
  "Discover how Surana College simplified admissions and boosted communication through WhatsApp automation.";
const canonicalUrl =
  "https://emovur.com/whatsapp-business-api/case-studies/surana-college";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<style>
  .page-tag {
    display: inline-block;
    color: #000000;
    padding: 3px 15px 3px 8px;
    background: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.8rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
</style>

<WhatsappLayout
  title={metaTitle}
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- Landing form section starts -->
  <div
    class="container landing-form-section-container d-flex justify-content-between align-items-center"
  >
    <div
      class="col-md-8 col-lg-6 col-xl-6 landing-form-section-content mr-md-5"
    >
      <div aria-label="breadcrumb">
        <div class="page-tag-container">
          <span class="page-tag"
            ><a href="/whatsapp-business-api/case-studies">Case Studies</a> / <a
              href="/whatsapp-business-api/case-studies/surana-college"
              >Surana College</a
            ></span
          >
        </div>
      </div>
      <a target="_blank" class="meta-class-broadcast"
        ><span id="lp-mtp-btn">Education</span></a
      ><br />
      <!-- <h3 style="font-size: 2.5rem;color:#25D366;margin-bottom: 5px">Get more <span
                style="font-size: 2.5rem;color:#696969;margin-bottom: 5px">test drives</span>
        </h3> -->
      <h6 class="d-none d-sm-block" style="font-size: 3rem;">
        Turn
        <span style="font-size: 3rem;color:#42B763;margin-bottom: 5px"
          >inquiries
        </span> into <br /><span
          style="font-size: 3rem;color:#696969;margin-bottom: 5px"
        >
        </span> sales easily with<br />
        <span style="font-size: 3rem;color:#42B763;margin-bottom: 5px"
          >WhatsApp!
        </span>
      </h6>
      <h6 class="d-block d-sm-none" style="font-size: 2.5rem;">
        Turn
        <span style="font-size: 2.5rem;color:#42B763;margin-bottom: 5px"
          >inquiries
        </span> into <span
          style="font-size: 2.5rem;color:#696969;margin-bottom: 5px"
        >
        </span> sales easily with
        <span style="font-size: 2.5rem;color:#42B763;margin-bottom: 5px"
          >WhatsApp!
        </span>
      </h6>
      <div class="education-main-paragraph" style="margin-top: 20px">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Send quick reminders for upcoming insurance renewals.
        </p>
      </div>
      <div class="education-main-paragraph">
        <img
          src="/whatsapp-business-api/images/rightMark.svg"
          alt="Vector"
          style="width: 20px"
        />
        <p
          style="color: #606060,font-family: Roboto, sans-serif;font-weight: 300;font-size: 1.1rem"
        >
          Make test drive bookings easy with simple buttons.
        </p>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <img
        class="landing-img-whatsapp-landing-page-banking"
        src="/whatsapp-business-api/images/caseStudies/surana-hero.png"
        alt="Whatsapp Landing Page"
      />
    </div>
  </div>

  <!-- Landing form section ends -->

  <!-- section starts -->
  <div class="about-us-surana pt-100">
    <div class="container">
      <div class="about-us-section">
        <div class="about-us-section-content">
          <div class="about-us-company-section-1">
            <h6
              style="font-weight:500;font-size:27px;font-family: Roboto, sans-serif;color:#0c9ffa;margin-bottom: 10px"
            >
              About Company
            </h6>
            <h6
              style="font-weight:500;font-size:27px;font-family: Roboto, sans-serif;color:#000000;margin-bottom: 10px"
            >
              Surana Educational Institutions
            </h6>
            <p
              style="font-weight:400;font-size:16px;line-height: 1.5rem;font-family: Roboto, sans-serif;color:#696969;margin-bottom: 10px"
            >
              Surana College, established in 1995 in Bangalore, is a leading
              institution known for excellence in higher education. With modern
              campuses and a focus on overall development, it nurtures talent
              across various fields.
            </p>
          </div>
          <div class="about-us-company-section-2">
            <div class="about-us-company-section-2-numbers">
              <div class="about-us-company-section-2-numbers-1">
                <h6>25+</h6>
                <p>Years of <br />Experience</p>
              </div>
              <div class="about-us-company-section-2-numbers-1">
                <h6>20+</h6>
                <p>Stores <br />across India</p>
              </div>
            </div>
            <div class="about-us-company-section-2-images">
              <div class="about-us-company-section-2-images-1">
                <img
                  src="/whatsapp-business-api/images/caseStudies/vector.png"
                  alt=""
                />
                <p>India</p>
              </div>
              <div class="about-us-company-section-2-images-1">
                <img
                  src="/whatsapp-business-api/images/caseStudies/website.png"
                  alt=""
                />
                <p>suranacollege.edu.in</p>
              </div>
              <div
                class="about-us-company-section-2-images-1"
                style="padding: 7px 13px;"
              >
                <img
                  src="/whatsapp-business-api/images/caseStudies/restro.png"
                  alt=""
                />
                <p>Education</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section ends -->

  <!-- section starts -->
  <div class="section-page" style="padding-top: 100px;">
    <div class="container">
      <div class="brands-main" style="margin-bottom: 10px">
        <h6 style="font-weight:300;font-size:2.5rem">The</h6>
        <h6 style="font-weight:500;font-size:2.5rem;color:#000000">
          Challenge
        </h6>
      </div>
      <p
        class="the-challenge-paragraph"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        Thriving in a Competitive Educational Landscape, Surana College Faced <br
        /> Communication Challenges Such As:
      </p>
      <div class="the-challenge">
        <img
          src="/whatsapp-business-api/images/caseStudies/challenge.png"
          alt="section-page-1"
          style="width: 40%"
        />
        <div class="text-section">
          <div class="point-not">
            <div class="circle">1</div>
            <div class="content-dot"></div>
            <div class="content">
              <h6>Inefficient Communication with Students and Parents</h6>
              <p>
                Emails and calls were slow, leading to delays and frustration <br
                />among students and parents.
              </p>
            </div>
          </div>
          <div class="point-not">
            <div class="circle">2</div>

            <div class="content">
              <h6>Manual Handling of Queries</h6>
              <p>
                Managing inquiries about admissions and programs was <br
                />time-consuming, causing delays and missed opportunities.
              </p>
            </div>
          </div>
          <div class="point-not">
            <div class="circle">3</div>

            <div class="content">
              <h6>Lack of Real-Time Updates</h6>
              <p>
                Sharing timely updates on events and notices was difficult,
                creating information gaps.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section ends -->

  <div class="section-page" style="padding-top: 100px;">
    <div class="container">
      <div class="brands-main">
        <h6
          style="font-weight:300;font-size:2.5rem;font-family: Roboto, sans-serif;"
        >
          The
        </h6>
        <h6
          style="font-weight:500;font-size:2.5rem;color:#0c9ffa;font-family: Roboto, sans-serif;"
        >
          Solution
        </h6>
      </div>
      <p
        class="the-challenge-paragraph"
        style="font-weight:400;font-size:1.3rem;color:#606060;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        Surana College leverages the WhatsApp Business API across critical
        touchpoints in its student and parent journey—from admissions to ongoing
        engagement. The implementation has streamlined and automated multiple
        processes, such as:
      </p>
      <div class="solution-container">
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/surana-solution-1.webp"
            class="solution-image"
            alt="Order Management"
          />
          <div class="solution-content">
            <h6 class="solution-title">Lead Generation</h6>

            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Integration of a WhatsApp widget on the website for seamless
                inquiries.
              </p>
            </div>

            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Broadcast messages to prospective students and parents.
              </p>
            </div>
          </div>
        </div>

        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/surana-solution-2.png"
            class="solution-image"
            alt="Lead Management"
          />
          <div class="solution-content">
            <h6 class="solution-title">Admission Process</h6>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Facilitated personalized admission counseling via WhatsApp.
              </p>
            </div>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Automated reminders for completing the admission process
              </p>
            </div>
          </div>
        </div>

        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/surana-solution-3.webp"
            class="solution-image"
            alt="Personalized Suggestions"
          />
          <div class="solution-content">
            <h6 class="solution-title">Student Onboarding</h6>
            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Provided technical support to students for online platforms and
                resources.
              </p>
            </div>
            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Regular follow-ups with parents on student attendance and
                progress.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="solution-container">
        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/surana-solution-4.png"
            class="solution-image"
            alt="Order Management"
          />
          <div class="solution-content">
            <h6 class="solution-title">Academic Updates</h6>

            <div class="solution-bar-text" style="margin-top:10px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Sent real-time updates about timetables, events, and
                announcements.
              </p>
            </div>
            <div class="solution-bar-text" style="margin-top:20px">
              <div class="bar-config"></div>
              <p class="solution-description">
                Automated reminders for exam schedules and result notifications.
              </p>
            </div>
          </div>
        </div>

        <div class="solution-card">
          <img
            src="/whatsapp-business-api/images/caseStudies/surana-solution-5.png"
            class="solution-image"
            alt="Lead Management"
          />
          <div class="solution-content">
            <h6 class="solution-title">Fee Payment & Notifications</h6>
            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Delivered automated fee payment reminders with secure payment
                links.
              </p>
            </div>
            <div class="solution-bar-text">
              <div class="bar-config"></div>
              <p class="solution-description">
                Shared updates on welcome kits and course material deliveries.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-page" style="padding-top: 150px;">
    <div class="container">
      <div class="brands-main">
        <h6
          style="font-weight:300;font-size:2.5rem;font-family: Roboto, sans-serif;"
        >
          The
        </h6>
        <h6
          style="font-weight:500;font-size:2.5rem;color:#0c9ffa;font-family: Roboto, sans-serif;"
        >
          Outcome
        </h6>
      </div>
      <p
        class="the-challenge-paragraph d-none d-sm-block"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        The use of automated event reminders kept students and parents up to
        date, enhancing <br />participation and institutional outreach
      </p>
      <p
        class="the-challenge-paragraph d-block d-sm-none"
        style="font-weight:400;font-size:20px;color:#696969;text-align:center;padding:5px 60px;font-family: Roboto, sans-serif;"
      >
        The use of automated event reminders kept students and parents up to
        date, enhancing participation and institutional outreach
      </p>

      <div class="the-outcome">
        <div class="the-outcome-1">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;"
          >
            40%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Increase in Lead <br />Inquiries
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            The WhatsApp widget and broadcast campaigns drove a significant rise
            in inquiries from prospective students and parents.
          </p>
        </div>
        <div class="the-outcome-2">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;;text-align: center"
          >
            3x
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Improvement in Admission <br />Process Efficiency
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Automated reminders and notifications streamlined the admission
            process, reducing manual effort and delays
          </p>
        </div>
        <div class="the-outcome-3">
          <h6
            style="font-weight:400;font-size:3.5rem;color:#0c9ffa;font-family:Gilroy-Bold, sans-serif;text-align: center"
          >
            50%
          </h6>
          <p
            style="font-weight:400;font-size:1.2rem;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Reduction in Response <br />Time
          </p>
          <p
            style="font-weight:300;font-size:16px;color:#606060;font-family: Roboto, sans-serif;text-align: center;line-height: 1.5rem;"
          >
            Automated and centralized communication ensured quicker responses to
            student and parent queries.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-section-main pt-200">
    <div class="container">
      <div class="testimonials-case">
        <div class="testimonial-part-1">
          <h6
            style="font-weight:600;font-size:2.5rem;color:#000000;font-family: Roboto, sans-serif;margin-bottom:30px"
          >
            Testimonial
          </h6>
          <p
            style="font-weight:300;font-size:1.1rem;color:#606060;font-family: Roboto, sans-serif;line-height:1.5rem;margin-bottom:20px"
          >
            Emovur has been instrumental in transforming our communication with
            the WhatsApp Business API. From streamlining admissions to boosting
            student engagement, their tech solutions have greatly improved
            efficiency. Their proactive support and innovative approach make
            them a trusted partner in today’s competitive education space.
          </p>
          <h6
            class="name-surana"
            style="font-weight:400;font-size:2.5rem;color:#606060;font-family: Roboto, sans-serif"
          >
            Dr . Ramya Balasubramanyam
          </h6>
          <p
            style="font-weight:500;font-size:1.1rem;color:#606060;font-family: Roboto, sans-serif"
          >
            Principal
          </p>
        </div>
        <div class="testimonial-part-2">
          <img
            src="/whatsapp-business-api/images/caseStudies/ramya.png"
            alt="testimonial-img"
          />
        </div>
      </div>
    </div>
  </div>

  <LogoStrips />

  <div class="faq-page faq-tab-wrapper" style="padding-top: 100px;">
    <div class="container">
      <div class="theme-title-one mb-20">
        <h2 class="main-title underline pl-3 pl-lg-0 text-left text-lg-center">
          <span>Frequently Asked Questions</span>
        </h2>
      </div>
      <!-- /.theme-title-one -->
      <div class="row">
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse1"
                    >
                      Is mobile APP Available?</a
                    >
                  </h6>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">Yes, its avaliable</p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                    >
                      Can I assign conversations to specific team members?
                    </a>
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, conversations can be easily assigned to specific team
                      members to ensure accountability and efficient resolution.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse4"
                    >
                      Which communication channels can be integrated into the
                      Shared Team Inbox?</a
                    >
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      You can integrate channels like WhatsApp, email, Facebook
                      Messenger, Instagram, and more into the Shared Team Inbox.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->
            </div>
            <!-- end #accordion -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div class="faq-panel">
            <div class="panel-group theme-accordion" id="accordion2">
              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse44"
                    >
                      Does the Shared Team Inbox support automation?</a
                    >
                  </h6>
                </div>
                <div id="collapse44" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the inbox supports automated workflows, such as
                      assigning chats based on keywords, sending instant
                      replies, and setting up chatbot responses.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 4 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title align-center justify-content-center">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse33"
                    >
                      Can multiple team members work on the same conversation?</a
                    >
                  </h6>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, multiple team members can collaborate on a
                      conversation in real-time, with notes and updates visible
                      to everyone.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 3 -->

              <div class="panel">
                <div class="panel-heading">
                  <h6 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapse11"
                    >
                      Is the Shared Team Inbox suitable for small businesses?</a
                    >
                  </h6>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="text-align: left;">
                      Yes, the feature is designed to scale with your business,
                      making it ideal for teams of all sizes, from small
                      startups to large enterprises.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /panel 1 -->
            </div>
            <!-- end #accordion2 -->
          </div>
          <!-- End of .faq-panel -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.faq-page -->

  <div class="last-strip-container" style="padding-top: 100px">
    <div class="container">
      <div class="last-strip-main">
        <div>
          <div class="brands-main-last" style="margin-bottom: 15px">
            <h6 style="font-weight:300;font-size:1.7rem">Get Started with</h6>
            <h6 style="font-weight:500;font-size:1.7rem;color:#0c9ffa">
              Emovur
            </h6>
            <h6 style="font-weight:300;font-size:1.7rem">Today</h6>
          </div>
          <div class="last-section-tick-mark">
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Engage & Re-engage Prospects</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Drive Sales</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Deliver higher CSAT</p>
            </div>
            <div class="tick-mark-last-section">
              <img
                src="/whatsapp-business-api/images/Green tick.svg"
                alt="Green Tick"
                style="width: 13px"
              />
              <p style="font-size: 1rem">Support at Scale</p>
            </div>
          </div>
          <div
            class="read-me"
            style="margin-top: 20px;background-color:#fff;border:1px solid #0c9ffa"
          >
            <p>Try Emovur for Free</p>
            <img
              src="/whatsapp-business-api/images/Objects.png"
              alt="section-page-1"
              style="width: 7px;"
            />
          </div>
        </div>
        <img
          src="/whatsapp-business-api/images/plat-last-section.png"
          alt="heart"
          style="width:20%;position:absolute;right:40px;bottom:0"
        />
      </div>
    </div>
  </div>

  <!-- mobile footer sticky starts -->
  <div class="mobile-sticky-footer-container">
    <div>
      <a
        href="https://admin.emovur.com/auth/register"
        target="_blank"
        id="stky-sft-mobile-btn"
      >
        Start Free Trial
      </a>
    </div>
    <div>
      <a
        href="/whatsapp-business-api/book-demo"
        target="_blank"
        id="stky-b1d-mobile-btn"
      >
        Book 1-1 Demo
      </a>
    </div>
  </div>
  <!-- mobile footer sticky ends -->

  <PhoneApp />
</WhatsappLayout>
