@media (max-width: 600px) {
  .shape-wrapper {
    display: none;
  }
}
/* gallery */
.gallery-col {
  transform: rotate3d(-2, 2, 1, 30deg);
}

.img-container {
  box-shadow: 60px 60px 15px -24px rgb(69 69 69 / 75%);
  -webkit-box-shadow: 60px 60px 15px -24px rgb(69 69 69 / 75%);
  -moz-box-shadow: 60px 60px 15px -24px rgb(69 69 69 / 75%);
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .gallery-col {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

.feature-block-one.custom {
  padding: 20px;
}

.smm-form-input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(228, 228, 228);
  padding-left: 20px;
  line-height: 5vh;
  margin-bottom: 30px;
}

form button {
  line-height: 5vh;
  border-radius: 50px;
  min-width: 3vw;
  font-size: 2vh;
  text-align: center;
  padding: 0 3vw;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: #0c9ffa;
  border: 2px solid #0c9ffa;
}

form button:hover {
  background-color: #0c9ffa;
  color: #fff;
}

@media (max-width: 991px) {
  form button {
    margin-left: auto;
    margin-right: auto;
  }
  .banner-sub-title-googl-ads {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .main-title-google-ads {
    text-align: center !important;
  }
  .kpis-main-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .dot-part-tread {
    width: 100% !important;
  }
}

#consult-form-holder .container {
  border-radius: 5px;
}

.border-none {
  border: none !important;
}

.underline-dark span:before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 3px;
  width: 99%;
  height: 11px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.floating-sections-container {
  width: 100%;
}

.floating-sections-container .bg-fixed {
  background-attachment: fixed;
  background-position: center;
}

.floating-section-one {
  width: 100%;
  height: 100vh;
  background: url("../../images/services/web-dev/final-scroll-icons-1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.floating-section-two {
  width: 100%;
  height: 100vh;
  background: url("../../images/services/web-dev/final-scroll-icons-2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.floating-section-three {
  width: 100%;
  height: 100vh;
  background: url("../../images/services/web-dev/final-scroll-icons-3.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.floating-section-txt h3 {
  font-size: 4vh;
}
.floating-section-txt p {
  font-size: 2vh;
}

.floating-section-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30vw;
  padding: 30px;
  text-align: center;
}
@media (max-width: 1200px) {
  .floating-section-txt {
    max-width: 50vw;
  }
}
@media (max-width: 767px) {
  .floating-section-txt {
    position: static;
    max-width: unset;
    transform: none;
  }
  .floating-section-one,
  .floating-section-two,
  .floating-section-three {
    height: unset;
    background: none;
    margin-bottom: 50px;
  }
  .banner-sub-title-googl-ads {
    font-size: 20px !important;
  }
  .ads-campaign-text-part,
  .dot-part,
  .kpis-cards,
  .dcm-part,
  .dot-part-dcm {
    width: 100% !important;
    padding: 10px !important;
  }
  .main-title-google-ads-setup {
    text-align: center !important;
  }
  .cards-section-conrainer,
  .challenges {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 10px !important;
  }
  .rogan-hero-section {
    padding-top: 13vh !important;
  }
  .rogan-hero-section .theme-btn,
  .rogan-hero-section .video-button-one {
    margin-right: 0 !important;
  }
}
.card-container .card-content-txt,
.card-container .card-content-icon {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 767px) {
  .card-content {
    flex-direction: column;
  }

  .card-container .card-content-icon {
    padding: 1.5vw;
    width: 10vw;
    margin: 20px auto;
  }
}

.theme-tab-solid.theme-tab .tabs-menu li a {
  background: #fff;
  box-shadow: 0px 30px 70px 0px rgb(223 227 234 / 50%) !important;
}

.custom-tab-img {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .custom-tab-img {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .custom-tab-img {
    width: 65%;
  }
}
@media (min-width: 1200px) {
  .custom-tab-img {
    width: 50%;
  }
}

.balance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.balance-container .handle {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.balance-container .box {
  position: absolute;
  top: 15%;
  width: 50%;
  animation: balance 6s ease infinite;
  z-index: 1;
}

@keyframes balance {
  0% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

.balance-container .scale-left {
  position: absolute;
  top: 8%;
  left: 12%;
  width: 30%;
  animation: plate-left 6s ease infinite;
  z-index: 2;
}

@keyframes plate-left {
  0% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(55px);
  }

  100% {
    transform: translateY(2px);
  }
}

@keyframes plate-left-mobile {
  0% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(2px);
  }
}

.balance-container .scale-right {
  position: absolute;
  top: 8%;
  right: 12%;
  width: 30%;
  animation: plate-right 6s ease infinite;
  z-index: 2;
}

@keyframes plate-right {
  0% {
    transform: translateY(55px);
  }

  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(55px);
  }
}

@keyframes plate-right-mobile {
  0% {
    transform: translateY(40px);
  }

  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(40px);
  }
}

@media screen and (max-width: 400px) {
  .balance-container .scale-right {
    animation: plate-right-mobile 6s ease infinite;
  }
  .balance-container .scale-left {
    animation: plate-left-mobile 6s ease infinite;
  }
}

.google-ads-count {
  font-size: 7vh;
  font-weight: 300;
  line-height: 3.7rem;
}
.google-ads-cards {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px 30px;
  border-radius: 10px;
  height: 285px !important;
}
.google-ads-cards-mainheading {
  gap: 50px;
}

.main-title-google-ads {
  color: #0c9ffa;
}
.banner-sub-title-googl-ads {
  font-size: 26px;
  line-height: 2rem;
  margin-left: 100px;
  margin-right: 100px;
  font-weight: 400 !important;
}
.main-title-google-ads-subhead {
  font-weight: 200 !important;
  font-family: "gilroy", sans-serif !important;
}
.main-title-google-ads-setup {
  font-size: 30px;
  font-weight: 400;
}
.main-title-google-ads-campaign {
  color: #0c9ffa;
  font-size: 30px;
}
.banner-sub-title-googl-ads-setup {
  font-size: 20px;
  margin-left: 30px;
}
.banner-sub-title-googl-ads-list {
  font-size: 15px;
  margin-left: 30px;
  padding-bottom: 10px;
}

.ads-campaign-main {
  gap: 40px;
}
.ads-campaign-tread {
  gap: 20px;
}
.ads-campaign-text-part {
  width: 40%;
}
.kpis-main {
  background-color: #f5fbff;
  padding: 15px 20px;
  max-width: 100%;
}
.kpis-cards {
  width: 35%;
}
.kpis-text-part {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.kpis-main-card {
  margin-left: 100px;
  margin-right: 100px;
  gap: 20px;
}
.kpis-cards-img {
  margin-top: 70px;
}
.dot {
  padding: 3px;
  background-color: #606060;
  border-radius: 50%;
  width: 0;
}
.dot-main {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.cards-section-conrainer {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 100%;
}
.dot-part {
  width: 50%;
}
.dot-part-tread {
  width: 45%;
  padding: 40px 20px 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.dot-part-tread-img {
  position: relative;
  top: 80px;
  right: 90px;
}
.dcm-part {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot-part-dcm {
  width: 40%;
}
.main-part {
  gap: 70px;
}
.dot-para-head {
  font-size: 18px;
  margin-bottom: 10px;
}
.reasons-text-part {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 15px 15px;
  border-radius: 10px;
  width: 250px;
}
.reasons {
  max-width: 100%;
  gap: 30px;
  margin-top: 60px;
}

.challenges {
  border: 2px solid #0c9ffa;
  border-radius: 20px;
  padding: 50px 0;
  margin-left: 50px;
  margin-right: 50px;
}
.rogan-hero-section {
  padding-top: 25vh;
}
.kpis-para {
  font-size: 18px;
}
