---
import Layout from "../../layouts/Layout.astro";

const metaTitle =
  "Case Studies | Real Results from Emovur's Marketing Campaigns";
const metaDescription =
  "Explore how Emovur helped businesses grow through hyperlocal marketing, SEO, social media, and Google Ads. Real strategies. Real outcomes.";
const canonicalUrl = "https://emovur.com/casestudies";
const keywords =
  "digital marketing, emovur, whatsapp business, marketing services, online growth.";
---

<Layout
  title={metaTitle}
  headerType="main"
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- 
			=============================================
				Text Inner Banner One
			============================================== 
			-->
  <div class="text-inner-banner-one pos-r">
    <div class="shape-wrapper">
      <svg class="img-shape shape-one">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 223, 204)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-two">
        <path
          fill-rule="evenodd"
          fill="rgb(182, 255, 234)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-three">
        <path
          fill-rule="evenodd"
          fill="rgb(181, 198, 255)"
          d="M12.000,24.000 C18.627,24.000 24.000,18.627 24.000,12.000 C24.000,5.372 18.627,-0.000 12.000,-0.000 C5.372,-0.000 -0.000,5.372 -0.000,12.000 C-0.000,18.627 5.372,24.000 12.000,24.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-four">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 156, 161)"
          d="M7.500,15.000 C11.642,15.000 15.000,11.642 15.000,7.500 C15.000,3.358 11.642,-0.000 7.500,-0.000 C3.358,-0.000 -0.000,3.358 -0.000,7.500 C-0.000,11.642 3.358,15.000 7.500,15.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-five">
        <path
          fill-rule="evenodd"
          fill="rgb(178, 236, 255)"
          d="M12.500,25.000 C19.403,25.000 25.000,19.403 25.000,12.500 C25.000,5.596 19.403,-0.000 12.500,-0.000 C5.596,-0.000 -0.000,5.596 -0.000,12.500 C-0.000,19.403 5.596,25.000 12.500,25.000 Z"
        ></path>
      </svg>
    </div>
    <!-- /.shape-wrapper -->
    <div class="container">
      <nav aria-label="breadcrumb">
        <p>
          <span class="breadcrumb-item"><a href="/">Home</a></span>
          <span class="breadcrumb-item active" aria-current="page"
            >Portfolio</span
          >
        </p>
      </nav>
      <h1 class="pt-30 pb-15">Your Success Is Our Portfolio</h1>
    </div>
  </div>
  <!-- /.text-inner-banner-one -->

  <div class="casestudty-container">
    <div class="row no-gutters mb-vh-10 align-items-center">
      <div class="col-lg-5 col-12 order-2 order-lg-1">
        <img
          src="/images/portfolio/northcare/northcare-thumbnail.webp"
          alt=""
        />
      </div>
      <div class="col-lg-7 col-12 order-1 order-lg-2">
        <div class="casestudy-content p-5">
          <h2 class="mb-3">Northcare</h2>
          <p class="mb-3">
            Northcare is a multispeciality hospital based out Bangalore. Having
            Established in 1998, it is delivering the best in class treatment
            with latest technology and modern equipments.
          </p>
          <a href="/case-studies/northcare"
            ><i
              class="fa fa-long-arrow-right"
              aria-hidden="true"
              style="color: #97a7d0"></i></a
          >
        </div>
      </div>
    </div>
    <div class="row no-gutters mb-vh-10 align-items-center">
      <div class="col-lg-7 col-12">
        <div class="casestudy-content p-5">
          <h2 class="mb-3">Homicious</h2>
          <p class="mb-3">
            Homicious is a winery startup by a trio in Bangalore. The 100%
            natural without preservatives or accelerators have delighted more
            than 10,000 customers in Bangalore.
          </p>
          <a href="#"
            ><i
              class="fa fa-long-arrow-right"
              aria-hidden="true"
              style="color: #dbddb4"></i></a
          >
        </div>
      </div>
      <div class="col-lg-5 col-12">
        <img
          src="/images/portfolio/homicious/homicious-thumbnail.webp"
          alt=""
        />
      </div>
    </div>
    <div class="row no-gutters mb-vh-10 align-items-center">
      <div class="col-lg-5 col-12 order-2 order-lg-1">
        <img
          src="/images/portfolio/marutisurakshaa/surakshaa-thumbnail.webp"
          alt=""
        />
      </div>
      <div class="col-lg-7 col-12 order-1 order-lg-2">
        <div class="casestudy-content p-5">
          <h2 class="mb-3">Maruti Surakshaa</h2>
          <p class="mb-3">
            Surakshaa car care pvt limited is Maruti Delaer having 10 showrooms
            in Bangalore.
          </p>
          <a href="/case-studies/marutisurakshaa"
            ><i
              class="fa fa-long-arrow-right"
              aria-hidden="true"
              style="color: #adb1b0"></i></a
          >
        </div>
      </div>
    </div>
    <div class="row no-gutters mb-vh-10 align-items-center">
      <div class="col-lg-7 col-12">
        <div class="casestudy-content p-5">
          <h2 class="mb-3">Nexus Maruti</h2>
          <p class="mb-3">
            Nexus is Maruti Suzuki Authorised Service Centre since 1999, rated
            as one of the best ‘MASS‘ by Maruti Suzuki India Pvt Ltd.
          </p>
          <a href="/case-studies/nexusmaruti"
            ><i
              class="fa fa-long-arrow-right"
              aria-hidden="true"
              style="color: #f1bb84"></i></a
          >
        </div>
      </div>
      <div class="col-lg-5 col-12">
        <img src="/images/portfolio/nexusmaruti/Nexus-Maruti.webp" alt="" />
      </div>
    </div>
    <div class="row no-gutters mb-vh-10 align-items-center">
      <div class="col-lg-5 col-12 order-2 order-lg-1">
        <img src="/images/portfolio/doosan/doosan.webp" alt="" />
      </div>
      <div class="col-lg-7 col-12 order-1 order-lg-2">
        <div class="casestudy-content p-5">
          <h2 class="mb-3">Doosan</h2>
          <p class="mb-3">
            A legacy of quality and innovation since 1871. Doosan is a Global
            leader in infrastructure support, manufacturing construction
            machinery and equipment including air compressors, light towers and
            more.
          </p>
          <a href="/case-studies/doosan"
            ><i
              class="fa fa-long-arrow-right"
              aria-hidden="true"
              style="color: #eae7d1"></i></a
          >
        </div>
      </div>
    </div>
  </div>

  <!--
                        =====================================================
                            Contact Banner
                        =====================================================
                        -->
  <div class="action-banner-one bg-white">
    <div class="theme-title-one">
      <h2 class="main-title">
        Do you have any projects?<br /><i>Contact us.</i>
      </h2>
    </div>
    <!-- /.theme-title-one -->
    <a href="/contact" class="theme-btn line-button-one button-rose"
      >Contact us</a
    >
  </div>
  <!-- /.action-banner-one -->
</Layout>
