---
import Layout from "../../layouts/Layout.astro";

const metaTitle =
  "Case Study: Driving Service Bookings for Nexus Maruti | Emovur";
const metaDescription =
  "Explore how Emovur helped Nexus Maruti increase online service bookings and build customer loyalty using hyperlocal campaigns and remarketing strategies.";
const canonicalUrl = "https://emovur.com/case-studies/nexusmaruti";
const keywords =
  "marketing case study, digital success stories, client success, marketing campaigns, brand growth.";
---

<Layout
  title={metaTitle}
  headerType="main"
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- 
			=============================================
				Text Inner Banner One
			============================================== 
			-->
  <div class="text-inner-banner-one pos-r">
    <div class="shape-wrapper">
      <svg class="img-shape shape-one">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 223, 204)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-two">
        <path
          fill-rule="evenodd"
          fill="rgb(182, 255, 234)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-three">
        <path
          fill-rule="evenodd"
          fill="rgb(181, 198, 255)"
          d="M12.000,24.000 C18.627,24.000 24.000,18.627 24.000,12.000 C24.000,5.372 18.627,-0.000 12.000,-0.000 C5.372,-0.000 -0.000,5.372 -0.000,12.000 C-0.000,18.627 5.372,24.000 12.000,24.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-four">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 156, 161)"
          d="M7.500,15.000 C11.642,15.000 15.000,11.642 15.000,7.500 C15.000,3.358 11.642,-0.000 7.500,-0.000 C3.358,-0.000 -0.000,3.358 -0.000,7.500 C-0.000,11.642 3.358,15.000 7.500,15.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-five">
        <path
          fill-rule="evenodd"
          fill="rgb(178, 236, 255)"
          d="M12.500,25.000 C19.403,25.000 25.000,19.403 25.000,12.500 C25.000,5.596 19.403,-0.000 12.500,-0.000 C5.596,-0.000 -0.000,5.596 -0.000,12.500 C-0.000,19.403 5.596,25.000 12.500,25.000 Z"
        ></path>
      </svg>
    </div>
    <!-- /.shape-wrapper -->
    <div class="container">
      <nav aria-label="breadcrumb">
        <p>
          <span class="breadcrumb-item"><a href="/">Home</a></span>
          <span class="breadcrumb-item"
            ><a href="/case-studies">Portfolio</a></span
          >
          <span class="breadcrumb-item active" aria-current="page">Nexus</span>
        </p>
      </nav>
      <h2 class="pt-30 pb-15">Your Success Is Our Portfolio</h2>
    </div>
  </div>
  <!-- /.text-inner-banner-one -->

  <!-- 
			=============================================
				Our Portfolio
			============================================== 
			-->
  <div class="project-details version-one pos-r pb-130 md-pb-70">
    <div class="shape-wrapper">
      <svg class="img-shape shape-one">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 223, 204)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.313 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.313 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-two">
        <path
          fill-rule="evenodd"
          fill="rgb(212, 231, 255)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-three">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 198, 214)"
          d="M12.000,24.000 C18.627,24.000 24.000,18.627 24.000,12.000 C24.000,5.373 18.627,-0.000 12.000,-0.000 C5.373,-0.000 -0.000,5.373 -0.000,12.000 C-0.000,18.627 5.373,24.000 12.000,24.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-four">
        <path
          fill-rule="evenodd"
          fill="rgb(171, 247, 242)"
          d="M12.500,25.000 C19.404,25.000 25.000,19.403 25.000,12.500 C25.000,5.596 19.404,-0.000 12.500,-0.000 C5.596,-0.000 -0.000,5.596 -0.000,12.500 C-0.000,19.403 5.596,25.000 12.500,25.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-five">
        <path
          fill-rule="evenodd"
          opacity="0.835"
          fill="rgb(155, 238, 255)"
          d="M8.000,16.000 C12.418,16.000 16.000,12.418 16.000,8.000 C16.000,3.582 12.418,-0.000 8.000,-0.000 C3.582,-0.000 -0.000,3.582 -0.000,8.000 C-0.000,12.418 3.582,16.000 8.000,16.000 Z"
        ></path>
      </svg>
    </div>
    <!-- /.shape-wrapper -->
    <div class="project-container">
      <div class="d-md-flex align-items-end justify-content-between">
        <div class="project-title-one sm-mb-20">
          <p>Redesign, Branding</p>
          <h1>Nexus Maruti</h1>
        </div>
        <!-- /.project-title-one -->
        <a
          class="theme-btn line-button-one button-orange"
          href="https://nexusmaruti.com"
          target="_blank"
          rel="noopener noreferrer">View Nexus Maruti</a
        >
      </div>
      <div class="img-box mt-85 mb-100 sm-mt-50 sm-mb-60">
        <img src="/images/portfolio/nexusmaruti/nexus-1.webp" alt="" />
      </div>
      <div class="img-description">
        <div class="row align-items-center pb-120 sm-pb-70">
          <div class="col-md-6">
            <div class="description-text">
              <h3 class="des-title">About <span>the Client.</span></h3>
              <p class="pt-20 pb-30">
                Nexus Maruti appraised as truly outstanding 'MASS' by Maruti
                Suzuki India Pvt Ltd. overhauling vehicles at the best consumer
                loyalty, approved to give free and paid help for Maruti Suzuki
                vehicles. Nexus Maruti has been a pioneer from numerous points
                of view directly from its own initiation. Not just the vehicle
                was a first-of-its-sort however its overhauling likewise has
                coordinated its uniqueness.
              </p>
              <p>
                This is particularly evident in the vehicle business where
                clients will in general be suspicious. Gratifying the clients is
                their first concern.
              </p>
            </div>
            <!-- /.description-text -->
          </div>
          <!-- /.col- -->
          <div class="col-md-6">
            <div
              id="potfolio-slider-1"
              class="carousel slide carousel-fade"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="/images/portfolio/nexusmaruti/nexus-client-img-1.jpeg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/nexusmaruti/nexus-client-img-2.jpeg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/nexusmaruti/nexus-client-img-3.jpeg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/nexusmaruti/nexus-client-img-4.jpeg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/nexusmaruti/nexus-client-img-5.jpeg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row align-items-center pb-120 sm-pb-70">
          <div class="col-md-6 order-md-last">
            <div class="description-text">
              <h3 class="des-title">About <span>the website.</span></h3>
              <p class="pt-20">
                Hand tailored website characterized by the fact it's simple to
                read. Blazing Fast loading speed structure enhancing the site
                execution that helps customers with saving extra time a
                similarly make the altruistic for your site. Site advancement
                prosperity check and situating following to expression
                exploration and substance creation. Making webpage the benchmark
                for web lists and customers. Responsive Web Design backed by
                significantly refined staff in this field.
              </p>
            </div>
            <!-- /.description-text -->
          </div>
          <!-- /.col- -->
          <div class="col-md-6 order-md-first">
            <div
              id="potfolio-slider-3"
              class="carousel slide carousel-fade"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="/images/portfolio/nexusmaruti/nexus-web-1.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/nexusmaruti/nexus-web-2.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row align-items-center pb-120 sm-pb-70">
          <div class="col-md-6">
            <div class="description-text">
              <h3 class="des-title">Our <span>Digital marketing</span></h3>
              <p class="pt-20 pb-30">
                Offered web-based media showcasing administrations that aided
                upgrade social mindfulness through online media content.
                Exhibiting the straightforward idea of auto fix business with
                more brand visibility, leads, and eventually more deals
              </p>
              <p>
                At last, acquiring leads and produce more deals with one of a
                kind and reliable SEO content updates, that drove greater power
                to the site because of higher and more noticeable web crawler
                rankings.
              </p>
            </div>
            <!-- /.description-text -->
          </div>
          <!-- /.col- -->
          <div class="col-md-6">
            <div
              id="potfolio-slider-1"
              class="carousel slide carousel-fade"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="/images/portfolio/nexusmaruti/nexus-poster-1.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/nexusmaruti/nexus-poster-2.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/nexusmaruti/nexus-poster-3.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.img-description -->

      <div class="project-img-gallery">
        <div class="row">
          <div class="col-12">
            <div class="img-box">
              <img
                src="/images/portfolio/nexusmaruti/nexus-gallery-2.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-box">
              <img
                src="/images/portfolio/nexusmaruti/nexus-gallery-1.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-box">
              <img
                src="/images/portfolio/nexusmaruti/nexus-gallery-3.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <section id="testimonial-single">
        <div class="testimonial-section-classic style-two pos-r">
          <div class="shape-wrapper">
            <img src="/images/shape/5.svg" alt="" class="shape-one img-shape" />
            <img src="/images/shape/4.svg" alt="" class="shape-two img-shape" />
            <img
              src="/images/shape/4.svg"
              alt=""
              class="shape-three img-shape"
            />
            <img
              src="/images/shape/23.svg"
              alt=""
              class="shape-four img-shape"
            />
            <img
              src="/images/shape/17.svg"
              alt=""
              class="shape-five img-shape"
            />
            <img
              src="/images/shape/24.svg"
              alt=""
              class="shape-six img-shape"
            />
            <img
              src="/images/shape/9.svg"
              alt=""
              class="shape-seven img-shape"
            />
            <img
              src="/images/shape/25.svg"
              alt=""
              class="shape-eight img-shape"
            />
          </div>
          <!-- /.shape-wrapper -->
          <div class="container">
            <div class="theme-title-one text-center">
              <div class="icon-box hide-pr">
                <svg class="bg-shape" width="80px" height="80px">
                  <defs>
                    <linearGradient
                      id="PSgrad_0"
                      x1="0%"
                      x2="0%"
                      y1="100%"
                      y2="0%"
                    >
                      <stop
                        offset="0%"
                        stop-color="rgb(255,175,185)"
                        stop-opacity="1"></stop>
                      <stop
                        offset="100%"
                        stop-color="rgb(255,70,159)"
                        stop-opacity="1"></stop>
                    </linearGradient>
                  </defs>
                  <path
                    fill-rule="evenodd"
                    fill="url(#PSgrad_0)"
                    d="M40.000,-0.000 C62.091,-0.000 80.000,17.908 80.000,40.000 C80.000,62.091 62.091,80.000 40.000,80.000 C17.909,80.000 0.000,62.091 0.000,40.000 C0.000,17.908 17.909,-0.000 40.000,-0.000 Z"
                  ></path>
                </svg>
                <img src="/images/icon/icon7.svg" alt="" class="icon" />
              </div>
              <h2 class="main-title underline">
                <span>What’s Our Client thinks</span><br />
                <span>About Us.</span>
              </h2>
            </div>
            <!-- /.theme-title-one -->

            <div class="inner-container">
              <div class="main-content">
                <div class="item">
                  <p>
                    "I do consider Emovur to be even more an accomplice than a
                    digital marketing agency… I can get on the phone and
                    converse with them whenever and the way that they connect
                    with us as a business, makes it truly heart whelming. I'd
                    suggest Emovur. They're cheerful, exceptionally responsive,
                    and if there's an issue on the grounds, it's dealt with on
                    the spot."
                  </p>
                  <h6 class="name">Suresh</h6>
                  <span class="designation">MD, Nexus Maruti</span>
                </div>
                <!-- /.item -->
              </div>
            </div>
            <!-- /.inner-container -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.testimonial-section-classic -->
      </section>

      <div
        class="theme-pagination-two d-flex justify-content-between align-items-center mt-65 sm-mt-40"
      >
        <a href="/case-studies/marutisurakshaa" class="theme-pager prev">
          <span class="flaticon-back"></span>
          <i>Previous</i>
          <strong>Maruti Surakshaa</strong>
        </a>
        <a href="/case-studies/northcare" class="theme-pager next">
          <span class="flaticon-next"></span>
          <i>Next</i>
          <strong>North Care</strong>
        </a>
      </div>
    </div>
    <!-- /.project-container -->
  </div>
  <!-- /.prpject-details -->

  <!--
			=====================================================
				Contact Banner
			=====================================================
			-->
  <div class="action-banner-one bg-white">
    <div class="theme-title-one">
      <h2 class="main-title">
        Do you have any projects?<br /><i>Contact us.</i>
      </h2>
    </div>
    <!-- /.theme-title-one -->
    <a href="/contact" class="theme-btn line-button-one button-rose"
      >Contact us</a
    >
  </div>
  <!-- /.action-banner-one -->
</Layout>
