---
import Layout from "../../layouts/Layout.astro";

const metaTitle =
  "Case Study: Healthcare Marketing for Northcare Clinic | Emovur";
const metaDescription =
  "See how Emovur enabled Northcare Clinic to attract local patients with targeted Google Ads and SEO—resulting in higher appointment bookings and local visibility.";
const canonicalUrl = "https://emovur.com/case-studies/northcare";
const keywords =
  "marketing case study, digital success stories, client success, marketing campaigns, brand growth.";
---

<Layout
  title={metaTitle}
  headerType="main"
  description={metaDescription}
  canonical={canonicalUrl}
  keywords={keywords}
>
  <!-- 
			=============================================
				Text Inner Banner One
			============================================== 
			-->
  <div class="text-inner-banner-one pos-r">
    <div class="shape-wrapper">
      <svg class="img-shape shape-one">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 223, 204)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-two">
        <path
          fill-rule="evenodd"
          fill="rgb(182, 255, 234)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-three">
        <path
          fill-rule="evenodd"
          fill="rgb(181, 198, 255)"
          d="M12.000,24.000 C18.627,24.000 24.000,18.627 24.000,12.000 C24.000,5.372 18.627,-0.000 12.000,-0.000 C5.372,-0.000 -0.000,5.372 -0.000,12.000 C-0.000,18.627 5.372,24.000 12.000,24.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-four">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 156, 161)"
          d="M7.500,15.000 C11.642,15.000 15.000,11.642 15.000,7.500 C15.000,3.358 11.642,-0.000 7.500,-0.000 C3.358,-0.000 -0.000,3.358 -0.000,7.500 C-0.000,11.642 3.358,15.000 7.500,15.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-five">
        <path
          fill-rule="evenodd"
          fill="rgb(178, 236, 255)"
          d="M12.500,25.000 C19.403,25.000 25.000,19.403 25.000,12.500 C25.000,5.596 19.403,-0.000 12.500,-0.000 C5.596,-0.000 -0.000,5.596 -0.000,12.500 C-0.000,19.403 5.596,25.000 12.500,25.000 Z"
        ></path>
      </svg>
    </div>
    <!-- /.shape-wrapper -->
    <div class="container">
      <nav aria-label="breadcrumb">
        <p>
          <span class="breadcrumb-item"><a href="/">Home</a></span>
          <span class="breadcrumb-item"
            ><a href="/case-studies">Portfolio</a></span
          >
          <span class="breadcrumb-item active" aria-current="page"
            >Northcare</span
          >
        </p>
      </nav>
      <h2 class="pt-30 pb-15">Your Success Is Our Portfolio</h2>
    </div>
  </div>
  <!-- /.text-inner-banner-one -->

  <!-- 
			=============================================
				Our Portfolio
			============================================== 
			-->
  <div class="project-details version-one pos-r pb-130 md-pb-70">
    <div class="shape-wrapper">
      <svg class="img-shape shape-one">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 223, 204)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.313 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.313 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-two">
        <path
          fill-rule="evenodd"
          fill="rgb(212, 231, 255)"
          d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-three">
        <path
          fill-rule="evenodd"
          fill="rgb(255, 198, 214)"
          d="M12.000,24.000 C18.627,24.000 24.000,18.627 24.000,12.000 C24.000,5.373 18.627,-0.000 12.000,-0.000 C5.373,-0.000 -0.000,5.373 -0.000,12.000 C-0.000,18.627 5.373,24.000 12.000,24.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-four">
        <path
          fill-rule="evenodd"
          fill="rgb(171, 247, 242)"
          d="M12.500,25.000 C19.404,25.000 25.000,19.403 25.000,12.500 C25.000,5.596 19.404,-0.000 12.500,-0.000 C5.596,-0.000 -0.000,5.596 -0.000,12.500 C-0.000,19.403 5.596,25.000 12.500,25.000 Z"
        ></path>
      </svg>
      <svg class="img-shape shape-five">
        <path
          fill-rule="evenodd"
          opacity="0.835"
          fill="rgb(155, 238, 255)"
          d="M8.000,16.000 C12.418,16.000 16.000,12.418 16.000,8.000 C16.000,3.582 12.418,-0.000 8.000,-0.000 C3.582,-0.000 -0.000,3.582 -0.000,8.000 C-0.000,12.418 3.582,16.000 8.000,16.000 Z"
        ></path>
      </svg>
    </div>
    <!-- /.shape-wrapper -->
    <div class="project-container">
      <div class="d-md-flex align-items-end justify-content-between">
        <div class="project-title-one sm-mb-20">
          <p>Redesign, Branding</p>
          <h1>North Care</h1>
        </div>
        <!-- /.project-title-one -->
        <div class="info-text-list">
          <h6>Date</h6>
          <p>23 July, 2018</p>
        </div>
        <!-- /.info-text-list -->
        <ul class="social-icon-two sm-mt-40">
          <li>
            <a href="#" style="background: #3b5998;"
              ><i class="fa fa-facebook" aria-hidden="true"></i></a
            >
          </li>
          <li>
            <a href="#" style="background: #26a6d1;"
              ><i class="fa fa-twitter" aria-hidden="true"></i></a
            >
          </li>
          <li>
            <a href="#" style="background: #007ab9;"
              ><i class="fa fa-linkedin" aria-hidden="true"></i></a
            >
          </li>
          <li>
            <a href="#" style="background: #cb2027;"
              ><i class="fa fa-pinterest" aria-hidden="true"></i></a
            >
          </li>
        </ul>
        <!-- /.social-icon-two -->
      </div>
      <div class="img-box mt-85 mb-100 sm-mt-50 sm-mb-60">
        <img
          src="/images/portfolio/northcare/northcare-case-banner.png"
          alt=""
        />
      </div>
      <div class="img-description">
        <div class="row align-items-center pb-120 sm-pb-70">
          <div class="col-md-6">
            <div class="description-text">
              <h3 class="des-title">About <span>the Client.</span></h3>
              <strong class="pt-20 pb-30"
                >Northcare a place of hope and recovery.</strong
              >
              <p>
                Multisectoral, team-based approach embraces principles that are
                worked around the possibility of patient-first and that each
                specialist at Northcare is a human consideration master,
                exceeding any and all expectations as they live by the credence
                that each and every life is precious. At the point when they set
                out on these excursions, stories arise - accounts of coarseness,
                assurance and and Hope (REACH) to treat both body and mind.
              </p>
            </div>
            <!-- /.description-text -->
          </div>
          <!-- /.col- -->
          <div class="col-md-6">
            <div
              id="potfolio-slider-1"
              class="carousel slide carousel-fade"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="/images/portfolio/northcare/northcare-client-img-1.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/northcare/northcare-client-img-2.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/northcare/northcare-client-img-3.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/northcare/northcare-client-img-4.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row align-items-center pb-120 sm-pb-70">
          <div class="col-md-6 order-md-last">
            <div class="description-text">
              <h3 class="des-title">About <span>the website.</span></h3>
              <strong class="pt-20 pb-30"
                >Responsive site for every gadget, so that no single client is
                lost.</strong
              >
              <p>
                Depending on screen size, stage, and direction, our adaptable
                site adjusts to the client's behaviour and climate. Improved
                customer service
              </p>
            </div>
            <!-- /.description-text -->
          </div>
          <!-- /.col- -->
          <div class="col-md-6 order-md-first">
            <div
              id="potfolio-slider-2"
              class="carousel slide carousel-fade"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="/images/portfolio/northcare/northcare-1.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/northcare/northcare-2.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/northcare/northcare-3.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row align-items-center pb-120 sm-pb-70">
          <div class="col-md-6">
            <div class="description-text">
              <h3 class="des-title pb-30">
                Our <span>Digital Marketing</span>
              </h3>
              <p>
                Experts who know how to take care of all aspects of digital
                technology have shown an unquestionable mindset in the health
                care business, and have more brand awareness, leading advantages
                and final customer satisfaction solutions, which attracts A wide
                audience. It is both profitable and measurable. Compelling SEO
                strategies and marketing techniques have brought more growth and
                more visible search engine rankings.
              </p>
            </div>
            <!-- /.description-text -->
          </div>
          <!-- /.col- -->
          <div class="col-md-6">
            <div
              id="potfolio-slider-3"
              class="carousel slide carousel-fade"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="/images/portfolio/northcare/northcare-dm-1.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/images/portfolio/northcare/northcare-dm-2.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.img-description -->

      <div class="project-img-gallery">
        <div class="row">
          <div class="col-12">
            <div class="img-box">
              <img
                src="/images/portfolio/northcare/northcare-showcase-1.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-box">
              <img
                src="/images/portfolio/northcare/northcare-showcase-2.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-box">
              <img
                src="/images/portfolio/northcare/northcare-showcase-3.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <section id="testimonial-single">
        <div class="testimonial-section-classic style-two pos-r">
          <div class="shape-wrapper">
            <img src="/images/shape/5.svg" alt="" class="shape-one img-shape" />
            <img src="/images/shape/4.svg" alt="" class="shape-two img-shape" />
            <img
              src="/images/shape/4.svg"
              alt=""
              class="shape-three img-shape"
            />
            <img
              src="/images/shape/23.svg"
              alt=""
              class="shape-four img-shape"
            />
            <img
              src="/images/shape/17.svg"
              alt=""
              class="shape-five img-shape"
            />
            <img
              src="/images/shape/24.svg"
              alt=""
              class="shape-six img-shape"
            />
            <img
              src="/images/shape/9.svg"
              alt=""
              class="shape-seven img-shape"
            />
            <img
              src="/images/shape/25.svg"
              alt=""
              class="shape-eight img-shape"
            />
          </div>
          <!-- /.shape-wrapper -->
          <div class="container">
            <div class="theme-title-one text-center">
              <div class="icon-box hide-pr">
                <svg class="bg-shape" width="80px" height="80px">
                  <defs>
                    <linearGradient
                      id="PSgrad_0"
                      x1="0%"
                      x2="0%"
                      y1="100%"
                      y2="0%"
                    >
                      <stop
                        offset="0%"
                        stop-color="rgb(255,175,185)"
                        stop-opacity="1"></stop>
                      <stop
                        offset="100%"
                        stop-color="rgb(255,70,159)"
                        stop-opacity="1"></stop>
                    </linearGradient>
                  </defs>
                  <path
                    fill-rule="evenodd"
                    fill="url(#PSgrad_0)"
                    d="M40.000,-0.000 C62.091,-0.000 80.000,17.908 80.000,40.000 C80.000,62.091 62.091,80.000 40.000,80.000 C17.909,80.000 0.000,62.091 0.000,40.000 C0.000,17.908 17.909,-0.000 40.000,-0.000 Z"
                  ></path>
                </svg>
                <img src="/images/icon/icon7.svg" alt="" class="icon" />
              </div>
              <h2 class="main-title underline">
                <span>What’s Our Client thinks</span><br />
                <span>About Us.</span>
              </h2>
            </div>
            <!-- /.theme-title-one -->

            <div class="inner-container">
              <div class="main-content">
                <div class="item">
                  <p class="pb-3">
                    We were somewhat anxious to put such a great amount into
                    digital marketing. however, our actions immediately began
                    creating a profit from speculation. We were unable to be
                    more excited!"
                  </p>
                  <p>
                    They have such an extraordinary group that helps enhance
                    Healthcare by their Digital Marketing Strategies made for
                    your particular business objectives. Their capacity to
                    improve SEO and increment Google search positioning aids
                    reliably get new customers. I strongly suggest working with
                    Emovur, on the off chance that you are hoping to take your
                    computerised promoting endeavours to something we had not
                    thought of.
                  </p>
                  <h6 class="name">Dr. Sariya Mohammadi J</h6>
                  <span class="designation"
                    >Breast and General Surgeon, North Care Medical Centre</span
                  >
                </div>
                <!-- /.item -->
              </div>
            </div>
            <!-- /.inner-container -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.testimonial-section-classic -->
      </section>

      <div
        class="theme-pagination-two d-flex justify-content-between align-items-center mt-65 sm-mt-40"
      >
        <a href="/case-studies/nexusmaruti" class="theme-pager prev">
          <span class="flaticon-back"></span>
          <i>Previous</i>
          <strong>Nexus Maruti</strong>
        </a>
        <a href="/case-studies/marutisurakshaa" class="theme-pager next">
          <span class="flaticon-next"></span>
          <i>Next</i>
          <strong>Maruti Surakshaa</strong>
        </a>
      </div>
    </div>
    <!-- /.project-container -->
  </div>
  <!-- /.prpject-details -->

  <!--
			=====================================================
				Contact Banner
			=====================================================
			-->
  <div class="action-banner-one bg-white">
    <div class="theme-title-one">
      <h2 class="main-title">
        Do you have any projects?<br /><i>Contact us.</i>
      </h2>
    </div>
    <!-- /.theme-title-one -->
    <a href="/contact" class="theme-btn line-button-one button-rose"
      >Contact us</a
    >
  </div>
  <!-- /.action-banner-one -->
</Layout>
